<div id="content">
  <div class="breadcrumbs">
	 <ul>
	   <li><a href="/" title="Home">Home</a>&gt;</li>
     <li><a href="/" title="Owner's Center">Owner's Center</a>&gt;</li>
     <li><a href="/dealers" title="Find a Dealer">Find a Dealer</a></li>&gt; 
     <li>Search Resuts</li>
   </ul>
 </div>
 <div class="content_wrap group">
		<div class="side_nav col">
      <div class="category sidebox single">
        <h2>Owner's Center</h2>
        <ul>
          <li><a href="#" title="Operator's Manual">Operator's Manual</a></li>
          <li><a href="#" title="Product Registration">Product Registration</a></li>
          <li><a href="#" title="Find Parts, Accessories &amp; Attachments">Find Parts, Accessories &amp; Attachments</a></li>
          <li class="active"><a href="/dealers" title="Find a Dealer">Find a Dealer</a></li>
          <li><a href="#" title="Find a Service Center">Find a Service Center</a></li>
          <li><a href="/faqs" title="FAQs">FAQs</a></li>
          <li><a href="#" title="Tips &amp; Tricks">Tips &amp; Tricks</a></li>
          <li><a href="#" title="Diagnose &amp; Troubleshoot">Diagnose &amp; Troubleshoot</a></li>
          <li><a href="#" title="Maintenance">Maintenance</a></li>
          <li><a href="#" title="Contact Us">Contact Us</a></li>
        </ul>
        </div>
        <div class="sidebox single">
          <h2>Contact Us</h2>
          <ul class="contact_us">
            <li><strong>1-800-269-6215</strong></li>
            <li>Mon. - Fri. 8AM - 6PM EST</li>
            <li>Sat. 9AM - 5PM EST</li>	
            <li><a class="button email" href="#">Email Us</a></li>
          </ul>
        </div>
        <div class="sidebox service_locator">
				  <h2>Service Locator</h2>
          <form method="get" action="">
            <ul>
						  <li>
                <label for="zip">Zip Code:</label>
                <input type="text" name="zip" id="zip" value="Enter Zip Code" onFocus="this.value='';" onBlur="if (this.value == '') { this.value = 'Enter Zip Code'; }" class="text" />
						  </li>
						  <li>
                <label for="radius">Within:</label>
                <select name="radius" id="radius">
								  <option value="10">0-10 miles</option>
                </select>
              </li>
              <li>
                <label for="brand_option">Brand:</label>
                <select name="brand_option" id="brand_option">
								  <option value="Bolens">Bolens</option>
                </select>
						  </li>
              <li><input type="submit" class="button" value="Find Service Centers" /></li>
            </ul>
          </form>
        </div>
        <div class="callouts">
          <a href="#" title="Parts Locator">
            <img src="/wcpics/MTDProducts/en_US/images/parts-locator.png" border="0" alt="Parts Locator" />
          </a>
        </div>
		  </div>
		  <div class="main col"> 
        <h3 class="results">The following dealers are located within 10 miles of Zip Code 44118.</h3>
        <div class="search_results">
          <h3>Mower Clinic Corporation <span>Distance: 2.2 miles</span></h3>
          <p>
            1498 GARDEN DRIVE<br />
            SOUTH EUCLID OH 44121<br />
            Phone: (216) 398-3423
          </p>
          <a href="/dealers/directions?langId=-1&map=true&destname=CUTTING+EDGE+LAWN+CENTER&destaddress=603+SOUTH+SANTA+FE+&destcity=VISTA&deststateprovince=CA&destpostalcode=92084&destphone=(760)+726-3931&destlat=33.196126&destlng=-117.238360&origcountry=US" class="button directions">Directions</a>
        </div>   
        <div class="search_results">
          <h3>Mower Clinic Corporation <span>Distance: 2.2 miles</span></h3>
          <p>
            1498 GARDEN DRIVE<br />
            SOUTH EUCLID OH 44121<br />
            Phone: (216) 398-3423
          </p>
          <a href="/dealers/directions?langId=-1&map=true&destname=CUTTING+EDGE+LAWN+CENTER&destaddress=603+SOUTH+SANTA+FE+&destcity=VISTA&deststateprovince=CA&destpostalcode=92084&destphone=(760)+726-3931&destlat=33.196126&destlng=-117.238360&latitude=33.083&longitude=-117.23696&origcountry=US" class="button directions">Directions</a>
        </div> 
        <div class="search_results">
        	<h3>Mower Clinic Corporation <span>Distance: 2.2 miles</span></h3>
          <p>
            1498 GARDEN DRIVE<br />
            SOUTH EUCLID OH 44121<br />
            Phone: (216) 398-3423
          </p>
          <a href="/dealers/directions?langId=-1&map=true&destname=CUTTING+EDGE+LAWN+CENTER&destaddress=603+SOUTH+SANTA+FE+&destcity=VISTA&deststateprovince=CA&destpostalcode=92084&destphone=(760)+726-3931&destlat=33.196126&destlng=-117.238360&latitude=33.083&longitude=-117.23696&origcountry=US" class="button directions">Directions</a>
        </div>
        <div class="search_results">
        	<h3>Mower Clinic Corporation <span>Distance: 2.2 miles</span></h3>
          <p>
            1498 GARDEN DRIVE<br />
            SOUTH EUCLID OH 44121<br />
            Phone: (216) 398-3423
          </p>
          <a href="/dealers/directions?langId=-1&map=true&destname=CUTTING+EDGE+LAWN+CENTER&destaddress=603+SOUTH+SANTA+FE+&destcity=VISTA&deststateprovince=CA&destpostalcode=92084&destphone=(760)+726-3931&destlat=33.196126&destlng=-117.238360&latitude=33.083&longitude=-117.23696&origcountry=US" class="button directions">Directions</a>
        </div>
        <div class="search_results">
          <h3>Mower Clinic Corporation <span>Distance: 2.2 miles</span></h3>
          <p>
            1498 GARDEN DRIVE<br />
            SOUTH EUCLID OH 44121<br />
            Phone: (216) 398-3423
          </p>
          <a href="/dealers/directions?langId=-1&map=true&destname=CUTTING+EDGE+LAWN+CENTER&destaddress=603+SOUTH+SANTA+FE+&destcity=VISTA&deststateprovince=CA&destpostalcode=92084&destphone=(760)+726-3931&destlat=33.196126&destlng=-117.238360&latitude=33.083&longitude=-117.23696&origcountry=US" class="button directions">Directions</a>
        </div>  
        <div class="search_results">
          <h3>Mower Clinic Corporation <span>Distance: 2.2 miles</span></h3>
          <p>
            1498 GARDEN DRIVE<br />
            SOUTH EUCLID OH 44121<br />
            Phone: (216) 398-3423
          </p>
          <a href="/dealers/directions?langId=-1&map=true&destname=CUTTING+EDGE+LAWN+CENTER&destaddress=603+SOUTH+SANTA+FE+&destcity=VISTA&deststateprovince=CA&destpostalcode=92084&destphone=(760)+726-3931&destlat=33.196126&destlng=-117.238360&latitude=33.083&longitude=-117.23696&origcountry=US" class="button directions">Directions</a>
        </div>     
      </div>   
		</div>
	</div>
</div>