<div id="content">
	<div class="breadcrumbs">
   <ul>
     <li><a href="/" title="Home">Home</a>&gt;</li>
     <li><a href="/" title="Owner's Center">Owner's Center</a>&gt;</li>
     <li>Find a Dealer</li>
   </ul>
	</div>
	<div class="content_wrap group">
		<div class="side_nav col">
    	<div class="category sidebox single">
      	<h2>Owner's Center</h2>
      	<ul>
          <li><a href="#" title="Operator's Manual">Operator's Manual</a></li>
          <li><a href="#" title="Product Registration">Product Registration</a></li>
          <li><a href="#" title="Find Parts, Accessories &amp; Attachments">Find Parts, Accessories &amp; Attachments</a></li>
          <li class="active"><a href="/dealers" title="Find a Dealer">Find a Dealer</a></li>
          <li><a href="#" title="Find a Service Center">Find a Service Center</a></li>
          <li><a href="/faqs" title="FAQs">FAQs</a></li>
          <li><a href="#" title="Tips &amp; Tricks">Tips &amp; Tricks</a></li>
          <li><a href="#" title="Diagnose &amp; Troubleshoot">Diagnose &amp; Troubleshoot</a></li>
          <li><a href="#" title="Maintenance">Maintenance</a></li>
        	<li><a href="#" title="Contact Us">Contact Us</a></li>
        </ul>
      </div>
      <div class="sidebox single">
      	<h2>Contact Us</h2>
      	<ul class="contact_us">
          <li><strong>1-800-269-6215</strong></li>
          <li>Mon. - Fri. 8AM - 6PM EST</li>
          <li>Sat. 9AM - 5PM EST</li>	
          <li><a class="button email" href="#">Email Us</a></li>
        </ul>
      </div>
      <div class="callouts">
      	<a href="#" title="Parts Locator">
          <img src="/wcpics/MTDProducts/en_US/images/parts-locator.png" border="0" alt="Parts Locator" />
        </a>
      </div>
		</div>
		<div class="main col">
      <div class="full_width col">
        <h4>Find Dealers</h2>
        <p>Enter your zip code below to find an independent dealer in your area.</p>
        <form name="service_locator" id="service_loc_form" action="/dealers/results" method="get">
          <ul class="service_center">
						<li>
              <fieldset><strong>Zip Code:</strong> </fieldset> 
              <input type="text" name="q" value="Enter Zip Code" onFocus="this.value='';" onBlur="if (this.value == '') { this.value = 'Enter Zip Code'; }" class="text" />
            </li>
            <li>
              <fieldset><strong>Within:</strong> </fieldset>
            	<select name="within_distance" class="within_distance">
                <option value="#">0-10 miles</option>
                <option value="#">11-50 miles</option>
                <option value="#">51-250 miles</option>
                <option value="#">251-500 miles</option>
                <option value="#">Any Distance</option>
              </select>
            </li>
            <li><input type="submit" class="button" value="Find Dealers" /></li>
          </ul>   
        </form>      
      </div>
    </div>     
	</div>
</div>