<div id="content">
	<div class="breadcrumbs">
		<ul>
	  	<li><a href="/" title="Home">Home</a>&gt;</li>
    	<li><a href="/" title="Owner's Center">Owner's Center</a>&gt;</li>
    	<li><a href="/dealers" title="Find a Dealer">Find a Dealer</a></li>&gt; 
    	<li>Find a Dealer Directions</li>
  	</ul>
	</div>
	<div class="content_wrap group">
		<div class="side_nav col">
			<div class="single sidebox">
				<h2>Owners Center</h2>
				<ul>
					<li><a href="#" title="Operator's Manual">Operator's Manual</a></li>
          <li><a href="#" title="Product Registration">Product Registration</a></li>
          <li><a href="#" title="Find Parts, Accessories &amp; Attachments">Find Parts, Accessories &amp; Attachments</a></li>
          <li class="active"><a href="/dealers" title="Find a Dealer">Find a Dealer</a></li>
          <li><a href="#" title="Find a Service Center">Find a Service Center</a></li>
          <li><a href="/faqs" title="FAQs">FAQs</a></li>
          <li><a href="#" title="Tips &amp; Tricks">Tips &amp; Tricks</a></li>
          <li><a href="#" title="Diagnose &amp; Troubleshoot">Diagnose &amp; Troubleshoot</a></li>
          <li><a href="#" title="Maintenance">Maintenance</a></li>
          <li><a href="#" title="Contact Us">Contact Us</a></li>
				</ul>
			</div>
			<div class="contact sidebox">
				<h2>Contact Us</h2>
				<p><span class="phone">1-800-269-6215</span><span class="hours">Mon. - Fri. 8AM - 8PM &amp;</span><span class="hours">Sat. 9AM - 5PM EST</span></p>
			</div>
			<script>
				function validatePartorModel(findBy, input)
				{
					var input = input.value;
					
					//alert(form + ", " + input);
					if(input == '' || input == 'Enter Part #' || input == 'Enter Model #')
					{
						//alert("Blank or unchanged response " + form + ", " + input);
					}
					else {
						if(findBy == 'part')
						{
							document.forms['findByPartNumberSidebar'].partNumber.value = input;
							document.forms['findByPartNumberSidebar'].submit();
						}
						else if(findBy == 'model')
						{
							document.forms['findByModelNumberSidebar'].arimn.value = input;
							document.forms['findByModelNumberSidebar'].submit();
						}
						
					}
				}
			</script>
			<div class="category sidebox single">
				<h2>Part Finder</h2>
        <ul class="findPart">
          <li class="partNo">
          	Know your part number? <br>
						<form name="findByPartNumberSidebar" id="pNumber" action="http://www.mtdparts.com/webapp/wcs/stores/servlet/PartFinderView" target="_blank">
							<input type="hidden" name="storeId" value="10101">
							<input type="hidden" name="catalogId" value="19502">
							<input type="hidden" name="langId" value="-1">
              <input type="text" name="partNumber" value="Enter Part #" onfocus="this.value='';" onblur="if (this.value == '') { this.value = 'Enter Part #'; }">
              <input type="button" class="goBtn" value="Go!" alt="Go!" onclick="javascript:validatePartorModel('part', partNumber);">
            </form>
          </li> 
          <li class="partNo">Know your model number? <br>
          	<form name="findByModelNumberSidebar" id="pNumber" action="http://www.mtdparts.com/webapp/wcs/stores/servlet/ARIPartFinderView" target="_blank">
							<input type="hidden" name="storeId" value="10101">
							<input type="hidden" name="catalogId" value="19502">
							<input type="hidden" name="langId" value="-1">
			        <input type="text" name="arimn" value="Enter Model #" onfocus="this.value='';" onblur="if (this.value == '') { this.value = 'Enter Model #'; }">
              <input type="button" class="goBtn" value="Go!" alt="Go!" onclick="javascript:validatePartorModel('model', arimn);">
            </form>
          </li>
          <li style="padding-right: 15px;">
          	Don't know your model number?<br>
						You can use the Part Finder to help find your model and the right part for your machine.<br>
						<a href="http://www.mtdparts.com/webapp/wcs/stores/servlet/ARIPartFinderView?storeId=10101&amp;catalogId=19502&amp;langId=-1" class="matchingBtn" target="_mtdparts">Matching Models</a>
          </li>
      	</ul>
			</div>
			<div class="callouts">
			<!-- Start- JSP File Name: eMarketingSpotDisplayGeneric.jsp -->
				<div>
					<a href="ClickInfo?evtype=CpgnClick&amp;mpe_id=725627&amp;intv_id=10590&amp;storeId=10500&amp;catalogId=20500&amp;langId=-1&amp;URL=http%3a%2f%2fwww.mtdparts.com%2fwebapp%2fwcs%2fstores%2fservlet%2fARIPartFinderView%3fstoreId%3d10101%26catalogId%3d19502%26langId%3d-1">
						<img src="/wcsstore/MTDProducts/Attachment/en_US/leftNav/parts-locator.png" alt="" border="0">
					</a>
				</div>
				<!-- End - JSP File Name: eMarketingSpotDisplayGeneric.jsp -->
				<!-- Start- JSP File Name: eMarketingSpotDisplayGeneric.jsp -->
				<!-- End - JSP File Name: eMarketingSpotDisplayGeneric.jsp -->
			</div>
		</div>
		<div class="main col">
			<h3>Dealers</h3>
			<h4><%= params['destname'] %></h4>
			<p>
				<%= params['destaddress'] %> <br>			
				<%= params['destcity'] %>, <%= params['deststateprovince'] %> <%= params['destpostalcode'] %><br><%= params['destphone'] %>
			</p>
			<!-- PRODUCT RESULTS : START -->
			<form action="/dealers/directions/results" method="get" enctype="text/plain" name="dealerSearchForm" onsubmit="javascript: return false;">
				<input type="hidden" name="storeId" value="10500">
				<input type="hidden" name="catalogId" value="20500">
				<input type="hidden" name="map" value="false">
				<input type="hidden" name="transaction" value="route">
				<input type="hidden" name="template" value="route">
				<input type="hidden" name="routeMaps" value="3">
				<input type="hidden" name="mapWidth" value="525">
				<input type="hidden" name="destname" value="<%= params['destname'] %>">
				<input type="hidden" name="destaddress" value="<%= params['destaddress'] %>">
				<input type="hidden" name="destcity" value="<%= params['destcity'] %>">
				<input type="hidden" name="deststateprovince" value="<%= params['deststateprovince'] %>">
				<input type="hidden" name="destpostalcode" value="<%= params['destpostalcode'] %>">
				<input type="hidden" name="destphone" value="<%= params['destphone'] %>">
				<input type="hidden" name="destlat" value="<%= params['destlat'] %>">
        <input type="hidden" name="destlng" value="<%= params['destlng'] %>">												
				<input type="hidden" name="latitude" value="<%= params['latitude'] %>">
	      <input type="hidden" name="longitude" value="<%= params['longitude'] %>">	
	      <input type="hidden" name="origcountry" value="<%= params['origcountry'] %>">											
				<div class="map_it">			
					<p><strong>Enter your address below for Door-to-Door directions:</strong></p>
					<div style="float: left">
						<div id="label_origaddress" class="labelClass">
							<strong>Address:</strong>
						</div>
						<br>
						<input id="origaddress" name="origaddress" type="text" size="23" value="">
						<br><br>
						<div id="label_origcity" class="labelClass">
							<strong>City:</strong>
						</div>
						<input id="origcity" name="origcity" type="text" size="18" value="">
						<br><br>
						<div id="label_origstateprovince" class="labelClass">
							<strong>State/Province:: </strong>
						</div>
						<br>
						<select name="origstateprovince" id="origstateprovince" class="cSelectBox">
							<option value="">Select State</option>
							<option value="AL">Alabama</option>
							<option value="AZ">Arizona</option>
							<option value="AR">Arkansas</option>
							<option value="CA">California</option>
							<option value="CO">Colorado</option>
							<option value="CT">Connecticut</option>
							<option value="DE">Delaware</option>
							<option value="FL">Florida</option>
							<option value="GA">Georgia</option>
							<option value="ID">Idaho</option>
							<option value="IL">Illinois</option>
							<option value="IN">Indiana</option>
							<option value="IA">Iowa</option>
							<option value="KS">Kansas</option>
							<option value="KY">Kentucky</option>
							<option value="LA">Louisiana</option>
							<option value="ME">Maine</option>
							<option value="MD">Maryland</option>
							<option value="MA">Massachusetts</option>
							<option value="MI">Michigan</option>
							<option value="MN">Minnesota</option>
							<option value="MS">Mississippi</option>
							<option value="MO">Missouri</option>
							<option value="MT">Montana</option>
							<option value="NC">North Carolina</option>
							<option value="NE">Nebraska</option>
							<option value="NV">Nevada</option>
							<option value="NH">New Hampshire</option>
							<option value="NJ">New Jersey</option>
							<option value="NM">New Mexico</option>
							<option value="NY">New York</option>
							<option value="ND">North Dakota</option>
							<option value="OH">Ohio</option>
							<option value="OK">Oklahoma</option>
							<option value="OR">Oregon</option>
							<option value="PA">Pennsylvania</option>
							<option value="RI">Rhode Island</option>
							<option value="SC">South Carolina</option>
							<option value="SD">South Dakota</option>
							<option value="TN">Tennessee</option>
							<option value="TX">Texas</option>
							<option value="UT">Utah</option>
							<option value="VT">Vermont</option>
							<option value="VA">Virginia</option>
							<option value="WA">Washington</option>
							<option value="DC">Washington DC</option>
							<option value="WV">West Virginia</option>							
							<option value="WI">Wisconsin</option>
							<option value="WY">Wyoming</option>
						</select>
						<br><br>
						<input class="button" value="Get Directions" onclick="javascript:getGeocode('true');">
					</div>
					<br><br>
					<img alt="MapQuest" src="/wcpics/MTDProducts/en_US/images/mapquest_logo.gif">
				</div>
    		<div id="map"></div>
			</form>
		</div>
		<div class="clear">&nbsp;</div>
	</div>
</div>