<div id="content">
        <div class="breadcrumbs">
                <ul>
                <li><a href="/" title="Home">Home</a>&gt;</li>
        <li><a href="/" title="Owner's Center">Owner's Center</a>&gt;</li>
        <li><a href="/dealers" title="Find a Dealer">Find a Dealer</a></li>&gt; 
        <li>Find a Dealer Directions</li>
        </ul>
        </div>
        <div class="content_wrap group">
                <div class="side_nav col">
                        <div class="single sidebox">
                                <h2>Owners Center</h2>
                                <ul>
                                        <li><a href="#" title="Operator's Manual">Operator's Manual</a></li>
          <li><a href="#" title="Product Registration">Product Registration</a></li>
          <li><a href="#" title="Find Parts, Accessories &amp; Attachments">Find Parts, Accessories &amp; Attachments</a></li>
          <li class="active"><a href="/dealers" title="Find a Dealer">Find a Dealer</a></li>
          <li><a href="#" title="Find a Service Center">Find a Service Center</a></li>
          <li><a href="/faqs" title="FAQs">FAQs</a></li>
          <li><a href="#" title="Tips &amp; Tricks">Tips &amp; Tricks</a></li>
          <li><a href="#" title="Diagnose &amp; Troubleshoot">Diagnose &amp; Troubleshoot</a></li>
          <li><a href="#" title="Maintenance">Maintenance</a></li>
          <li><a href="#" title="Contact Us">Contact Us</a></li>
                                </ul>
                        </div>
                        <div class="contact sidebox">
                                <h2>Contact Us</h2>
                                <p><span class="phone">1-800-269-6215</span><span class="hours">Mon. - Fri. 8AM - 8PM &amp;</span><span class="hours">Sat. 9AM - 5PM EST</span></p>
                        </div>
                        <script>
                                function validatePartorModel(findBy, input)
                                {
                                        var input = input.value;
                                        
                                        //alert(form + ", " + input);
                                        if(input == '' || input == 'Enter Part #' || input == 'Enter Model #')
                                        {
                                                //alert("Blank or unchanged response " + form + ", " + input);
                                        }
                                        else {
                                                if(findBy == 'part')
                                                {
                                                        document.forms['findByPartNumberSidebar'].partNumber.value = input;
                                                        document.forms['findByPartNumberSidebar'].submit();
                                                }
                                                else if(findBy == 'model')
                                                {
                                                        document.forms['findByModelNumberSidebar'].arimn.value = input;
                                                        document.forms['findByModelNumberSidebar'].submit();
                                                }
                                                
                                        }
                                }
                        </script>
                        <div class="category sidebox single">
                                <h2>Part Finder</h2>
        <ul class="findPart">
          <li class="partNo">
                Know your part number? <br>
                                                <form name="findByPartNumberSidebar" id="pNumber" action="http://www.mtdparts.com/webapp/wcs/stores/servlet/PartFinderView" target="_blank">
                                                        <input type="hidden" name="storeId" value="10101">
                                                        <input type="hidden" name="catalogId" value="19502">
                                                        <input type="hidden" name="langId" value="-1">
              <input type="text" name="partNumber" value="Enter Part #" onfocus="this.value='';" onblur="if (this.value == '') { this.value = 'Enter Part #'; }">
              <input type="button" class="goBtn" value="Go!" alt="Go!" onclick="javascript:validatePartorModel('part', partNumber);">
            </form>
          </li> 
          <li class="partNo">Know your model number? <br>
                <form name="findByModelNumberSidebar" id="pNumber" action="http://www.mtdparts.com/webapp/wcs/stores/servlet/ARIPartFinderView" target="_blank">
                                                        <input type="hidden" name="storeId" value="10101">
                                                        <input type="hidden" name="catalogId" value="19502">
                                                        <input type="hidden" name="langId" value="-1">
                                <input type="text" name="arimn" value="Enter Model #" onfocus="this.value='';" onblur="if (this.value == '') { this.value = 'Enter Model #'; }">
              <input type="button" class="goBtn" value="Go!" alt="Go!" onclick="javascript:validatePartorModel('model', arimn);">
            </form>
          </li>
          <li style="padding-right: 15px;">
                Don't know your model number?<br>
                                                You can use the Part Finder to help find your model and the right part for your machine.<br>
                                                <a href="http://www.mtdparts.com/webapp/wcs/stores/servlet/ARIPartFinderView?storeId=10101&amp;catalogId=19502&amp;langId=-1" class="matchingBtn" target="_mtdparts">Matching Models</a>
          </li>
        </ul>
                        </div>
                        <div class="callouts">
                        <!-- Start- JSP File Name: eMarketingSpotDisplayGeneric.jsp -->
                                <div>
                                        <a href="ClickInfo?evtype=CpgnClick&amp;mpe_id=725627&amp;intv_id=10590&amp;storeId=10500&amp;catalogId=20500&amp;langId=-1&amp;URL=http%3a%2f%2fwww.mtdparts.com%2fwebapp%2fwcs%2fstores%2fservlet%2fARIPartFinderView%3fstoreId%3d10101%26catalogId%3d19502%26langId%3d-1">
                                                <img src="/wcsstore/MTDProducts/Attachment/en_US/leftNav/parts-locator.png" alt="" border="0">
                                        </a>
                                </div>
                                <!-- End - JSP File Name: eMarketingSpotDisplayGeneric.jsp -->
                                <!-- Start- JSP File Name: eMarketingSpotDisplayGeneric.jsp -->
                                <!-- End - JSP File Name: eMarketingSpotDisplayGeneric.jsp -->
                        </div>
                </div>
                <div class="main col">
                        <h3>Dealers</h3>
                        <h4><%= params['destname'] %></h4>
                        <p>
                                <%= params['destaddress'] %> <br>                       
                                <%= params['destcity'] %>, <%= params['deststateprovince'] %> <%= params['destpostalcode'] %><br><%= params['destphone'] %>
                        </p>
                        <div class="mapquest">                                  
                                <div id="routeMap"></div>                                       
                                <br>
                                <div id="routeLegs"></div>
            </div>
                </div>
                <div class="clear">&nbsp;</div>
        </div>
</div>