<div id="content">
		<div class="breadcrumbs">
			<ul>
				<li><a href="/" title="Home">Home</a>&gt;</li>
				<li><a href="#" onclick="alert('link not implemented'); return false" title="Owner's Center">Owner's Center</a>&gt;</li>
				<li>FAQs</li>
			</ul>
		</div>
		<div class="content_wrap group">
			<div class="side_nav col">
      	<div class="single sidebox">
          	<h2>Owner's Center</h2>
          	<ul>
	          	<li><a href="/templates/manual-finder.php" title="Operator's Manual">Operator's Manual</a></li>
	          	<li><a href="/templates/product-registration.php" title="Product Registration">Product Registration</a></li>
	          	<li><a href="#" title="Find Parts, Accessories &amp; Attachments">Find Parts, Accessories &amp; Attachments</a></li>
         			<li><a href="/dealers" title="Find a Dealer">Find a Dealer</a></li>
	          	<li><a href="/templates/service-center.php" title="Find a Service Center">Find a Service Center</a></li>
	          	<li class="active"><a href="/faqs" title="FAQs">FAQs</a></li>
	          	<li><a href="/templates/tips-tricks.php" title="Tips &amp; Tricks">Tips &amp; Tricks</a></li>
	          	<li><a href="/templates/diagnose-troubleshoot.php" title="Diagnose &amp; Troubleshoot">Diagnose &amp; Troubleshoot</a></li>
	          	<li><a href="#" title="Maintenance">Maintenance</a></li>
	          	<li><a href="/templates/contact-us.php" title="Contact Us">Contact Us</a></li>
              </ul>
          </div>
      	<div class="contact sidebox">
      	<h2>Contact Us</h2>
      		<ul>
          	<li><strong>1-800-269-6215</strong></li>
          	<li>Mon. - Fri. 8AM - 6PM EST</li>
          	<li>Sat. 9AM - 5PM EST</li>
						<li><a class="button email" title="Email Us" href="mailto:info@mtdproducts.com">Email Us</a></li>
					</ul>					
				</div>
        <div class="callouts">
        	<a href="#" title="Parts Locator">
            	<img src="/wcpics/MTDProducts/en_US/images/parts-locator.png" border="0" alt="Parts Locator" />
            </a>
            <a href="#" title="Owners Center">
            	<img src="/wcpics/MTDProducts/en_US/images/owners-center.jpg" border="0" alt="Owners Center" />
            </a>
        </div>
			</div>
			<div class="main oc faq col">
				<div id="product_hero">
					<img src="/wcpics/MTDProducts/en_US/images/content/hero_contact_us.jpg" alt="Contact Us" width="740" height="260" />
				</div>
				<section>
					<h1>FAQs</h1>
					<div class="attention top_faqs">
						<section>
							<div class="group">
								<div class="col faq_cats">
									<ul class="tabs">
										<li class="trigger">
											<a onclick="getAjaxFaqFeed(10101, 19502, -1, 'RSS_FAQ_LAWNMOWERS', '15');" href="#target1" class="button active">Lawnmowers FAQs</a>
											<div class="tab_content">
												<h2>Lawnmowers Frequently Asked Questions</h2>
												<p>These are the top most frequent asked questions relating to Lawnmowers and Lawnmowers ordering.  If you do not see your question to the right, please <a target="_BLANK" href="http://buymtdonline.custhelp.com" id="notrigger2">search</a> our full library of FAQs.</p>
											</div>
										</li>
										<li class="trigger">
											<a onclick="getAjaxFaqFeed(10101, 19502, -1, 'RSS_FAQ_SNOW THROWERS', '15');" href="#target2" class="button">Snow Throwers FAQs</a>
											<div class="tab_content hidden">
												<h2>Snow Throwers Frequently Asked Questions</h2>
												<p>These are the top most frequent asked questions relating to Snow Throwers and Snow Throwers ordering. If you do not see your question to the right, please <a target="_BLANK" href="http://buymtdonline.custhelp.com" id="notrigger4">search</a> our full library of FAQs.</p>
											</div>
										</li>
										<li class="trigger">
											<a onclick="getAjaxFaqFeed(10101, 19502, -1, 'RSS_FAQ_TILLERS', '15');" href="#target3" class="button">Tillers FAQs</a>
											<div class="tab_content hidden">
												<h2>Tillers Frequently Asked Questions</h2>
												<p>These are the top most frequent asked questions relating to Tillers and Tillers ordering. If you do not see your question to the right, please <a target="_BLANK" href="http://buymtdonline.custhelp.com" id="notrigger3">search</a> our full library of FAQs.</p>
											</div>
										</li>
										<li class="trigger">
											<a onclick="getAjaxFaqFeed(10101, 19502, -1, 'RSS_FAQ_TRACTORS', '15');" href="#target4" class="button">Tractors FAQs</a>
											<div class="tab_content hidden">
												<h2>Tractors Frequently Asked Questions</h2>
												<p>These are the top most frequent asked questions relating to Tractors and Tractors ordering.  If you do not see your question to the right, please <a target="_BLANK" href="http://buymtdonline.custhelp.com" id="notrigger5">search</a> our full library of FAQs.</p>
											</div>
										</li>
									</ul>									
								</div>
								<div class="col questions">
									<div id="feedFaqDivId">
										<ol>
											<li>
												<a href="#">
													What type of gas and oil should I use in my lawn mower?
													<span class="answer hidden">Use regular unleaded automotive gasoline in your lawn mower. If the gas supply in your mower won't be used up within 30 days, add gasoline stabilizer additive to your can of gas. SAE 30 motor oil is recommended for use in your lawn mower. The exact amount will be specified in your owner's manual but the approximate amount is 0.6 litres or 20 ounces.</span>
												</a>
											</li>
											<li>
												<a href="#">
													Do I have to change the oil in my lawn mower?
													<span class="answer hidden">Yes. Just like your car engine, your lawn mower engine will run smoother and last longer if you change the oil regularly. The engine oil should be changed after the first 5 hours of operation to remove any initial contaminants. After that, it is recommended that you change the oil approximately every 25 hours or, as a rule of thumb, after every lawn mowing season.</span>
												</a>
											</li>
											<li>
												<a href="#">
													Why would I want a self-propelled mower over a regular push mower?
													<span class="answer hidden">With a push mower, all the energy required to move forward comes from the operator, while a self-propelled mower generates its own energy and, in effect, pushes itself forward. If you have a large lawn; or if your lawn has some sections that require uphill cutting; or if the operator is an older individual, then a self-propelled mower will be a big help by saving both time and energy.</span>
												</a>
											</li>
											<li>
												<a href="#">
													What is the benefit of castor wheels, or high wheel designs?
													<span class="answer hidden">Front castor wheels make maneuvering and turning the mower a lot less work, so trimming around bushes, trees and flower beds is much easier and the end result is neater and more professional looking. For straight cutting in open areas, the castor wheels are easily locked in place. The high-wheel design on the rear wheels is recommended for hilly or rough terrain. The larger wheels roll easily over uneven ground and smooth out any bumpiness. It's also easier to push a high wheel mower up a hill.</span>
												</a>
											</li>
											<li>
												<a href="#">
													Do I need to buy a special mower if I want to mulch the grass clippings?
													<span class="answer hidden">We recommend a mower with at least a minimum of a 4 HP engine if you plan to mulch. Other than that, mulching kits are available to quickly and easily convert a side discharge mower into a mulching mower.</span>
												</a>
											</li>
 											<li>
												<a href="#">
													What should I do to get my mower ready in the spring and then to store it for the winter?
													<span class="answer hidden">At the end of each season you should drain the gas and oil out of the engine and clean the underside of the cutting deck. At the beginning of the season you should add new SAE 30 Grade engine oil and fresh gas, check the blade and sharpen it, check the air filters, and make sure the spark plug is clean and properly gapped. You can either do these things yourself or have your nearest Cub Cadet service dealer do it for you.</span>
												</a>
											</li>
											<li>
												<a href="#">
													What is an electric start mower?
													<span class="answer hidden">Simply start your mower by turning the key. No more rope starts. The Ni-Cad battery pack is charged when the lawnmower is running.</span>
												</a>
											</li>
										</ol>		
									</div>							
								</div>
							</div>
						</section>
					</div>
				</section>
			</div>
		</div>
	</div>
	<form name="MessageForm" id="MessageForm" method="post" action="">
  	<input type="hidden" name="loadFailureMsg" value="We were unable to load the FAQs.  A possible cause is that they are taking too long  to load.  Please try again." />
    <input type="hidden" name="pleaseWaitMsg" value="Please wait while the FAQs are loading..." />
  </form>
