<script type="text/javascript" src="//libs.coremetrics.com/eluminate.js"></script>
<script>
  cmSetClientID("90376608",true,"data.coremetrics.com","mtdproducts.com"); 
</script>
<div id="content">
<!-- Start- JSP File Name: eMarketingSpotContentExists.jspf -->
<!-- END eMarketingSpotContentExists.jspf -->
<!-- Start- JSP File Name: eMarketingSpotDisplayHero.jsp -->
  <div id="hero">
    <ul id="hero_features">
      <div>
        <a href='ClickInfo?evtype=CpgnClick&amp;mpe_id=725129&amp;intv_id=10596&amp;storeId=10500&amp;catalogId=20500&amp;langId=-1&amp;URL=company_10500_20500_-1_careers' title=''>
          <img src='/wcsstore/MTDProducts/Attachment/en_US/homepage/joinus.png' alt='' border="0" />
        </a>
      </div>
      <div>
        <a href='ClickInfo?evtype=CpgnClick&amp;mpe_id=725129&amp;intv_id=10592&amp;storeId=10500&amp;catalogId=20500&amp;langId=-1&amp;URL=company_10500_20500_-1' title=''>
          <img src='/wcsstore/MTDProducts/Attachment/en_US/homepage/aboutus.png' alt='' border="0" />
        </a>
      </div>
      <div>
        <a href='ClickInfo?evtype=CpgnClick&amp;mpe_id=725129&amp;intv_id=10588&amp;storeId=10500&amp;catalogId=20500&amp;langId=-1&amp;URL=ViewProductRegister%3fstoreId%3d10500%26catalogId%3d20500%26langId%3d-1' title=''>
          <img src='/wcsstore/MTDProducts/Attachment/en_US/homepage/registration.png' alt='' border="0" />
        </a>
      </div>
      <div>
        <a href='ClickInfo?evtype=CpgnClick&amp;mpe_id=725129&amp;intv_id=10584&amp;storeId=10500&amp;catalogId=20500&amp;langId=-1&amp;URL=CategoryDisplay%3fstoreId%3d10500%26catalogId%3d20500%26langId%3d-1%26categoryId%3d1341879%26top%3dY' title=''>
          <img src='/wcsstore/MTDProducts/Attachment/en_US/homepage/findaproduct.png' alt='' border="0" />
        </a>
      </div>
      <div>
        <a href='ClickInfo?evtype=CpgnClick&amp;mpe_id=725129&amp;intv_id=10580&amp;storeId=10500&amp;catalogId=20500&amp;langId=-1&amp;URL=OwnersCenterView%3fstoreId%3d10500%26catalogId%3d20500%26langId%3d-1' title=''>
          <img src='/wcsstore/MTDProducts/Attachment/en_US/homepage/ownerscenter.png' alt='' border="0" />
        </a>
      </div>
    </ul>
  </div>
<!-- End - JSP File Name: eMarketingSpotDisplayHero.jsp -->
<style>
  .brandSwap { padding-left:5px; padding-right:5px}
</style>
<!-- TC_BRANDS -->
  <div id="brands"> 
    <strong>Brands:</strong> 
    <a id="prev" class="prev browse left disabled" title="Previous">P</a> 
    <div class="scrollable"> 
      <div class="items"> 
        <div class="page"> 
          <ul>
            <li><a href="#" onclick="alert('link not implemented'); return false"><img class="brandSwap" src="/wcpics/MTDProducts/en_US/images/brands/mtd.png" border="0"/></a></li>
            <li><a href="#" onclick="alert('link not implemented'); return false"><img class="brandSwap" src="/wcpics/MTDProducts/en_US/images/brands/whiteoutdoor.png" border="0"/></a></li>
            <li><a href="#" onclick="alert('link not implemented'); return false"><img class="brandSwap" src="/wcpics/MTDProducts/en_US/images/brands/bolens.png" border="0"/></a></li>
            <li><a href="#" onclick="alert('link not implemented'); return false"><img class="brandSwap" src="/wcpics/MTDProducts/en_US/images/brands/yardman.png" border="0"/></a></li>
            <li><a href="#" onclick="alert('link not implemented'); return false"><img class="brandSwap" src="/wcpics/MTDProducts/en_US/images/brands/yardmachines.png" border="0"/></a></li>
            <li><a href="#" onclick="alert('link not implemented'); return false"><img class="brandSwap" src="/wcpics/MTDProducts/en_US/images/brands/remington.png" border="0"/></a></li>
            <li><a href="#" onclick="alert('link not implemented'); return false"><img class="brandSwap" src="/wcpics/MTDProducts/en_US/images/brands/columbia.png" border="0"/></a></li>
          </ul> 
        </div> 
      </div> 
    </div> 
    <a id="next" class="next browse right disabled" title="Next">N</a> 
  </div>
  <div class="overview group">
    <!-- Start- JSP File Name: eMarketingSpotDisplayGeneric.jsp -->
    <div id="history" class="col">
      <img src='/wcsstore/MTDProducts/Attachment/en_US/homepage/making-lawns.png' alt='' border="0" />
      <p>
        For more than 50 years, MTD has been a leader in designing and building durable, easy-to-use outdoor power equipment. Our family of brands offers award-winning products designed to meet lawn and garden needs for both residential and commercial products.
      </p>
    </div>
    <!-- End - JSP File Name: eMarketingSpotDisplayGeneric.jsp -->
    <div class="col" id="actions">
    <!-- Start- JSP File Name: eMarketingSpotDisplayGeneric.jsp -->
      <div id="find_equipment" class="subaction2 group">
        <a href="ClickInfo?evtype=CpgnClick&mpe_id=730126&intv_id=10635&storeId=10500&catalogId=20500&langId=-1&URL=DisplayContentView%3fstoreId%3d10500%26catalogId%3d20500%26langld%3d-1%26pageName%3den_US%2fhome%2fPowermore_LandingPage.html"  >
          <img src='/wcsstore/MTDProducts/Attachment/Powermore_Espot_431x100.png' alt='' border="0" />
        </a>
      </div>
    <!-- End - JSP File Name: eMarketingSpotDisplayGeneric.jsp -->
      <div id="retailers" class="subaction"> 
        <h3>Available at these convenient retailers</h3> 
        <a class="prev browse left" title="Previous">P</a> 
        <div class="scrollable"> 
          <div class="items"> 
            <div class="page"> 
              <ul class="group">
                <li><a href="http://www.acehardware.com/category/index.jsp?categoryId=2598675&cp=2568444" target="_blank"><img src="/wcpics/MTDProducts/en_US/images/content/retailers/ace.png" border="0"/></a></li>
                <li><a href="http://www.amazon.com/Lawn-Garden-Tools-Hardware/b/ref=sa_menu_moop11?ie=UTF8&node=551242" target="_blank"><img src="/wcpics/MTDProducts/en_US/images/content/retailers/amazon.png" border="0"/></a></li>
                <li><a href="http://www.farmandfleet.com/lawn_garden/" target="_blank"><img src="/wcpics/MTDProducts/en_US/images/content/retailers/blains.png" border="0"/></a></li>
                <li><a href="http://www.doitbest.com/Lawn+and+Garden.dib" target="_blank"><img src="/wcpics/MTDProducts/en_US/images/content/retailers/doitbest.png" border="0"/></a></li>
              </ul>
            </div>
            <div class="page">
              <ul class="group"> 
                <li><a href="http://www.homedepot.com/Outdoors-Outdoor-Power-Equipment/h_d1/N-5yc1vZbx5c/h_d2/Navigation?langId=-1&storeId=10051&catalogId=10053&Nu=P_PARENT_ID&omni=c_Outdoor%20Power%20Equipment" target="_blank"><img src="/wcpics/MTDProducts/en_US/images/content/retailers/homedepot.png" border="0"/></a></li>
                <li><a href="http://www.lowes.com/pc_Outdoor+Power+Equipment_4294859121_4294937087_" target="_blank"><img src="/wcpics/MTDProducts/en_US/images/content/retailers/lowes.png" border="0"/></a></li>
                <li><a href="http://www.menards.com" target="_blank"><img src="/wcpics/MTDProducts/en_US/images/content/retailers/menards.png" border="0"/></a></li>
                <li><a href="http://www.northerntool.com/shop/tools/category_grounds-maintenance" target="_blank"><img src="/wcpics/MTDProducts/en_US/images/content/retailers/northern.png" border="0"/></a></li>
              </ul>
            </div>
            <div class="page">
              <ul class="group"> 
                <li><a href="http://www.sears.com/shc/s/v_10153_12605_Lawn+%26+Garden?adCell=WH" target="_blank"><img src="/wcpics/MTDProducts/en_US/images/content/retailers/sears.png" border="0"/></a></li>
                <li><a href="http://www.tractorsupply.com/" target="_blank"><img src="/wcpics/MTDProducts/en_US/images/content/retailers/tsc.png" border="0"/></a></li>
                <li><a href="http://www.truevalue.com/section/Outdoor-Power-Equipment/categoryIds/2320|/2320.uts" target="_blank"><img src="/wcpics/MTDProducts/en_US/images/content/retailers/truevalue.png" border="0"/></a></li>
                <li><a href="http://www.walmart.com/cp/lawn-garden-equipment/4091" target="_blank"><img src="/wcpics/MTDProducts/en_US/images/content/retailers/walmart.png" border="0"/></a></li>
              </ul> 
            </div> 
          </div> 
        </div> 
        <a class="next browse right" title="Next">N</a> 
      </div> 
    </div>
  </div>
</div>  