<!DOCTYPE html>
<html lang="en" class="canada">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
<title>MTD Products</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<link rel="stylesheet" href="/wcsstore/MTDProductsSAS/css/reset.css">
<link rel="stylesheet" href="/wcsstore/MTDProductsSAS/css/ext.css">
<link rel="stylesheet" href="/wcsstore/MTDProductsSAS/css/styles.css">
<link rel="stylesheet" href="/wcsstore/MTDProductsSAS/css/new.css">
<link rel="stylesheet" href="/wcsstore/MTDProductsSAS/css/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="/wcsstore/MTDProductsSAS/javascript/shadowbox-3.0.3/shadowbox.css">
<link rel="stylesheet" href="/wcsstore/MTDProductsSAS/css/popSurvey.css" type="text/css" media="all"  />
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script language="javascript" type="text/javascript" src="/wcsstore/MTDProductsSAS/javascript/popSurvey.js"></script>
<!--[if lt IE 9]>
<link rel="stylesheet" href="/wcsstore/MTDProductsSAS/css/ie.css">
<![endif]-->
<!--[if IE 6]>
<link rel="stylesheet" href="/wcsstore/MTDProductsSAS/css/ie6.css">
<![endif]-->
</head>
<body class="<%= params['language'] && params['language'] == 'fr' ? 'french' : ''%> <%= params['map'] ? 'mapquest' : ''%>">
  <div id="shell" style="display:none">
    <header>  
      <a id="brand" href="/" title="Home">
        <img src="/wcpics/MTDProducts/en_US/images/logo.png" alt="MTD: For a Growing World." width="186" height="77" />
      </a>   
      <nav id="utility">
        <ul>
          <li>
            <% if params['language'] && params['language'] == 'fr' %>
            <a href="ContactUs_10500_20500_-1" title="Contactez-nous">Contactez-nous</a>
            <% else %>
            <a href="ContactUs_10500_20500_-1" title="Contact Us">Contact Us</a>
            <% end %>
          </li>
        </ul>
        <ul class="language">  
          <li class="flag"><a href="?language=fr"><img src="/wcpics/MTDProducts/en_US/images/icon-can-fr.png"></a></li>
          <li class="flag"><a href="?language=eng"><img src="/wcpics/MTDProducts/en_US/images/icon-can-en.png"></a></li>             
        </ul>
      </nav>
      <div id="search">
        <form name="SearchForm" action="/search" method="get" id="CatalogSearchForm">
          <input type="hidden" name="storeId" value='10500' id="WC_CachedHeaderDisplay_FormInput_storeId_In_CatalogSearchForm_1"/>
          <input type="hidden" name="catalogId" value='20500' id="WC_CachedHeaderDisplay_FormInput_catalogId_In_CatalogSearchForm_1"/>
          <input type="hidden" name="langId" value='-1' id="WC_CachedHeaderDisplay_FormInput_langId_In_CatalogSearchForm_1"/>
          <input type="hidden" name="pageSize" value="25" id="WC_CachedHeaderDisplay_FormInput_pageSize_In_CatalogSearchForm_1"/>
          <input type="hidden" name="beginIndex" value="0" id="WC_CachedHeaderDisplay_FormInput_beginIndex_In_CatalogSearchForm_1"/>
          <input type="hidden" name="productBeginIndex" value="0" id="WC_CachedHeaderDisplay_FormInput_beginIndex_In_CatalogSearchForm_1"/>
          <input type="hidden" name="contentBeginIndex" value="0" id="WC_CachedHeaderDisplay_FormInput_beginIndex_In_CatalogSearchForm_1"/>
          <input type="hidden" name="sType" value="SimpleSearch" id="WC_CachedHeaderDisplay_FormInput_sType_In_CatalogSearchForm_1"/>
          <input type="hidden" name="resultCatEntryType" value="2" id="WC_CachedHeaderDisplay_FormInput_resultType_In_CatalogSearchForm_1"/>
          <input type="hidden" name="productOrderBy" value="3" id="WC_CachedHeaderDisplay_FormInput_sortBy_In_CatalogSearchForm_1"/>
          <input type="hidden" name="contentOrderBy" value="1" id="WC_CachedHeaderDisplay_FormInput_sortBy_In_CatalogSearchForm_1"/>
          <input type="hidden" name="showResultsPage" value="true"/>                
          <input type="hidden" name="pageView" value="image" />  
          <% if params['language'] && params['language'] == 'fr' %>
          <input type="text" name="searchTerm" value="Mot-clé ou numéro d'article" onfocus="this.value='';" onblur="if (this.value == '') { this.value = 'Mot-clé ou numéro d'article'; }" />
          <input type="image" class="go" src="/wcpics/MTDProducts/en_US/images/go-fr.png" value="Aller" alt="Aller" />
          <% else %>
          <input type="text" name="searchTerm" value="Keyword or Item #" onfocus="this.value='';" onblur="if (this.value == '') { this.value = 'Keyword or Item #'; }" />
          <input type="image" class="go" src="/wcpics/MTDProducts/en_US/images/go.png" value="Go!" alt="Go!" />
          <% end %>
        </form>
      </div>
      <nav id="primary">
        <ul id="topnav">
          <!-- OUR COMPANY -->
          <li>            
            <% if params['language'] && params['language'] == 'fr' %>
              <a href="/our-company?language=fr" title="Notre Entreprise" class="ourCompany">Notre Entreprise</a>
            <% else %>
              <a href="/our-company" title="Our Company" class="ourCompany">Our Company</a>
            <% end %>           
            <div class="sub">
              <ul>
                <li><h2><a href="/our-company">Our Company:</a></h2></li>
                <li><a href="/our-company">About MTD Canada</a></li>
                <li><a href="#" onclick="alert('link not implemented'); return false">Contact Us</a></li>
              </ul>
              <ul>
                <li><h2><a href="#" onclick="alert('link not implemented'); return false">Shop By Brand:</a></h2></li>
                <li><a href="#" onclick="alert('link not implemented'); return false">MTD</a></li>
                <li><a href="#" onclick="alert('link not implemented'); return false">Bolens</a></li>
                <li><a href="#" onclick="alert('link not implemented'); return false">White Outdoor</a></li>
                <li><a href="#" onclick="alert('link not implemented'); return false">Yard-Man</a></li>
                <li><a href="#" onclick="alert('link not implemented'); return false">Yard Machines</a></li>
                <li><a href="#" onclick="alert('link not implemented'); return false">Remington</a></li>
                <li><a href="#" onclick="alert('link not implemented'); return false">Columbia</a></li>
              </ul>
            </div>
          </li>
          <!-- OUR PRODUCTS -->
          <li class="our_products">        
            <% if params['language'] && params['language'] == 'fr' %>
              <a href="/our-products?language=fr" title="Nos Produits" class="ourProducts">Nos Produits</a>
            <% else %>
              <a href="/our-products" title="Our Products" class="ourProducts">Our Products</a>
            <% end %>
            <div class="sub">
              <ul class="wide">   
                <li><h2><a href="/our-products/list">Lawn &amp; Garden:</a></h2></li>
                <li><a href="/our-products/list">Lawn Mowers &amp; Tractors</a></li>
                <li><a href="/our-products/list">Zero-Turn Riders</a></li>
                <li><a href="/our-products/list">Trimmers</a></li>
                <li><a href="/our-products/list">Tillers and Cultivators</a></li>
                <li><h2><a href="/our-products/list">Trees &amp; Leaves:</a></h2></li>
                <li><a href="/our-products/list">Leaf Blowers</a></li>
                <li><a href="/our-products/list">Chipper Shredders &amp; Vacs</a></li>
                <li><a href="/our-products/list">Log Splitters</a></li>
                <li><a href="/our-products/list">Chainsaws</a></li>
              </ul>
              <ul class="wide">
                <li><h2><a href="/our-products/list">Snow:</a></h2></li>
                <li><a href="/our-products/list">Snow Throwers</a></li>
                <li><h2><a href="/our-products/list">Shop By Brand:</a></h2></li>
                <li><a href="/our-products/list">MTD</a></li>
                <li><a href="/our-products/list">Bolens</a></li>
                <li><a href="/our-products/list">White Outdoor</a></li>
                <li><a href="/our-products/list">Yard-Man</a></li>
                <li><a href="/our-products/list">Yard Machines</a></li>
                <li><a href="/our-products/list">Remington</a></li>
                <li><a href="/our-products/list">Columbia</a></li>
              </ul>
            </div>
          </li>
          <!-- SAFETY -->
          <li class="safe">      
            <% if params['language'] && params['language'] == 'fr' %>
              <a href="/our-caring?language=fr" title="Notre Engagement" class="safety">Notre Engagement</a>
            <% else %>
              <a href="/our-caring" title="Our Caring" class="safety">Our Caring</a>
            <% end %>
            <div class="sub">
              <ul>
                <li><h2><a href="#" onclick="alert('link not implemented'); return false">Environmental:</a></h2></li>
                <li><a href="#" onclick="alert('link not implemented'); return false">The Benefits of Turfgrass</a></li>
                <li><h2><a href="#" onclick="alert('link not implemented'); return false">Safety:</a></h2></li>
                <li><a href="#" onclick="alert('link not implemented'); return false">Lawn Mower Safety</a></li>
                <li><a href="#" onclick="alert('link not implemented'); return false">Snow Thrower Safety</a></li>
              </ul>
              <ul>
                <li><img src='/wcsstore/MTDProducts/Attachment/en_US/nav/mtd6112-11_Turfgrass200x200.png' alt='' /></li>
              </ul>
            </div>
          </li>
          <!-- OWNER'S CENTER -->
          <li class="owner">   
            <% if params['language'] && params['language'] == 'fr' %>
              <a href="#" title='Centre Du Propriétaire' class="ownersCenter">Centre Du Propriétaire</a>
            <% else %>
              <a href="#" title="Owner's Centre" class="ownersCenter">Owner's Centre</a>
            <% end %>
            <div class="sub">
              <ul class="col1">
                <li><h2><a href="#" onclick="alert('link not implemented'); return false">Owner's Centre:</a></h2></li>
                <li><a href="#" onclick="alert('link not implemented'); return false">Product Manuals</a></li>
                <li><a href="#" onclick="alert('link not implemented'); return false">Product Registration</a></li>
                <li><a href="#" onclick="alert('link not implemented'); return false">Replacement Parts Accessories &amp; Attachments</a></li>
                <li><a href="/dealers">Find a Dealer</a></li>
                <li><a href="#" onclick="alert('link not implemented'); return false">Find a Service Centre</a></li>
                <li><a href="/faqs">FAQs</a></li>
                <li><a href="#" onclick="alert('link not implemented'); return false">Tips &amp; Tricks</a></li>
                <li><a href="#" onclick="alert('link not implemented'); return false">Diagnose &amp; Troubleshoot</a></li>
                <li><a href="#" onclick="alert('link not implemented'); return false">Maintenance</a></li>
                <li><a href="#" onclick="alert('link not implemented'); return false">Contact Us</a></li>
              </ul>
              <ul class="findPart1">
                <li class="first"><h2><a href="#" onclick="alert('link not implemented'); return false">Register a Product</a></h2></li>
                <li>Get product notifications</li>
                <li>Easily find replacement parts</li>
                <li>Other great benefits</li>
                <li class="first"><h2><a href="/parts">Find a Part</a></h2></li>
                <li class="first"><a href="#" onclick="alert('link not implemented'); return false">Parts</a></li>
              </ul>
            </div>
          </li>
          <!-- BUY PARTS -->
          <li class="parts">
          <!-- Start- JSP File Name: eMarketingSpotDisplayPartsNav.jsp -->           
            <% if params['language'] && params['language'] == 'fr' %>
              <a href="/parts?language=fr" title="Pièces" class="buyParts">Pièces</a>
            <% else %>
              <a href="/parts" title="Parts" class="buyParts">Parts</a>
            <% end %>
            <div class="sub">
              <ul>
                <li>
                  <a href="/parts">
                    <img src="http://placehold.it/200x100">
                  </a>
                  <a href="/parts" class="button">Learn More</a>
                </li> 
              </ul>
            </div>
            <!-- End - JSP File Name: eMarketingSpotDisplayPartsNav.jsp -->
          </li>
        </ul>
      </nav>
    </header>

<!-- start yield -->
<%= yield %>
<!-- end yield -->

    <footer>
      <nav>   
        <ul>
          <li>
            Copyright
            &copy; MTD 2013 
          </li>
          <% if params['language'] && params['language'] == 'fr' %>
          <li><a href="#" title="Politique de confidentialité">Politique de confidentialité</a></li>       
          <li><a href="#" title="Rappel de produits">Rappel de produits</a></li>        
          <li><a href="#" title="Plan du site">Plan du site</a></li>
          <% else %>
          <li><a href="#" title="Privacy Policy">Privacy Policy</a></li>       
          <li><a href="#" title="Product Recall">Product Recall</a></li>        
          <li><a href="#" title="Site Map">Site Map</a></li>            
          <% end %>
          <li>
            <span style="color: #ffffff"> | P1 | </span>
          </li>
        </ul>   
      </nav>
      <a id="small_brand" href="topcategory_10500_20500_-1" title="MTD: For a Growing World"><img src="/wcpics/MTDProducts/en_US/images/sm_logo.png" width="88" height="37" alt="MTD: For a Growing World" /></a> 
    </footer>
    <!-- BEGIN COREMETRICS FOOTER SUPPORT -->
    <script>
      <!--
        //mCreatePageviewTag("Homepage", "Homepage", null, null, "10500");
      //-->
    </script>
    <!-- END COREMETRICS -->
    <!--P1-->
  </div>
  <script type="text/javascript" src="/wcsstore/MTDProductsSAS/javascript/jquery-1.4.2.min.js"></script>
  <% if params['map'] %>
  <script src="http://www.mapquestapi.com/sdk/js/v7.0.s/mqa.toolkit.js?key=Gmjtd%7Cluua2hubnl%2Cbn%3Do5-lz8l5"></script> 
  <script src="/wcsstore/global/javascript/mtdMapquest.js" type="text/javascript" language="javascript"></script> 
    <% if params['map'] == 'true' %>
    <script type="text/javascript"> 
      MQA.EventUtil.observe(window, 'load', function() {
         var destlat = <%= params['destlat'] %>;
         var destlng = <%= params['destlng'] %>;
         loadMap(destlat, destlng);
       });
        function refreshDealerDisplay(){
        document.dealerSearchForm.submit();
      }  
    </script>
    <% else %>
    <script type="text/javascript">
      MQA.EventUtil.observe(window, 'load', function() {
      var destlat = '<%= params['destlat'] %>';
      var destlng = '<%= params['destlng'] %>';
      var latitude = '<%= params['latitude'] %>';
      var longitude = '<%= params['longitude'] %>';
      var locale = 'en_US';
      loadDirectionsMap(latitude, longitude, destlat, destlng, locale);
      });
    </script>
    <% end %>
  <% end %>
  <script type="text/javascript" src="/wcsstore/MTDProductsSAS/javascript/jquery.cycle.min.js"></script>
  <script type="text/javascript" src="/wcsstore/MTDProductsSAS/javascript/jquery.tools.min.js"></script>
  <script type="text/javascript" src="/wcsstore/MTDProductsSAS/javascript/jquery.hoverIntent.minified.js"></script>
  <script type="text/javascript" src="/wcsstore/MTDProductsSAS/javascript/shadowbox-3.0.3/shadowbox.js"></script>
  <script type="text/javascript" src="/wcsstore/MTDProductsSAS/javascript/site.js"></script>
  <script type="text/javascript" src="/wcsstore/MTDProductsSAS/javascript/parseUri.js"></script>
  <script type="text/javascript" src="/wcsstore/MTDProductsSAS/javascript/jquery.canvasSwap.js"></script>
  <script type="text/javascript" src="/wcsstore/MTDProductsSAS/javascript/jquery-1.8.ui.min.js"></script>
  <script type="text/javascript" src="/wcsstore/MTDProductsSAS/javascript/jquery.pagination.js"></script>
  <script type="text/JavaScript" src="/wcsstore/MTDProductsSAS/javascript/jquery.mousewheel.js"></script>
  <script type="text/JavaScript" src="/wcsstore/MTDProductsSAS/javascript/cloud-carousel.1.0.4.2.js"></script>
  <script type="text/JavaScript" src="/wcsstore/MTDProductsSAS/javascript/faq.js"></script>
  <script type="text/javascript" src="/wcsstore/MTDProductsSAS/javascript/Util.js"></script>
  <script type="text/javascript">
    $.protocolServerNameAndContextRoot = parseUri(document.location.href).protocol + '://www.mtdproducts.com/webapp/wcs/stores/servlet';
    $.standardQueryStringParams = '?storeId=10500&catalogId=20500&langId=-1';
    Shadowbox.init({
        language: 'en',
        players:  ['iframe']
    });
    $(document).ready(function(){
        $('img.brandSwap').canvasSwap();
        $('#shell').show();
        $("#tabs").tabs();  
        $('#hideTabs').show();
    });
  </script>
  <!--[if IE 6]>
  <script src="/wcsstore/MTDProductsSAS/javascript/DD_belatedPNG_0.0.8a-min.js"></script>
  <script>
  $(document).ready(function() {
    DD_belatedPNG.fix('ul,li,div,img, #brand img, #primary ul, #primary li#nav_company a, #primary li#nav_products a, #primary li#nav_safety a, #primary li#nav_owners a, #primary li#nav_buy a, #hero_paging a, #brands, .overview, #latest h3, #social h3, #social #twitter, #social #facebook, #social #youtube, ul#topnav .sub ul li a.regBtn, ul#topnav li.owner .sub ul li a.matchingBtn, ul#topnav li.owner .sub ul input.goBtn, #utility ul.globe li a.map,.mapBg,.cloudcarousel');
  });
  </script>
  <![endif]-->
</body>
</html>