<div id="content">
	<div class="breadcrumbs">
		<ul>
			<li><a href="/" title="Home">Home</a>&gt;</li>
			<li>Our Products</li>
		</ul>
	</div>
	<!-- Hero -->
	<div>
		<!-- Start- JSP File Name: eMarketingSpotDisplayCarousel.jsp -->
		<script type="text/javascript">
			var im_array = new Array();
			var im_grey_array = new Array();
			
			var imageWithPath = '/wcsstore/MTDProducts/Attachment/en_US/products/carousel_sm1.png';
			var greyImageWithPath = imageWithPath.replace('.png','_grey.png');
			im_array['im1'] = imageWithPath;
			im_grey_array['im1'] = greyImageWithPath;
				
			var imageWithPath = '/wcsstore/MTDProducts/Attachment/en_US/products/carousel_sm2.png';
			var greyImageWithPath = imageWithPath.replace('.png','_grey.png');
			im_array['im2'] = imageWithPath;
			im_grey_array['im2'] = greyImageWithPath;

			var imageWithPath = '/wcsstore/MTDProducts/Attachment/en_US/products/carousel_sm3.png';
			var greyImageWithPath = imageWithPath.replace('.png','_grey.png');
			im_array['im3'] = imageWithPath;
			im_grey_array['im3'] = greyImageWithPath;

			var imageWithPath = '/wcsstore/MTDProducts/Attachment/en_US/products/carousel_sm7.png';
			var greyImageWithPath = imageWithPath.replace('.png','_grey.png');
			im_array['im4'] = imageWithPath;
			im_grey_array['im4'] = greyImageWithPath;

			var imageWithPath = '/wcsstore/MTDProducts/Attachment/en_US/products/carousel_sm5.png';
			var greyImageWithPath = imageWithPath.replace('.png','_grey.png');
			im_array['im5'] = imageWithPath;
			im_grey_array['im5'] = greyImageWithPath;

			var imageWithPath = '/wcsstore/MTDProducts/Attachment/en_US/products/carousel_sm6.png';
			var greyImageWithPath = imageWithPath.replace('.png','_grey.png');
			im_array['im6'] = imageWithPath;
			im_grey_array['im6'] = greyImageWithPath;

			var imageWithPath = '/wcsstore/MTDProducts/Attachment/en_US/products/carousel_sm4.png';
			var greyImageWithPath = imageWithPath.replace('.png','_grey.png');
			im_array['im7'] = imageWithPath;
			im_grey_array['im7'] = greyImageWithPath;
		</script>
	 	<div id="mtd-carousel" class="mtd-carousel" style="float: none; position: relative; overflow: hidden;">
	 		<div style="position: absolute; width: 100%; height: 100%; display: block;">
				<a href="ClickInfo?evtype=CpgnClick&amp;mpe_id=726126&amp;intv_id=10725&amp;storeId=10500&amp;catalogId=20500&amp;langId=-1&amp;URL=category2_10500_20500_1341913_1341909_1341879_-1" title="" target="_self">
					<img id="im1" class="cloudcarousel" src="/wcsstore/MTDProducts/Attachment/en_US/products/carousel_sm1.png" title="Riding Lawn Mower" alt="Bolens&lt;span style='font-size:12px'&gt;&lt;sup&gt;&amp;reg;&lt;/sup&gt;&lt;/span&gt;" border="0" width="0" height="0" style="position: absolute; z-index: 0;">
				</a>
				<a href="ClickInfo?evtype=CpgnClick&amp;mpe_id=726126&amp;intv_id=10725&amp;storeId=10500&amp;catalogId=20500&amp;langId=-1&amp;URL=category2_10500_20500_1341914_1341909_1341879_-1" title="" target="_self">
					<img id="im2" class="cloudcarousel" src="/wcsstore/MTDProducts/Attachment/en_US/products/carousel_sm2.png" title="Zero-Turn Riding Mower" alt="MTD Gold&lt;span style='font-size:12px'&gt;&lt;sup&gt;&amp;reg;&lt;/sup&gt;&lt;/span&gt;" border="0" width="0" height="0" style="position: absolute; z-index: 0;">
				</a>
				<a href="ClickInfo?evtype=CpgnClick&amp;mpe_id=726126&amp;intv_id=10725&amp;storeId=10500&amp;catalogId=20500&amp;langId=-1&amp;URL=category2_10500_20500_1341911_1341879_1341879_-1" title="" target="_self">
					<img id="im3" class="cloudcarousel" src="/wcsstore/MTDProducts/Attachment/en_US/products/carousel_sm3.png" title="Snow Thrower" alt="MTD Pro&lt;span style='font-size:12px'&gt;&lt;sup&gt;&amp;reg;&lt;/sup&gt;&lt;/span&gt;" border="0" width="0" height="0" style="position: absolute; z-index: 0;">
				</a>
				<a href="ClickInfo?evtype=CpgnClick&amp;mpe_id=726126&amp;intv_id=10725&amp;storeId=10500&amp;catalogId=20500&amp;langId=-1&amp;URL=category2_10500_20500_1341918_1341909_1341879_-1" title="" target="_self">
					<img id="im4" class="cloudcarousel" src="/wcsstore/MTDProducts/Attachment/en_US/products/carousel_sm7.png" title="String Trimmer" alt="Yard-Man&lt;span style='font-size:12px'&gt;&lt;sup&gt;&amp;reg;&lt;/sup&gt;&lt;/span&gt;" border="0" width="0" height="0" style="position: absolute; z-index: 0;">
				</a>
				<a href="ClickInfo?evtype=CpgnClick&amp;mpe_id=726126&amp;intv_id=10725&amp;storeId=10500&amp;catalogId=20500&amp;langId=-1&amp;URL=category2_10500_20500_1341919_1341909_1341879_-1" title="" target="_self">
					<img id="im5" class="cloudcarousel" src="/wcsstore/MTDProducts/Attachment/en_US/products/carousel_sm5.png" title="Cultivator" alt="Yard Machines&lt;span style='font-size:12px'&gt;&lt;sup&gt;&amp;reg;&lt;/sup&gt;&lt;/span&gt;" border="0" width="0" height="0" style="position: absolute; z-index: 0;">
				</a>
				<a href="ClickInfo?evtype=CpgnClick&amp;mpe_id=726126&amp;intv_id=10725&amp;storeId=10500&amp;catalogId=20500&amp;langId=-1&amp;URL=category2_10500_20500_1341916_1341909_1341879_-1" title="" target="_self">
					<img id="im6" class="cloudcarousel" src="/wcsstore/MTDProducts/Attachment/en_US/products/carousel_sm6.png" title="Walk-Behind Mower" alt="MTD&lt;span style='font-size:12px'&gt;&lt;sup&gt;&amp;reg;&lt;/sup&gt;&lt;/span&gt;" border="0" width="0" height="0" style="position: absolute; z-index: 0;">
				</a>
				<a href="ClickInfo?evtype=CpgnClick&amp;mpe_id=726126&amp;intv_id=10725&amp;storeId=10500&amp;catalogId=20500&amp;langId=-1&amp;URL=category2_10500_20500_1341923_1341910_1341879_-1" title="" target="_self">
					<img id="im7" class="cloudcarousel" src="/wcsstore/MTDProducts/Attachment/en_US/products/carousel_sm4.png" title="Electric Chain Saw" alt="Remington&lt;span style='font-size:12px'&gt;&lt;sup&gt;&amp;reg;&lt;/sup&gt;&lt;/span&gt;" border="0" width="0" height="0" style="position: absolute; z-index: 0;">
				</a>
				<div id="mtd-alt" style="display: block;">Bolens
					<span style="font-size:12px">
						<sup>®</sup>
					</span>
				</div>
	      <div id="mtd-title" style="display: block;">
	      	Riding Lawn Mower
	      </div>
	      <div id="but1" class="carouselLeft" style="display: inline;">&nbsp;</div>
	      <div id="but2" class="carouselRight" style="display: inline;">&nbsp;</div>
			</div>
		</div>
		<!-- End - JSP File Name: eMarketingSpotDisplayCarousel.jsp -->
	</div>
	<div class="content_wrap group">
		<div class="side_nav col">	
			<div class="category sidebox">
				<h2>Lawn &amp; Garden</h2>
	  		<ul>
	      	<li><a href="/our-products/list">Lawn Mowers &amp; Tractors</a></li>
          <li><a href="/our-products/list">Zero-Turn Riders</a></li>
          <li><a href="/our-products/list">Trimmers</a></li>
          <li><a href="/our-products/list">Tillers and Cultivators</a></li>
	      </ul>
				<h2>Trees &amp; Leaves</h2>
	  		<ul>
	  			<li><a href="/our-products/list">Leaf Blowers</a></li>
          <li><a href="/our-products/list">Chipper Shredders &amp; Vacs</a></li>
          <li><a href="/our-products/list">Log Splitters</a></li>
          <li><a href="/our-products/list">Chainsaws</a></li>
	      </ul>
				<h2>Snow</h2>
				<ul>
					<li><a href="/our-products/list">Snow Throwers</a></li>
	    	</ul>
	    	<h2>Parts</h2>
	    	<ul>
					<li><a href="/our-products/list">Find Parts</a></li>
	    	</ul>
			</div>
		</div>
		<div class="main browse col">
			<section>
				<h1></h1>
				<p></p>
				<section>
					<h1>Shop By Brand</h1>
				</section>
			</section>
			<div class="listing group">
				<div class="highlights col">
					<section>
						<a class="thumb" href="http://www.mtdproducts.com/equipment/mtdproducts/shop-by-brand/shop-by-brand/bolens" title="Bolens">
							<img src="/wcsstore/MTDProducts/Attachment/en_US/brands/Bolens/2.0_Bolens_category.png" alt="Bolens" width="225" height="225">
						</a>
						<h1><a href="http://www.mtdproducts.com/equipment/mtdproducts/shop-by-brand/shop-by-brand/bolens" title="Bolens">Bolens</a></h1>
						<p>Bolens® brings great value to outdoor power equipment, with a lineup that’s ready to get the job done.</p>
						<ul class="submenu">
							<li><a href="category2_10500_20500_1341946_1341945__-1" title="Riding Mower">Riding Mower</a></li>
							<li><a href="category2_10500_20500_1341947_1341945__-1" title="Push Lawn Mowers">Push Lawn Mowers</a></li>
							<li><a href="http://www.mtdproducts.com/equipment/mtdproducts/shop-by-brand/shop-by-brand/bolens" title="View All">View All 4</a></li>
						</ul>
					</section>
				</div>
				<div class="highlights col">
					<section>
						<a class="thumb" href="http://www.mtdproducts.com/equipment/mtdproducts/shop-by-brand/shop-by-brand/yard-machines" title="Yard Machines">
							<img src="/wcsstore/MTDProducts/Attachment/en_US/brands/YardMachines/2.0_Yardmachines_category.png" alt="Yard Machines" width="225" height="225">
						</a>
						<h1><a href="http://www.mtdproducts.com/equipment/mtdproducts/shop-by-brand/shop-by-brand/yard-machines" title="Yard Machines">Yard Machines</a></h1>
						<p>We appreciate that you work hard. Our hardworking machines are just what you need when you need to get yardwork done.</p>
						<ul class="submenu">
							<li><a href="category2_10500_20500_1341951_1341950__-1" title="Riding Mowers">Riding Mowers</a></li>
							<li><a href="category2_10500_20500_1341952_1341950__-1" title="Push Lawn Mowers">Push Lawn Mowers</a></li>
							<li><a href="http://www.mtdproducts.com/equipment/mtdproducts/shop-by-brand/shop-by-brand/yard-machines" title="View All">View All 8</a></li>
						</ul>
					</section>
				</div>
				<div class="highlights col last">
					<section>
						<a class="thumb" href="http://www.mtdproducts.com/equipment/mtdproducts/shop-by-brand/shop-by-brand/yard-man" title="Yard-Man">
							<img src="/wcsstore/MTDProducts/Attachment/en_US/brands/YardMan/2.0_Yard-Man_category.png" alt="Yard-Man" width="225" height="225">
						</a>
						<h1><a href="http://www.mtdproducts.com/equipment/mtdproducts/shop-by-brand/shop-by-brand/yard-man" title="Yard-Man">Yard-Man</a></h1>
						<p>Yard-Man® delivers practical, affordable and serious tools to save time and money for what’s truly important in life.</p>
						<ul class="submenu">
							<li><a href="category2_10500_20500_1341964_1341960__-1" title="Zero-Turn Mowers">Zero-Turn Mowers</a></li>
							<li><a href="category2_10500_20500_1341961_1341960__-1" title="Push Lawn Mowers">Push Lawn Mowers</a></li>
							<li><a href="http://www.mtdproducts.com/equipment/mtdproducts/shop-by-brand/shop-by-brand/yard-man" title="View All">View All 7</a></li>
						</ul>
					</section>
				</div>
				<div class="highlights col">
					<section>
						<a class="thumb" href="http://www.mtdproducts.com/equipment/mtdproducts/shop-by-brand/shop-by-brand/remington" title="Remington">
							<img src="/wcsstore/MTDProducts/Attachment/en_US/brands/Remington/2.0_Remington_category.png" alt="Remington" width="225" height="225">
						</a>
						<h1><a href="http://www.mtdproducts.com/equipment/mtdproducts/shop-by-brand/shop-by-brand/remington" title="Remington">Remington</a></h1>
						<p>Remington® makes it easy to care for your yard, with electric and battery mowers, chain saws, and pole saws that deliver quality and value.</p>
						<ul class="submenu">
							<li><a href="category2_10500_20500_1341972_1341971__-1" title="Push Lawn Mowers">Push Lawn Mowers</a></li>
							<li><a href="category2_10500_20500_1341974_1341971__-1" title="Electric &amp; Cordless Mowers">Electric &amp; Cordless Mowers</a></li>
							<li><a href="http://www.mtdproducts.com/equipment/mtdproducts/shop-by-brand/shop-by-brand/remington" title="View All">View All 7</a></li>
						</ul>
					</section>
				</div>
				<div class="highlights col">
					<section>
						<a class="thumb" href="http://www.mtdproducts.com/equipment/mtdproducts/shop-by-brand/shop-by-brand/mtd-gold" title="MTD Gold">
							<img src="/wcsstore/MTDProducts/Attachment/en_US/brands/MTDGold/2.0_MTDGold_category.png" alt="MTD Gold" width="225" height="225">
						</a>
						<h1><a href="http://www.mtdproducts.com/equipment/mtdproducts/shop-by-brand/shop-by-brand/mtd-gold" title="MTD Gold">MTD Gold</a></h1>
						<p>For those who want serious performance without serious cost, you’ll find it in MTD Gold. </p>
						<ul class="submenu">
							<li><a href="category2_10500_20500_1341933_1341932__-1" title="Riding Mowers">Riding Mowers</a></li>
							<li><a href="category2_10500_20500_1341934_1341932__-1" title="Zero-Turn Mowers">Zero-Turn Mowers</a></li>
							<li><a href="http://www.mtdproducts.com/equipment/mtdproducts/shop-by-brand/shop-by-brand/mtd-gold" title="View All">View All 8</a></li>
						</ul>
					</section>
				</div>
				<div class="highlights col last">
					<section>
						<a class="thumb" href="http://www.mtdproducts.com/equipment/mtdproducts/shop-by-brand/shop-by-brand/mtd-pro" title="MTD Pro">
							<img src="/wcsstore/MTDProducts/Attachment/en_US/brands/MTDPro/2.0_MTDPro_category.png" alt="MTD Pro" width="225" height="225">
						</a>
						<h1><a href="http://www.mtdproducts.com/equipment/mtdproducts/shop-by-brand/shop-by-brand/mtd-pro" title="MTD Pro">MTD Pro</a></h1>
						<p>The hardworking MTD Pro lineup makes it easy to take care of your landscape, leaving professional-grade results. </p>
						<ul class="submenu">
							<li><a href="category2_10500_20500_1344370_1341940__-1" title="Self-Propelled Lawn Mowers">Self-Propelled Lawn Mowers</a></li>
							<li><a href="category2_10500_20500_1341942_1341940__-1" title="Trimmers">Trimmers</a></li>
							<li><a href="http://www.mtdproducts.com/equipment/mtdproducts/shop-by-brand/shop-by-brand/mtd-pro" title="View All">View All 4</a></li>
						</ul>
					</section>
				</div>
				<div class="highlights col">
					<section>
						<a class="thumb" href="http://www.mtdproducts.com/equipment/mtdproducts/shop-by-brand/shop-by-brand/mtd" title="MTD">
							<img src="/wcsstore/MTDProducts/Attachment/en_US/brands/MTD/2.0_MTD_category.png" alt="MTD" width="225" height="225">
						</a>
						<h1><a href="http://www.mtdproducts.com/equipment/mtdproducts/shop-by-brand/shop-by-brand/mtd" title="MTD">MTD</a></h1>
						<p>As global leaders in outdoor power equipment, MTD builds quality, dependability and value into products for a growing world. </p>
						<ul class="submenu">
							<li><a href="category2_10500_20500_1341928_1341927__-1" title="Push Lawn Mowers">Push Lawn Mowers</a></li>
							<li><a href="category2_10500_20500_1344365_1341927__-1" title="Self-Propelled Mowers">Self-Propelled Mowers</a></li>
							<li><a href="http://www.mtdproducts.com/equipment/mtdproducts/shop-by-brand/shop-by-brand/mtd" title="View All">View All 5</a></li>
						</ul>
					</section>
				</div>
			</div>
		</div>
	</div>
</div>