<div id="content">
	<div class="breadcrumbs">
		<ul>
			<li><a href="/" title="Home">Home</a>&gt;</li>
			<li>Our Company</li> 
		</ul>
	</div>
	<div class="content_wrap group">
		<div class="side_nav col">
			<div class="single sidebox">
				<h2>Our Company</h2>
				<ul>
					<li><a href="company_10500_20500_-1_MissionVisionValues" title="Mission Vision Values">Mission Vision Values</a></li>
					<li><a href="company_10500_20500_-1_heritage" title="Heritage">Heritage</a></li>
				</ul>
			</div>
			<div class="callouts">
				<!-- Start- JSP File Name: eMarketingSpotDisplayGeneric.jsp --> 	
			 	<div>
					<a href="ClickInfo?evtype=CpgnClick&amp;mpe_id=725629&amp;intv_id=10571&amp;storeId=10500&amp;catalogId=20500&amp;langId=-1&amp;URL=OwnersCenterView%3fstoreId%3d10500%26catalogId%3d20500%26langId%3d-1">
						<img src="/wcsstore/MTDProducts/Attachment/en_US/leftNav/owners-center.jpg" alt="" border="0">
					</a>
				</div>
				<!-- End - JSP File Name: eMarketingSpotDisplayGeneric.jsp -->
				<!-- Start- JSP File Name: eMarketingSpotDisplayGeneric.jsp -->
			 	<div>
					<a href="ClickInfo?evtype=CpgnClick&amp;mpe_id=725630&amp;intv_id=10575&amp;storeId=10500&amp;catalogId=20500&amp;langId=-1&amp;URL=http%3a%2f%2fwww.mtdparts.com%2fwebapp%2fwcs%2fstores%2fservlet%2fARIPartFinderView%3fstoreId%3d10101%26catalogId%3d19502%26langId%3d-1">
						<img src="/wcsstore/MTDProducts/Attachment/en_US/leftNav/parts-locator.png" alt="" border="0">       
					</a>
				</div>
				<!-- End - JSP File Name: eMarketingSpotDisplayGeneric.jsp -->
			</div>
		</div>
		<div class="main col">
			<!--Begin WWCM Content-->
			<div class="main col">
				<div id="product_hero" class="level2">
					<div id="hero_paging"></div>
					<ul id="hero_features">
						<li>
							<img src="/wcsstore/ManagedContent/MTDProducts/en_US/media/OurCompany_740x260.png" border="0" width="738" height="259">
						</li>    
					</ul>  
				</div>  
				<h1>Our Company</h1>
				<p>MTD was founded over 80 years ago based on some basic values: Stewardship; Integrity; Hard Work; Reliance on and Respect for People; Innovation; Willingness to take Risks; Gratitude for Customers and Promotion from Within. Today, we're proud to say these values still continue to drive our decisions. They've been integral to our success and growth.<br><br>Headquartered in Valley City near Cleveland, Ohio, our passion has led MTD to be a worldwide leader of outdoor power equipment with facilities in Europe, North America, Asia, Australia and South America producing equipment for both residential and commercial markets. <br><br>MTD's engineering expertise and state-of-the-art facilities have led to our being known for innovation and award-winning products. MTD has earned a reputation around the world for excellence in quality and service. Our focus is on uncompromising quality, service and value through advanced manufacturing. MTD's current family of brands includes a complete range of products to suit every type of customer and every kind of lawn and garden. From the most hard-working and affordable models to those with professional-grade features at a value, MTD offers the widest product range available.<br><br>Along with Cub Cadet, Troy-Bilt and Remington, the MTD family of brands includes MTD®, MTD Gold®, MTD Pro®, Yard-Man®, Yard Machines® and &nbsp;Bolens®. The appeal of each brand lies in its individuality and distinctive appearance. MTD products can be found in all channels of distribution such as home improvement stores, hardware stores, mass retailers, independent dealers and farm supply stores.<br><br>Our brands, while diverse in nature, share one thing in common. They are all backed by our strong network of support, making it easy to find the information, replacement parts, accessories and services that our present and future customers need. Our commitment to them, to the communities in which we operate, and the world in which we live, is second to none. <br><br>Many years ago, one of the MTD founders stated "The Past We Inherit. The Future We Create". This phrase, while simple and profound, has deep meaning for our company and our employees. As an industry leader, we will continue to look to the future, developing innovative products for the outdoor power equipment industry in order to provide you with the quality, dependability and value you need and want.<br><br><br></p>    
				<xmp style="DISPLAY: inline" id="9669" tabindex="-1" contenteditable="false"></xmp>
				<xmp style="DISPLAY: inline" id="9669" tabindex="-1" contenteditable="false"></xmp>
				<xmp style="DISPLAY: inline" id="9669" tabindex="-1" contenteditable="false"></xmp>
				<div class="col eSpots">    
					<div class="col1">      
						<p></p>
						<xmp style="DISPLAY: inline" id="9669" tabindex="-1" contenteditable="false"></xmp>
						<xmp style="DISPLAY: inline" id="9669" tabindex="-1" contenteditable="false"></xmp>
						<xmp style="DISPLAY: inline" id="9669" tabindex="-1" contenteditable="false"></xmp>
						<p></p>
					</div>    
					<div class="col2">
						<p></p>
						<xmp style="DISPLAY: inline" id="9669" tabindex="-1" contenteditable="false"></xmp>
						<xmp style="DISPLAY: inline" id="9669" tabindex="-1" contenteditable="false"></xmp>
						<xmp style="DISPLAY: inline" id="9669" tabindex="-1" contenteditable="false"></xmp>
						<p></p>
					</div>
					<div class="col3">
						<p></p>
						<xmp style="DISPLAY: inline" id="9669" tabindex="-1" contenteditable="false"></xmp>
						<xmp style="DISPLAY: inline" id="9669" tabindex="-1" contenteditable="false"></xmp>
						<xmp style="DISPLAY: inline" id="9669" tabindex="-1" contenteditable="false"></xmp>
						<p></p>
					</div>
				</div>
			</div>
	    <div class="clear"><!-- --></div>
		</div>
	</div>
</div>