<div id="content">
	<div class="breadcrumbs">
		<ul>
			<li><a href="/" title="Home">Home</a>&gt;</li>
			<li>Our Caring</li> 
		</ul>
	</div>
	<div class="content_wrap group">
		<div class="side_nav col">
			<div class="single sidebox">
				<h2>Our Caring</h2>
				<ul>
					<li><a href="#" onclick="alert('link not implemented'); return false" title="Environmental">Environmental</a></li>
					<li><a href="#" onclick="alert('link not implemented'); return false" title="Safety">Safety</a></li>
				</ul>
			</div>
			<div class="callouts">
				<!-- Start- JSP File Name: eMarketingSpotDisplayGeneric.jsp --> 	
			 	<div>
					<a href="ClickInfo?evtype=CpgnClick&amp;mpe_id=725629&amp;intv_id=10571&amp;storeId=10500&amp;catalogId=20500&amp;langId=-1&amp;URL=OwnersCenterView%3fstoreId%3d10500%26catalogId%3d20500%26langId%3d-1">
						<img src="/wcsstore/MTDProducts/Attachment/en_US/leftNav/owners-center.jpg" alt="" border="0">
					</a>
				</div>
				<!-- End - JSP File Name: eMarketingSpotDisplayGeneric.jsp -->
			</div>
		</div>
		<div class="main col">
			<!--Begin WWCM Content-->
			<div class="main col">
				<div id="product_hero" class="level2">
					<div id="hero_paging"></div>
					<ul id="hero_features">
						<li>
							<img src="/wcsstore/MTDProducts/Attachment/en_US/misc/hero_contact_us.jpg" alt="" border="0">
						</li>    
					</ul>  
				</div>  
				<h1>Our Caring</h1>
				<p>As a leader in the outdoor power equipment industry, we care about the environment in which we live and work. We believe that a healthy planet and a healthy community go hand in hand. Throughout our history, MTD has strived to protect our environment, our people and the communities that we serve. We are committed to educating and promoting the safe and considerate use of outdoor power equipment. Whether we’re developing safety-featured products, educating consumers on safe operation techniques or providing useful information about the world we live in, MTD will continue to offer you efficient and innovative products to enhance the beauty of your property and our world.</p>
				<div class="two_col col">
					<div class="sm_col1">
	        	<h2>Environmental</h2>
	          <p>
							Many of us are concerned about the future of our planet and the health of future generations.  We can all help this issue with something as simple as turfgrass.  The satisfaction of creating beauty within the landscape can be rewarding for you and the environment.
						</p>
	          <ul>
							<li><a href="caring_10500_20500_-1_turfgrass" title="The Benefits of Turfgrass">The Benefits of Turfgrass</a></li>
							<li><a href="caring_10500_20500_-1_TurfMutt" title="The TurfMutt Education Program">The TurfMutt Education Program</a></li>
						</ul>
					</div>
          <div class="sm_col2">
	        	<h2>Safety</h2>
	          <p>
							Americans are creating outdoor spaces to enjoy good times with family and friends.   People power up to keep their property in beautiful shape.  That’s why it’s important to be safe when using any type of outdoor power equipment.  Whether you are a new or existing owner, it’s vital that you know and review the safety rules for the equipment you’re using at the beginning of each season.  
						</p>
	          <ul>
							<li><a href="safety_10500_20500_-1" title="Lawn Mower Safety">Lawn Mower Safety</a></li>
							<li><a href="safety_10500_20500_-1" title="Snow Thrower Safety">Snow Thrower Safety</a></li>
						</ul>
	        </div>
				</div>
				<xmp style="DISPLAY: inline" id="9669" tabindex="-1" contenteditable="false"></xmp>
				<xmp style="DISPLAY: inline" id="9669" tabindex="-1" contenteditable="false"></xmp>
				<xmp style="DISPLAY: inline" id="9669" tabindex="-1" contenteditable="false"></xmp>
				<div class="col eSpots">    
					<div class="col1">      
						<p></p>
						<xmp style="DISPLAY: inline" id="9669" tabindex="-1" contenteditable="false"></xmp>
						<xmp style="DISPLAY: inline" id="9669" tabindex="-1" contenteditable="false"></xmp>
						<xmp style="DISPLAY: inline" id="9669" tabindex="-1" contenteditable="false"></xmp>
						<p></p>
					</div>    
					<div class="col2">
						<p></p>
						<xmp style="DISPLAY: inline" id="9669" tabindex="-1" contenteditable="false"></xmp>
						<xmp style="DISPLAY: inline" id="9669" tabindex="-1" contenteditable="false"></xmp>
						<xmp style="DISPLAY: inline" id="9669" tabindex="-1" contenteditable="false"></xmp>
						<p></p>
					</div>
					<div class="col3">
						<p></p>
						<xmp style="DISPLAY: inline" id="9669" tabindex="-1" contenteditable="false"></xmp>
						<xmp style="DISPLAY: inline" id="9669" tabindex="-1" contenteditable="false"></xmp>
						<xmp style="DISPLAY: inline" id="9669" tabindex="-1" contenteditable="false"></xmp>
						<p></p>
					</div>
				</div>
			</div>
	    <div class="clear"><!-- --></div>
		</div>
	</div>
</div>