<div id="content">
  <div class="breadcrumbs">
    <ul>
      <li><a href="/" title="Home">Home</a>&gt;</li>
      <li>Parts</li> 
    </ul>
  </div>
  <div class="content_wrap group">
    <div class="side_nav col">
      <div class="single sidebox">
        <h2>Parts</h2>
        <ul>
          <li><a href="#" title="Product Manuals">Product Manuals</a></li>
          <li><a href="#" title="Product Registration">Product Registration</a></li>
          <li><a href="#" title="Replacement Parts, Accessories &amp; Attachments">Replacement Parts, Accessories &amp; Attachments</a></li>
          <li><a href="#" title="Find a Service Centre">Find a Service Centre</a></li>
          <li><a href="#" title="FAQs">FAQs</a></li>
          <li><a href="#" title="Tips &amp; Tricks">Tips &amp; Tricks</a></li>
          <li><a href="#" title="Diagnose &amp; Troubleshoot">Diagnose &amp; Troubleshoot</a></li>
          <li><a href="#" title="Maintenance">Maintenance</a></li>
          <li><a href="#" title="Contact Us">Contact Us</a></li>
        </ul>
      </div>
      <div class="callouts">
        <div>
          <a href="#">
            <img src="/wcsstore/MTDProducts/Attachment/en_US/leftNav/owners-center.jpg" alt="" border="0">
          </a>
        </div>
        <div>
          <a href="#">
            <img src="/wcsstore/MTDProducts/Attachment/en_US/leftNav/parts-locator.png" alt="" border="0">       
          </a>
        </div>
      </div>
    </div>
    <div class="main col">
      <h1>Use the parts it was born with. Use genuine factory parts.</h1>
      <p>To support the complete line of MTD outdoor power equipment, we offer a broad selection of genuine MTD parts, all designed to exacting standards. From blades to belts, our parts are manufactured to offer quality, reliability, safety and value.</p> 
      <div class="group grid landing parts">
        <div class="attention manuals first col">
          <section>
            <h3>Need Service?</h3>
            <p>Find an authorized Servicing Dealer near you.</p>
            <p class="related">
              <a href="#" class="button" title="Find a Service Centre">Find a Service Centre</a>  
            </p>    
            <p class="related">
              <a href="#" class="button tall" title="Find a Service Centre">Find a Service Centre and Extra Text</a>  
            </p>                  
          </section>
        </div>
        <div class="attention manuals col">
          <section>
            <h3>Operator's Manuals</h3> 
            <form method="get" action="#">
              <ul>
                <li>
                  <label for="model-number">Know your model #?</label>
                  <input type="text" name="model_number" id="model-number" class="text" placeholder="Enter Model #" />
                </li>
                <li>
                  <input type="text" name="serial_number" id="serial-number" class="text" placeholder="Enter Serial # (optional)" />
                </li>
                <li>
                  <input type="submit" class="button" value="Find Your Manual" />
                </li>
              </ul>
            </form> 
            <p class="related"><strong>Don't Know Your Model #?</strong></p>
            <p class="related">Knowing your outdoor power equipments model number and serial number will ensure that you find the correct OEM replacement part number for your equipment.</p>
            <p class="related"><a class="button" href="#" title="Locate Your Manual">Locate Your Manual</a></p>                           
          </section>
        </div>
        <div class="attention registration last col">
          <section>
            <h3>Product Registration</h3>
            <p>Register all of your MTD equipment here! Registering your equipment will help you with warranty information. It will make it easy for us to notify you if there are ever any recalls on your equipment.</p>  
            <a class="button" href="#" title="Register Now">Register Now</a>                
          </section>
        </div>
      </div>
    </div>
  </div>
</div>