<div id="content" class="product-detail-view">
	<div class="breadcrumbs">
		<ul>
			<li><a href="/" title="Home">Home</a>&gt;</li>
			<li><a href="/our-products" title="Our Products">Our Products</a>&gt;</li>
			<li><a href="/our-products/list" title="Lawn &amp; Garden">Lawn &amp; Garden</a>&gt;</li>
			<li>
				Self-Propelled Lawn Mowers
			</li>
		</ul>
	</div>
	<div class="content_wrap group">
		<!-- Start Product Image Col -->
		<div class="product-image col">
			<div class="highlights">
				<section>
					<div id="main-product-image">
						<a class="thumb" rel="shadowbox;width=500;height=500" href="http://www.mtdproducts.com/equipment/mtdproducts/our-products/ProductDetailZoomView?storeId=10500&amp;catalogId=20500&amp;categoryId=1341913&amp;langId=-1&amp;productImagePath=%2fwcpics%2fMTDProducts%2fen_US%2fproducts%2f13AM772S000_prod_large.png" title="Yard Machines 13AM772S000 Riding Mower">
							<img src="/wcpics/MTDProducts/en_US/images/content/product-detail-placeholder.jpg" alt='Yard-Man 21" XP Series Walk-Behind Mower' width="380" height="380">
							<img class="zoom" src="/wcpics/MTDProducts/en_US/images/magnify.gif" alt="zoom">
						</a> 
					</div>
				</section>
			</div>	
			<ul class="small-thumbs group">
				<li class="col">
					<a class="thumb swap-large-image" href="/wcpics/MTDProducts/en_US/images/content/product-detail-placeholder2.jpg" rel="http://www.mtdproducts.com/equipment/mtdproducts/our-products/ProductDetailZoomView?storeId=10500&amp;catalogId=20500&amp;categoryId=1341913&amp;langId=-1&amp;productImagePath=%2fwcpics%2fMTDProducts%2fen_US%2fproducts%2f13AM772S000_prod_large.png" title="Swap Thumbnail">
						<img src="/wcpics/MTDProducts/en_US/images/content/product-detail-placeholder2-tmb.jpg" alt='Yard-Man 21" XP Series Walk-Behind Mower' width="62" height="62">
					</a> 
				</li>
				<li class="col">
					<a class="thumb swap-large-image" href="/wcpics/MTDProducts/en_US/images/content/product-detail-placeholder.jpg" rel="http://www.mtdproducts.com/equipment/mtdproducts/our-products/ProductDetailZoomView?storeId=10500&amp;catalogId=20500&amp;categoryId=1341913&amp;langId=-1&amp;productImagePath=%2fwcpics%2fMTDProducts%2fen_US%2fproducts%2f13AM772S000_prod_large.png" title="Swap Thumbnail">
						<img src="/wcpics/MTDProducts/en_US/images/content/product-detail-placeholder-tmb.jpg" alt='Yard-Man 21" XP Series Walk-Behind Mower' width="62" height="62">
					</a> 
				</li>
				<li class="col">
					<a class="thumb swap-large-image" href="/wcpics/MTDProducts/en_US/images/content/product-detail-placeholder2.jpg" rel="http://www.mtdproducts.com/equipment/mtdproducts/our-products/ProductDetailZoomView?storeId=10500&amp;catalogId=20500&amp;categoryId=1341913&amp;langId=-1&amp;productImagePath=%2fwcpics%2fMTDProducts%2fen_US%2fproducts%2f13AM772S000_prod_large.png" title="Swap Thumbnail">
						<img src="/wcpics/MTDProducts/en_US/images/content/product-detail-placeholder2-tmb.jpg" alt='Yard-Man 21" XP Series Walk-Behind Mower' width="62" height="62">
					</a> 
				</li>
				<li class="col">
					<a class="thumb swap-large-image" href="/wcpics/MTDProducts/en_US/images/content/product-detail-placeholder.jpg" rel="http://www.mtdproducts.com/equipment/mtdproducts/our-products/ProductDetailZoomView?storeId=10500&amp;catalogId=20500&amp;categoryId=1341913&amp;langId=-1&amp;productImagePath=%2fwcpics%2fMTDProducts%2fen_US%2fproducts%2f13AM772S000_prod_large.png" title="Swap Thumbnail">
						<img src="/wcpics/MTDProducts/en_US/images/content/product-detail-placeholder-tmb.jpg" alt='Yard-Man 21" XP Series Walk-Behind Mower' width="62" height="62">
					</a> 
				</li>
				<li class="col">
					<a class="thumb swap-large-image" href="/wcpics/MTDProducts/en_US/images/content/product-detail-placeholder2.jpg" rel="http://www.mtdproducts.com/equipment/mtdproducts/our-products/ProductDetailZoomView?storeId=10500&amp;catalogId=20500&amp;categoryId=1341913&amp;langId=-1&amp;productImagePath=%2fwcpics%2fMTDProducts%2fen_US%2fproducts%2f13AM772S000_prod_large.png" title="Swap Thumbnail">
						<img src="/wcpics/MTDProducts/en_US/images/content/product-detail-placeholder2-tmb.jpg" alt='Yard-Man 21" XP Series Walk-Behind Mower' width="62" height="62">
					</a> 
				</li>
			</ul>
		</div>
		<!-- End Product Image Col -->
		<!-- Start Product Description Col -->
		<div class="product-description col">
			<h1>Yard-Man 21" XP Series Walk-Behind Mower</h1>
			<p>
				Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit.
			</p>
			<p>
				Item #: 8774
			</p>
			<h3>Features</h3>
			<ul>
				<li>Consectetuer adipiscing elit, sed diam nonummy</li>
				<li>nibh euismod tincidunt ut laoreet dolore</li>
				<li>magna aliquam erat volutpat.</li>
				<li>tation ullamcorper suscipit lobortis nisl ut aliquip ex ea</li>
			</ul>
		</div>
		<!-- End Product Description Col -->	
		<!-- Start Purchasing Info -->
		<div class="purchasing_info col">
			<p>
				<img src="/wcpics/MTDProducts/en_US/images/top-rated.png" alt='A Top-Rated Product' width="91" height="32">
			</p>
			<a class="button" rel="shadowbox;width=750;height=600" href="http://staging.easy2.com/cm/masterflash/generic_index.asp?page_id=36288301&amp;notracking=yes" title="Remington RM3000 Reel Mower - 15A-3000783">View Demo</a>
			<div class="clear">&nbsp;</div>
			<div class="availability">
				<h4>Available at</h4>
				<ul>
					<li class="nonFloated">
						<a onclick="javascript:externalLink('WhereToBuy_hd','WhereToBuy','http://www.homedepot.com/Outdoors-Outdoor-Power-Equipment-Walk-Behind-Mowers-Push-Mowers/h_d1/N-5yc1vZbxcr/h_d2/Navigation?langId=-1&amp;storeId=10051&amp;catalogId=10053&amp;Nu=P_PARENT_ID','http://www.mtdproducts.com/webapp/wcs/stores/servlet/mtdproducts/our-products/lawn-and-garden/push-lawn-mowers','hd');" target="_blank" href="http://www.homedepot.com/Outdoors-Outdoor-Power-Equipment-Walk-Behind-Mowers-Push-Mowers/h_d1/N-5yc1vZbxcr/h_d2/Navigation?langId=-1&amp;storeId=10051&amp;catalogId=10053&amp;Nu=P_PARENT_ID"><img src="/wcpics/MTDProducts/en_US/images/content/retailers/hd.png" class="singleWTB"></a>
					</li>					
					<li class="nonFloated">
						<a onclick="javascript:externalLink('WhereToBuy_lowes','WhereToBuy','http://www.lowes.com/pd_317737-270-13WC762F065_0__?productId=3308176&amp;Ntt=bolens&amp;pl=1&amp;currentURL=%2Fpl__0__s%3FNtt%3Dbolens','http://www.mtdproducts.com/webapp/wcs/stores/servlet/mtdproducts/our-products/lawn-and-garden/riding-lawn-mowers','lowes');" target="_blank" href="http://www.lowes.com/pd_317737-270-13WC762F065_0__?productId=3308176&amp;Ntt=bolens&amp;pl=1&amp;currentURL=%2Fpl__0__s%3FNtt%3Dbolens"><img src="/wcpics/MTDProducts/en_US/images/content/retailers/lowes.png" class="singleWTB"></a>
					</li>
					<li class="nonFloated">
						<a onclick="javascript:externalLink('WhereToBuy_sears','WhereToBuy','http://www.sears.com/search=push%20mowers&amp;Yard%20Machines?filter=Brand&amp;keywordSearch=false&amp;vName=Lawn+%26+Garden&amp;catalogId=12605&amp;previousSort=ORIGINAL_SORT_ORDER&amp;viewItems=25&amp;storeId=10153&amp;cName=Lawn+Mowers','http://www.mtdproducts.com/webapp/wcs/stores/servlet/mtdproducts/our-products/lawn-and-garden/push-lawn-mowers','sears');" target="_blank" href="http://www.sears.com/search=push%20mowers&amp;Yard%20Machines?filter=Brand&amp;keywordSearch=false&amp;vName=Lawn+%26+Garden&amp;catalogId=12605&amp;previousSort=ORIGINAL_SORT_ORDER&amp;viewItems=25&amp;storeId=10153&amp;cName=Lawn+Mowers"><img src="/wcpics/MTDProducts/en_US/images/content/retailers/sears.png" class="singleWTB"></a>
					</li>
				</ul>
				<div class="clear">&nbsp;</div>
			</div>
		</div>
		<!-- End Purchasing Info -->
	</div>
	<!-- Start Tabs -->
	<div id="tabs">
		<ul>
			<li><a href="#specifications" title="Specifications"><span>Specifications</span></a></li>
			<li><a href="#support" title="Support"><span>Support</span></a></li>
			<li><a href="#maintenance-tips" title="Maintenance Tips"><span>Maintenance Tips</span></a></li>
			<li><a href="#safety-tips" title="Safety Tips"><span>Safety Tips</span></a></li>
			<li><a href="#accessories" title="Accessories"><span>Accessories</span></a></li>
		</ul>
		<!-- Start Specifications -->
		<div id="specifications" class="tab-content">
			<h3>Additional Features</h3>
			<ul>
				<li>Push-button electric start</li>
				<li>All-wheel drive</li>
				<li>6 forward / 2 reverse speeds</li>
				<li>28" clearing width</li>
				<li>21" intake height</li>
				<li>4-way joystick chute control - easily controls chute pitch and direction from the operator position</li>
				<li>12" serrated steel auger</li>
				<li>Deluxe adjustable and reversible skid shoes</li>
				<li>In-dash headlight and reflective strips for safer operation in low light conditions</li>
				<li>16" x 4.8" X-Trac snow tires</li>
				<li>277cc* Troy-Bilt 4-cycle OHV</li>
			</ul>
			<p>
				*As rated by engine manufacturer
			</p>
			<h3>Specifications</h3>
			<dl class="group inline-dl specifications">
				<dt>Starting System</dt>
					<dd>Electric / Recoil</dd>
				<dt>Clearing Width</dt>
					<dd>28"</dd>
				<dt>Intake Height</dt>
					<dd>21"</dd>
				<dt>Auger Diameter</dt>
					<dd>12"</dd>
				<dt>Impeller Diameter</dt>
					<dd>12"</dd>
				<dt>Drive System</dt>
					<dd>All-wheel drive</dd>
				<dt>Power Steering</dt>
					<dd>N/A</dd>
				<dt>Speed</dt>
					<dd>6 Forward / 2 Reverse</dd>
				<dt>Operation</dt>
					<dd>Just One Hand&reg;</dd>
				<dt>Handle Grips</dt>
					<dd>Heated grips</dd>
				<dt>Chute Control</dt>
					<dd>4-way (joystick)</dd>
				<dt>Chute/Rotation</dt>
					<dd>5" polymer / 200 degrees</dd>
				<dt>Chute Clearing Device</dt>
					<dd>Standard clearing device</dd>
				<dt>Headlight</dt>
					<dd>In-dash headlight</dd>
				<dt>Tires</dt>
					<dd>16" x 4.8" X-Trac&trade;</dd>
				<dt>Adjustable Skid Shoes</dt>
					<dd>Deluxe / Reversible skid shoes</dd>
				<dt>Oil Fill</dt>
					<dd>Extended</dd>
				<dt>Fuel Capacity</dt>
					<dd>5 Qt</dd>
				<dt>Engine</dt>
					<dd>277cc* OHV 4-cycle Troy-Bilt&reg;</dd>
				<dt>Warranty</dt>
					<dd>2-year limited</dd>
			</dl>
		</div>
		<!-- End Specifications -->
		<!-- Start Support -->
		<div id="support" class="tab-content">
			<div class="group grid landing">
				<div class="attention manuals first col">
					<section>
						<h3>Operator's Manuals</h3>										
						<div id="errMsgDisplay" class="redtext"></div>							
						<form name="find_manual" action="DisplayOwnersManualList" method="get" enctype="text/plain">
							<input type="hidden" name="storeId" value="10500">
							<input type="hidden" name="catalogId" value="20500">
							<input type="hidden" name="langId" value="-1">
							<ul>
								<li>
									<label for="model_number1">Know Your Model #</label>								
									<select id="model_brand" name="logoCode" class="cSelectBox">
										<option value="">Select A Brand</option>																				
											<option value="06">Bolens</option>																					
											<option value="XX">Columbia</option>																							
											<option value="62">MTD</option>																					
											<option value="47">MTD Gold</option>																					
											<option value="17">MTD Pro</option>																					
											<option value="03">Yard-Man</option>																			
											<option value="28">Trimmer Plus</option>																					
											<option value="07">White Outdoor</option>																					
											<option value="05">Yard Machines</option>																					
											<option value="100">Remington</option>													
									</select>
									<input type="text" id="model_number" name="modelNumber" value="Enter Model #" onblur="if(this.value == ''){this.value = 'Enter Model #';}" onfocus="if(this.value == 'Enter Model #'){this.value = '';}">
								</li>
								<li>
									<input type="text" id="serial_number" name="serialNumber" value="Enter Serial #" onblur="if(this.value == ''){this.value = 'Enter Serial #';}" onfocus="if(this.value == 'Enter Serial #'){this.value = '';}">
								</li>
								<li>
									<a href="javascript:{}" class="button" id="btnOpSearchByModel" data-defaulttext="Enter Model #">
										<span class="slide">Find Your Manual</span>
									</a>												
								</li>
							</ul>
						</form>	
					</section>
				</div>
				<div class="attention manuals col">
						<h3>Don't know your model #?</h3>
						<p class="related">									
							Knowing your outdoor power equipments' model number and serial number will ensure that you find the correct operator's manual for your equipment.
						</p>
						<p class="related">
							<a class="button" href="DisplayContentView?storeId=10500&amp;catalogId=20500&amp;langId=-1&amp;pageName=en_US/support/modelSearchHelp.html" title="Locate your Model Number">Locate your Model Number</a>
						</p>
						<p class="related sample-tag">
							<img src="/wcpics/MTDProducts/en_US/images/model_serial_th.jpg" alt="Sample MTD Model Tag">
						</p>
					</section>
				</div>
				<div class="attention registration col">
					<section>
						<h3>Product Registration</h3>
						<p>									
							Register all of your MTD equipment here! Registering your equipment will help you with warranty information. It will make it easy for us to notify you if there are ever any recalls on your equipment.
						</p>	
						<a class="button" href="ViewProductRegister?storeId=10500&amp;catalogId=20500&amp;langId=-1" title="Register Now">Register Now</a>								
					</section>
				</div>
				<div class="attention service-centers last col">
					<section>
						<h3>Find Service Centres</h3>
						<p class="related">Enter your zip code below to find service centers in your area.</p>
						<form enctype="text/plain" method="get" action="ServiceLocatorResultsView" name="dealerSearchForm" onsubmit="javascript:return false;">
							<input type="hidden" name="storeId" value="10500">
							<input type="hidden" name="catalogId" value="20500">
							<input type="hidden" name="langId" value="-1">
							<input type="hidden" name="searchType" value="3"> 
							<input type="hidden" name="searchField" value="ZIPCODE"> 
							<input type="hidden" name="sourceDomain" value="mtdparts.com"> 
							<input type="hidden" name="latitude" id="latitude" value="">
							<input type="hidden" name="longitude" id="longitude" value="">								
							<ul class="service_center">                   	
								<li>
									<fieldset><strong>Postal Code:</strong></fieldset> 
					          <input type="text" name="zipCode" value="Enter Postal Code" onfocus="this.value='';" onblur="if (this.value == '') { this.value = 'Enter Postal Code'; }" class="text">
								 </li>
					       <li>
									<fieldset><strong>Within:</strong> </fieldset>
									<select id="distance2" name="proximity" class="within_distance">
										<option value="10">0 - 10 KMs</option>
										<option value="25">0 - 25 KMs</option>
										<option value="50">0 - 50 KMs</option>		
										<option value="100">0 - 100 KMs</option>							
					        </select>
					      </li>
					      <li>
									<fieldset><strong>Brand:</strong> </fieldset>
										<select id="brand2" name="brandCode" class="brand_options">
											<option value="10.">Bolens</option>
											<option value="5.">MTD</option>
											<option value="5.">MTD Gold</option>
											<option value="5.">MTD Pro</option>
											<option value="20.">Remington</option>
											<option value="7.">Yard Machines</option>
											<option value="8.">Yard-Man</option>
										</select>	    
										<br><br>                  
					       </li>	
					       <li><input class="button" value="Find Service Centres" onclick="javascript:getGeocode();"></li>
					    </ul>
					  </form>  
					</section>          
				</div>
			</div>
		</div>
		<!-- End Support -->
		<!-- Start Maintenance Tips -->
		<div id="maintenance-tips" class="tab-content">
			<div class="group">
				<div class="attention col first">
          <section>
            <h3>Operation Tips</h3> 
            <p>
            	Ullamcorper suscipit lobortis nisl.Dolor vel eum iriure dolor in hendrerit in vulputate velit.Sed diam nonummy.Lorem vel eum iriure dolor in hendrerit in.Ullamcorper suscipit lobortis nisl
            </p>
            <p>
							<a href="#" onclick="alert('link not implemented'); return false">Attachments</a><br />
							<a href="#" onclick="alert('link not implemented'); return false">Troubleshooting Assistance</a>
						</p>
          </section>
        </div>
        <div class="attention col">
        	<section>
        		<h3>How-To Tips</h3>
        		<ul>
							<li>Ullamcorper suscipit lobortis nisl.</li>
							<li>Dolor vel eum iriure dolor in hendrerit in vulputate velit.</li>
							<li>Sed diam nonummy.</li>
							<li>Lorem vel eum iriure dolor in hendrerit in.</li>
							<li>Ullamcorper suscipit lobortis nisl.</li>
						</ul>
						<p>
							<a href="#" onclick="alert('link not implemented'); return false">More How-To Tips</a>
						</p>
        	</section>
        </div>
			</div>
		</div>
		<!-- End Maintenance Tips -->
		<!-- Start Safety Tips -->
		<div id="safety-tips" class="tab-content">
			<h2>Safety Tips for Self-Propelled Mowers</h2>
			<ul>
				<li>Thoroughly inspect the area where the equipment is to be used. Remove all stones, sticks, wire, bones, toys and other foreign objects, which could be tripped over or picked up and thrown by the blade.</li>
				<li>Plan your mowing pattern to avoid discharge of material toward roads, sidewalks, bystanders and the like. Also avoid discharging material against a wall or obstruction, which may cause discharged material to ricochet back toward the operator.</li>
				<li>Always wear safety glasses or safety goggles during operation and while performing and adjustment or repair to protect our eyes. Thrown objects which ricochet can cause serious injury to the eyes.</li>
				<li>Wear sturdy, rough-soled work shoes and close-fitting slacks and shirts. Shirts and pants that cover the arms and legs and steel-toed shoes are recommended. Never operate this machine in bare fee, sandals, slippery or light-weight shoes.</li>
				<li>A missing or damaged discharge cover can cause blade contact or thrown object injuries.</li>
				<li>Many injuries occur as a result of the mower being pulled over the foot during a fall caused by slipping or tripping. Do not hold on to the mower if you are falling; release the handle immediately.</li>
				<li>
					Never pull the mower back toward you while you are walking. If you must back the mower away from a wall or obstruction first look down and behind to avoid tripping and then follow these steps:
					<ul>
						<li>Step back from mower to fully extend your arms.</li>
						<li>Be sure you are well balanced with sure footing.</li>
						<li>Pull the mower back slowly, no more than half way toward you</li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- End Safety Tips -->
		<!-- Start Accessories -->
		<div id="accessories">
			<h2>Accessories</h2>
			<p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum.</p>
			<div class="accessories">
				<div class="product group first">
					<div class="col photo">
						<img src="http://placehold.it/130x80" alt="Product Title">
					</div>
					<div class="col desc">
						<h3>Product Title</h3>
						<h4>Part Number: XYZ124</h4>
						<p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum.</p>
					</div>
				</div>
				<div class="product group">
					<div class="col photo">
						<img src="http://placehold.it/130x80" alt="Product Title">
					</div>
					<div class="col desc">
						<h3>Product Title</h3>
						<h4>Part Number: XYZ124</h4>
						<p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum.</p>
					</div>
				</div>
				<div class="product group">
					<div class="col photo">
						<img src="http://placehold.it/130x80" alt="Product Title">
					</div>
					<div class="col desc">
						<h3>Product Title</h3>
						<h4>Part Number: XYZ124</h4>
						<p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum.</p>
					</div>
				</div>
				<div class="product group">
					<div class="col photo">
						<img src="http://placehold.it/130x80" alt="Product Title">
					</div>
					<div class="col desc">
						<h3>Product Title</h3>
						<h4>Part Number: XYZ124</h4>
						<p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum.</p>
					</div>
				</div>
			</div>
		</div>
		<!-- End Accessories -->
	</div>
	<!-- End Tabs -->
</div>
