<div id="content">
  <div class="breadcrumbs">
    <ul>
      <li><a href="/" title="Home">Home</a>&gt;</li>
      <li><a href="/templates/owners-center.php" title="Owner's Center">Owner's Center</a>&gt;</li>
      <li>Product Registration</li>
    </ul>
  </div>
  <div class="content_wrap group">
    <div class="side_nav col">
      <div class="category sidebox single">
        <h2>Owner's Center</h2>
        <ul>
          <li><a href="/templates/manual-finder.php" title="Operator's Manual">Operator's Manual</a></li>
          <li class="active"><a href="/templates/product-registration.php" title="Product Registration">Product Registration</a></li>
          <li><a href="#" title="Find Parts, Accessories &amp; Attachments">Find Parts, Accessories &amp; Attachments</a></li>
          <li><a href="/templates/service-center.php" title="Find a Service Center">Find a Service Center</a></li>
          <li><a href="/templates/faqs.php" title="FAQs">FAQs</a></li>
          <li><a href="/templates/tips-tricks.php" title="Tips &amp; Tricks">Tips &amp; Tricks</a></li>
          <li><a href="/templates/diagnose-troubleshoot.php" title="Diagnose &amp; Troubleshoot">Diagnose &amp; Troubleshoot</a></li>
          <li><a href="#" title="Maintenance">Maintenance</a></li>
          <li><a href="/templates/contact-us.php" title="Contact Us">Contact Us</a></li>
        </ul>
      </div>
      <div class="sidebox single">
        <h2>Contact Us</h2>
        <ul class="contact_us">
          <li><strong>1-800-269-6215</strong></li>
          <li>Mon. - Fri. 8AM - 6PM EST</li>
          <li>Sat. 9AM - 5PM EST</li> 
          <li><a class="button email" href="#">Email Us</a></li>
        </ul>
      </div>
      <div class="callouts">
        <a href="#" title="Parts Locator">
          <img src="/wcpics/MTDProducts/en_US/images/parts-locator.png" border="0" alt="Parts Locator" />
        </a>
        <a href="#" title="Owners Center">
          <img src="/wcpics/MTDProducts/en_US/images/owners-center.jpg" border="0" alt="Owners Center" />
        </a>
      </div>
    </div>
    <div class="main col">
      <h1>Product Registration</h1>
      <p>Thank you for registering your MTD Product! Please take a moment to fill out the survey below.</p>                
      <div class="full_width col">                 
        <form id="product-registration-survey" method="post">
          <div class="block">
            <h3>Why did you buy this product?</h3>
            <div class="group">
              <div class="col one-third with-gutter">
                <input type="radio" name="buying_reason" value="product brand name" id="reason-brand" /> 
                <label for="reason-brand">product brand name</label>
              </div>
              <div class="col one-third with-gutter">
                <input type="radio" name="buying_reason" value="product features" id="reason-features" /> 
                <label for="reason-features">product features</label>
              </div>
              <div class="col one-third with-gutter">
                <input type="radio" name="buying_reason" value="price" id="reason-price" /> 
                <label for="reason-price">price</label>
              </div>
            </div>
            <div class="group">
              <div class="col one-third with-gutter">
                <input type="radio" name="buying_reason" value="retailer" id="reason-retailer" /> 
                <label for="reason-retailer">retailer</label>
              </div>
              <div class="col one-third with-gutter">
                <input type="radio" name="buying_reason" value="engine brand" id="reason-engine" /> 
                <label for="reason-engine">engine brand</label>
              </div>
            </div>
          </div>
          <div class="block">
            <h3>How did you learn about this product?</h3>
            <div class="group">
              <div class="col one-third with-gutter">
                <input type="radio" name="discovery_source" value="advertising" id="discovery-advertising" /> 
                <label for="discovery-advertising">advertising</label>
              </div>
              <div class="col one-third with-gutter">
                <input type="radio" name="discovery_source" value="newspaper" id="discovery-newspaper" /> 
                <label for="discovery-newspaper">newspaper</label>
              </div>
              <div class="col one-third with-gutter">
                <input type="radio" name="discovery_source" value="friend/family/word of mouth" id="discovery-friend" /> 
                <label for="discovery-friend">friend/family/word of mouth</label>
              </div>
            </div>
            <div class="group">
              <div class="col one-third with-gutter">
                <input type="radio" name="discovery_source" value="review in a magazine or newspaper" id="discovery-review" /> 
                <label for="discovery-review">review in a magazine or newspaper</label>
              </div>
              <div class="col one-third with-gutter">
                <input type="radio" name="discovery_source" value="internet site" id="discovery-internet" /> 
                <label for="discovery-internet">internet site</label>
              </div>
              <div class="col one-third with-gutter">
                <input type="radio" name="discovery_source" value="sales person" id="discovery-sales" /> 
                <label for="discovery-sales">sales person</label>
              </div>
            </div>
            <div class="group">
              <div class="col one-third with-gutter">
                <input type="radio" name="discovery_source" value="in store display" id="discovery-store-display" /> 
                <label for="discovery-store-display">in store display</label>
              </div>
              <div class="col two-third with-gutter">
                <input type="radio" name="discovery_source" value="other" id="discovery-other" /> 
                <label for="discovery-other">other</label>
                <input type="text" name="discovery_source_explanation" class="text-input" size="30" maxlength="30" />
              </div>
            </div>
          </div>
          <div class="block">
            <h3>How large is your property?</h3>
            <div class="group">
              <div class="col one-fourth with-gutter">
                <input type="radio" name="propert_size" value="small (50' x 50')" id="property-size-small" /> 
                <label for="property-size-small">small (50' x 50')</label>
              </div>
              <div class="col one-fourth with-gutter">
                <input type="radio" name="propert_size" value="medium (75' x 75')" id="property-size-medium" /> 
                <label for="property-size-medium">medium (75' x 75')</label>
              </div>
            </div>
            <div class="group">
              <div class="col one-fourth with-gutter">
                <input type="radio" name="propert_size" value="large (150' x 150')" id="property-size-large" /> 
                <label for="property-size-large">large (150' x 150')</label>
              </div>
              <div class="col one-fourth with-gutter">
                <input type="radio" name="propert_size" value="over one acre" id="property-size-over-acre" /> 
                <label for="property-size-over-acre">over one acre</label>
              </div>
            </div>
          </div>
          <div class="block">
            <h3>Your age:</h3>
            <div class="group">
              <div class="col one-fourth with-gutter">
                <input type="radio" name="age" value="under 25" id="age-under-25" /> 
                <label for="age-under-25">under 25</label>
              </div>
              <div class="col one-fourth with-gutter">
                <input type="radio" name="age" value="45 - 54" id="age-45-54" /> 
                <label for="age-45-54">45 - 54</label>
              </div>
            </div>
            <div class="group">
              <div class="col one-fourth with-gutter">
                <input type="radio" name="age" value="25 - 34" id="age-25-34" /> 
                <label for="age-25-34">25 - 34</label>
              </div>
              <div class="col one-fourth with-gutter">
                <input type="radio" name="age" value="55 - 64" id="age-55-64" /> 
                <label for="age-55-64">55 - 64</label>
              </div>
            </div>
            <div class="group">
              <div class="col one-fourth with-gutter">
                <input type="radio" name="age" value="35 - 44" id="age-35-44" /> 
                <label for="age-35-44">35 - 44</label>
              </div>
              <div class="col one-fourth with-gutter">
                <input type="radio" name="age" value="65 or older" id="age-65-older" /> 
                <label for="age-65-older">65 or older</label>
              </div>
            </div>
          </div>
          <div class="block">
            <h3>Who will be the primary user of the machine in the household?</h3>
            <div class="group">
              <div class="col one-fourth with-gutter">
                <input type="radio" name="primary_user" value="adult male" id="primary-user-adult-male" /> 
                <label for="primary-user-adult-male">adult male</label>
              </div>
              <div class="col one-fourth with-gutter">
                <input type="radio" name="primary_user" value="a male teenage" id="primary-user-male-teen" /> 
                <label for="primary-user-male-teen">a male teenage</label>
              </div>
            </div>
            <div class="group">
              <div class="col one-fourth with-gutter">
                <input type="radio" name="primary_user" value="adult female" id="primary-user-adult-female" /> 
                <label for="primary-user-adult-female">adult female</label>
              </div>
              <div class="col one-fourth with-gutter">
                <input type="radio" name="primary_user" value="a female teenage" id="primary-user-female-teen" /> 
                <label for="primary-user-female-teen">a female teenage</label>
              </div>
            </div>
          </div>
          <div class="block last">
            <h3>Who made the buying decision?</h3>
            <div class="group">
              <div class="col with-gutter">
                <input type="radio" name="buying_decision" value="male" id="buying-decision-male" /> 
                <label for="buying-decision-male">male</label>
              </div>
              <div class="col with-gutter">
                <input type="radio" name="buying_decision" value="female" id="buying-decision-female" /> 
                <label for="buying-decision-female">female</label>
              </div>
              <div class="col with-gutter">
                <input type="radio" name="buying_decision" value="both" id="buying-decision-both" /> 
                <label for="buying-decision-both">both</label>
              </div>
            </div>
            <p class="submit">
              <input class="button reg_now" value="Submit Survey" alt="Submit Survey" />
            </p>
          </div>
        </form>
      </div>  
    </div>             
  <div class="clear"><!-- --></div>
  </div>
</div>
</div>