<div id="content">	
	<div class="breadcrumbs">
		<ul>
			<li><a href="/" title="Home">Home</a>&gt;</li>
			<li><a href="/our-products" title="Our Products">Our Products</a>&gt;</li>
			<li><a href="/our-products/list" title="Lawn &amp; Garden">Lawn &amp; Garden</a>&gt;</li>
			<li>Lawn &amp; Riding Mowers</li>
		</ul>
	</div>
	<style>
	.facetLink ,.facetLinkSingle {
		cursor: pointer;
		color: #1e591e;
	}
	.facetLinkStyle {
		text-decoration: underline;
	}
	.facetSelected {
		font-weight: bold;
	}
	</style>
	<!-- BEGIN SearchSetup.jspf-->
	<!-- 
		Check if the responseSearchType attribute exists in the request object before checking 
		WCParam as the SearchDisplayCmd can change the searchType. 
		
		If the original search term is enclosed by quotes, the responseSearchType attribute will be 
		set to 1001 (which means exact phrase) by the SearchDisplayCmd 
		
		(Constants are defined in 
		com.ibm.commerce.foundation.internal.server.services.search.metadata.solr.SolrSearchServiceConstants)
	
		The following search types are supported: 
		----------------------------------------------------------------------------------------------------------
			Match type              |   Search Type		|         Description                         
		----------------------------------------------------------------------------------------------------------
		1.  ANY 					|		0			|  INCLUDE products, kits, bundles
									|					|  EXCLUDE product level SKUs and category level SKUs
									|					|
		2.  EXACT					|		1			|  INCLUDE products, kits, bundles
									|					|  EXCLUDE product level SKUs and category level SKUs
									|					|
		3.  ALL						|		2			|  INCLUDE products, kits, bundles
									|					|  EXCLUDE product level SKUs and category level SKUs
									|					|
		4.  NONE					|		3			|  INCLUDE products, kits, bundles
									|					|  EXCLUDE product level SKUs and category level SKUs							
									|					|
		5.  ANY						|		10			|  INCLUDE products, kits, bundles, product level SKUs, category level SKUs
									|					|  EXCLUDE 
									|					|
		6.  EXACT					|		11			|  INCLUDE products, kits, bundles, product level SKUs, category level SKUs
									|					|  EXCLUDE 
									|					|
		7.  ALL						|		12			|  INCLUDE products, kits, bundles, product level SKUs, category level SKUs
									|					|  EXCLUDE 
									|					|
		8.  NONE					|		13			|  INCLUDE products, kits, bundles, product level SKUs, category level SKUs
									|					|  EXCLUDE 
									|					|
		9.  ANY						|		100			|  INCLUDE product level SKUs, category level SKUs
									|					|  EXCLUDE products, kits, bundles	
									|					|
		10.  EXACT					|		101			|  INCLUDE product level SKUs, category level SKUs
									|					|  EXCLUDE products, kits, bundles
									|					|
		11.  ALL					|		102			|  INCLUDE product level SKUs, category level SKUs
									|					|  EXCLUDE products, kits, bundles
									|					|
		12.  NONE					|		103			|  INCLUDE product level SKUs, category level SKUs
									|					|  EXCLUDE products, kits, bundles
									|					|
		13.  ANY					|		1000		|  INCLUDE products, kits, bundles, category level SKUs
									|	  (Default)		|  EXCLUDE product level SKUs
									|					|
		14.  EXACT					|		1001		|  INCLUDE products, kits, bundles, category level SKUs
									|					|  EXCLUDE product level SKUs
									|					|
		15.  ALL					|		1002		|  INCLUDE products, kits, bundles, category level SKUs
									|					|  EXCLUDE product level SKUs
									|					|
		16.  NONE					|		1003		|  INCLUDE products, kits, bundles, category level SKUs
									|					|  EXCLUDE product level SKUs								
									|					|
		17.  ANY					|		10000		|  INCLUDE category level SKUs
									|					|  EXCLUDE products, kits, bundles, product level SKUs
									|					|						
		17.  EXACT					|		10001		|  INCLUDE category level SKUs
									|					|  EXCLUDE products, kits, bundles, product level SKUs						
									|					|						
		18.  ALL					|		10002		|  INCLUDE category level SKUs
									|					|  EXCLUDE products, kits, bundles, product level SKUs	
									|					|						
		19.  NONE					|		10003		|  INCLUDE category level SKUs
									|					|  EXCLUDE products, kits, bundles, product level SKUs	
	-->
	<!-- facet1:'com.ibm.commerce.catalog.facade.datatypes.impl.FacetViewTypeImpl@6fcd6fcd (name: PF_Transmission, value: cas_f14_ntk_cs)' -->		
	<!-- facet1:'com.ibm.commerce.catalog.facade.datatypes.impl.FacetViewTypeImpl@20662066 (name: null, value: price_USD)' -->
	<!-- facet1:'com.ibm.commerce.catalog.facade.datatypes.impl.FacetViewTypeImpl@1a371a37 (name: PF_Deck Width, value: cas_f5_ntk_cs)' -->
	<!-- facet1:'com.ibm.commerce.catalog.facade.datatypes.impl.FacetViewTypeImpl@46414641 (name: PF_Engine, value: cas_f7_ntk_cs)' -->
	<!-- facet1:'com.ibm.commerce.catalog.facade.datatypes.impl.FacetViewTypeImpl@6c616c61 (name: PF_Price, value: cas_f11_ntk_cs)' -->
	<!-- productresults size: 10 -->
	<flow:ifenabled feature="Analytics">
		<!--/@ include file="AnalyticsSearch.jspf" %-->
	</flow:ifenabled>
	<!-- END SearchSetup.jspf-->
	<div class="content_wrap group">
		<div class="side_nav col">
			<div class="category sidebox">
				<h2>Lawn &amp; Garden</h2>
    		<ul>
					<li class="active"><a href="/our-products/list" title="Lawn &amp; Riding Mowers">Lawn &amp; Riding Mowers</a></li>
					<li><a href="/our-products/list" title="Zero-Turn Mowers">Zero-Turn Mowers</a></li>
					<li><a href="/our-products/list" title="Push Lawn Mowers">Push Lawn Mowers</a></li>
					<li><a href="/our-products/list" title="Self-Propelled Lawn Mowers">Self-Propelled Lawn Mowers</a></li>
					<li><a href="/our-products/list" title="Electric &amp; Battery Mowers">Electric &amp; Battery Mowers</a></li>
					<li><a href="/our-products/list" title="Trimmers &amp; Edgers">Trimmers &amp; Edgers</a></li>
					<li><a href="/our-products/list" title="Tillers and Cultivators">Tillers and Cultivators</a></li>
      	</ul>
      	<h2 id="browseBy">Browse By:</h2>
        <!-- num products: '10'-->
				<!-- facetField.name: 'PF_Transmission' -->
				<!-- facetField.name: '' -->
				<!-- facetField.name: 'PF_Deck Width' -->
				<!-- facetField.name: 'PF_Engine' -->
				<!-- facetField.name: 'PF_Price' -->
				<ul class="browsing">
					<li><h3>Price</h3></li>
					<!-- facetEntry.label: '$1,000 - $1,500' -->
					<!-- facetEntry.label: '< $1,000' -->
					<li><a class="facetLinkStyle" id="SBN_facet_&lt; $1,000" href="/our-products/list">&lt; $1,000 (2)</a></li>
					<!-- facetEntry.label: '> $1,500' -->
					<!-- facetEntry.label: '$1,000 - $1,500' -->
					<li><a class="facetLinkStyle" id="SBN_facet_$1,000 - $1,500" href="/our-products/list">$1,000 - $1,500 (6)</a></li>
					<!-- facetEntry.label: '< $1,000' -->
					<!-- facetEntry.label: '> $1,500' -->
					<!-- facetEntry.label: '$1,000 - $1,500' -->
					<!-- facetEntry.label: '< $1,000' -->
					<!-- facetEntry.label: '> $1,500' -->
					<li><a class="facetLinkStyle" id="SBN_facet_&gt; $1,500" href="/our-products/list">&gt; $1,500 (2)</a></li>
				</ul>
				<!-- facetAttributeName: 'PF_Engine' -->
	    	<!-- facet size: 0-->
				<!-- facetField: 'com.ibm.commerce.catalog.facade.datatypes.impl.FacetViewTypeImpl@6fcd6fcd (name: PF_Transmission, value: cas_f14_ntk_cs)'  -->
				<!-- facetField.name: 'PF_Transmission'  -->
				<!-- facetField.value: 'cas_f14_ntk_cs'  -->
				<!-- facetField: 'com.ibm.commerce.catalog.facade.datatypes.impl.FacetViewTypeImpl@20662066 (name: null, value: price_USD)'  -->
				<!-- facetField.name: ''  -->
				<!-- facetField.value: 'price_USD'  -->
				<!-- facetField: 'com.ibm.commerce.catalog.facade.datatypes.impl.FacetViewTypeImpl@1a371a37 (name: PF_Deck Width, value: cas_f5_ntk_cs)'  -->
				<!-- facetField.name: 'PF_Deck Width'  -->
				<!-- facetField.value: 'cas_f5_ntk_cs'  -->
				<!-- facetField: 'com.ibm.commerce.catalog.facade.datatypes.impl.FacetViewTypeImpl@46414641 (name: PF_Engine, value: cas_f7_ntk_cs)'  -->
				<!-- facetField.name: 'PF_Engine'  -->
				<!-- facetField.value: 'cas_f7_ntk_cs'  -->
				<ul class="browsing">
					<li><h3>Engine</h3></li>
					<!-- facetValue1: '12-15 HP' -->
					<!-- facetEntry.label: '> 15 HP' -->
					<!-- facetEntry.label: '12-15 HP' -->
					<li><a class="facetLinkStyle" id="SBN_facet_12-15 HP" href="/our-products/list">12-15 HP (4)</a></li>
					<!-- facetValue1: '> 15 HP' -->
					<!-- facetEntry.label: '> 15 HP' -->
					<li><a class="facetLinkStyle" id="SBN_facet_&gt; 15 HP" href="/our-products/list">&gt; 15 HP (6)</a></li>
					<!-- facetEntry.label: '12-15 HP' -->
				</ul>
				<!-- facetField: 'com.ibm.commerce.catalog.facade.datatypes.impl.FacetViewTypeImpl@6c616c61 (name: PF_Price, value: cas_f11_ntk_cs)'  -->
				<!-- facetField.name: 'PF_Price'  -->
				<!-- facetField.value: 'cas_f11_ntk_cs'  -->
				<!-- facetAttributeName: 'PF_Deck Width' -->
	    	<!-- facet size: 0-->
				<!-- facetField: 'com.ibm.commerce.catalog.facade.datatypes.impl.FacetViewTypeImpl@6fcd6fcd (name: PF_Transmission, value: cas_f14_ntk_cs)'  -->
				<!-- facetField.name: 'PF_Transmission'  -->
				<!-- facetField.value: 'cas_f14_ntk_cs'  -->
				<!-- facetField: 'com.ibm.commerce.catalog.facade.datatypes.impl.FacetViewTypeImpl@20662066 (name: null, value: price_USD)'  -->
				<!-- facetField.name: ''  -->
				<!-- facetField.value: 'price_USD'  -->
				<!-- facetField: 'com.ibm.commerce.catalog.facade.datatypes.impl.FacetViewTypeImpl@1a371a37 (name: PF_Deck Width, value: cas_f5_ntk_cs)'  -->
				<!-- facetField.name: 'PF_Deck Width'  -->
				<!-- facetField.value: 'cas_f5_ntk_cs'  -->
				<ul class="browsing">
					<li><h3>Deck Width</h3></li>
					<!-- facetValue1: '38" - 42"' -->
					<!-- facetEntry.label: '38" - 42"' -->
					<li><a class="facetLinkStyle" id="SBN_facet_38&quot; - 42&quot;" href="/our-products/list">38" - 42" (7)</a></li>
					<!-- facetEntry.label: '46" - 54"' -->
					<!-- facetValue1: '46" - 54"' -->
					<!-- facetEntry.label: '38" - 42"' -->
					<!-- facetEntry.label: '46" - 54"' -->
					<li><a class="facetLinkStyle" id="SBN_facet_46&quot; - 54&quot;" href="/our-products/list">46" - 54" (3)</a></li>
				</ul>
				<!-- facetField: 'com.ibm.commerce.catalog.facade.datatypes.impl.FacetViewTypeImpl@46414641 (name: PF_Engine, value: cas_f7_ntk_cs)'  -->
				<!-- facetField.name: 'PF_Engine'  -->
				<!-- facetField.value: 'cas_f7_ntk_cs'  -->
				<!-- facetField: 'com.ibm.commerce.catalog.facade.datatypes.impl.FacetViewTypeImpl@6c616c61 (name: PF_Price, value: cas_f11_ntk_cs)'  -->
				<!-- facetField.name: 'PF_Price'  -->
				<!-- facetField.value: 'cas_f11_ntk_cs'  -->
				<!-- facetAttributeName: 'PF_Transmission' -->
	    	<!-- facet size: 0-->
				<!-- facetField: 'com.ibm.commerce.catalog.facade.datatypes.impl.FacetViewTypeImpl@6fcd6fcd (name: PF_Transmission, value: cas_f14_ntk_cs)'  -->
				<!-- facetField.name: 'PF_Transmission'  -->
				<!-- facetField.value: 'cas_f14_ntk_cs'  -->
				<ul class="browsing">
					<li><h3>Transmission</h3></li>
					<!-- facetValue1: '6-Speed' -->
					<!-- facetEntry.label: 'Hydrostatic' -->
					<!-- facetEntry.label: '6-Speed' -->
					<li><a class="facetLinkStyle" id="SBN_facet_6-Speed" href="/our-products/list">6-Speed (3)</a></li>
					<!-- facetEntry.label: '7-Speed' -->
					<!-- facetValue1: '7-Speed' -->
					<!-- facetEntry.label: 'Hydrostatic' -->
					<!-- facetEntry.label: '6-Speed' -->
					<!-- facetEntry.label: '7-Speed' -->
					<li><a class="facetLinkStyle" id="SBN_facet_7-Speed" href="/our-products/list">7-Speed (3)</a></li>
					<!-- facetValue1: 'Hydrostatic' -->
					<!-- facetEntry.label: 'Hydrostatic' -->
					<li><a class="facetLinkStyle" id="SBN_facet_Hydrostatic" href="/our-products/list">Hydrostatic (4)</a></li>
					<!-- facetEntry.label: '6-Speed' -->
					<!-- facetEntry.label: '7-Speed' -->
				</ul>
				<!-- facetField: 'com.ibm.commerce.catalog.facade.datatypes.impl.FacetViewTypeImpl@20662066 (name: null, value: price_USD)'  -->
				<!-- facetField.name: ''  -->
				<!-- facetField.value: 'price_USD'  -->
				<!-- facetField: 'com.ibm.commerce.catalog.facade.datatypes.impl.FacetViewTypeImpl@1a371a37 (name: PF_Deck Width, value: cas_f5_ntk_cs)'  -->
				<!-- facetField.name: 'PF_Deck Width'  -->
				<!-- facetField.value: 'cas_f5_ntk_cs'  -->
				<!-- facetField: 'com.ibm.commerce.catalog.facade.datatypes.impl.FacetViewTypeImpl@46414641 (name: PF_Engine, value: cas_f7_ntk_cs)'  -->
				<!-- facetField.name: 'PF_Engine'  -->
				<!-- facetField.value: 'cas_f7_ntk_cs'  -->
				<!-- facetField: 'com.ibm.commerce.catalog.facade.datatypes.impl.FacetViewTypeImpl@6c616c61 (name: PF_Price, value: cas_f11_ntk_cs)'  -->
				<!-- facetField.name: 'PF_Price'  -->
				<!-- facetField.value: 'cas_f11_ntk_cs'  -->
				<script>
					function validatePartorModel(findBy, input)
					{
						var input = input.value;
						
						//alert(form + ", " + input);
						if(input == '' || input == 'Enter Part #' || input == 'Enter Model #')
						{
							//alert("Blank or unchanged response " + form + ", " + input);
						}
						else {
							if(findBy == 'part')
							{
								document.forms['findByPartNumberSidebar'].partNumber.value = input;
								document.forms['findByPartNumberSidebar'].submit();
							}
							else if(findBy == 'model')
							{
								document.forms['findByModelNumberSidebar'].arimn.value = input;
								document.forms['findByModelNumberSidebar'].submit();
							}
							
						}
					}
				</script>
				<div class="category sidebox single" style="margin-left: -10px">
					<h2>Parts</h2>
		    	<ul>
						<li><a href="/parts" onclick="alert('link not implemented'); return false">Find Parts</a></li>
		    	</ul>
				</div>
			</div>
			<div class="callouts">
				<!-- Start- JSP File Name: eMarketingSpotDisplayGeneric.jsp --> 	
			 	<div>
					<a href="ClickInfo?evtype=CpgnClick&amp;mpe_id=725629&amp;intv_id=10571&amp;storeId=10500&amp;catalogId=20500&amp;langId=-1&amp;URL=OwnersCenterView%3fstoreId%3d10500%26catalogId%3d20500%26langId%3d-1">
						<img src="/wcsstore/MTDProducts/Attachment/en_US/leftNav/owners-center.jpg" alt="" border="0">
					</a>
				</div>
				<!-- End - JSP File Name: eMarketingSpotDisplayGeneric.jsp -->
				<!-- Start- JSP File Name: eMarketingSpotDisplayGeneric.jsp -->
			 	<div>
					<a href="ClickInfo?evtype=CpgnClick&amp;mpe_id=725630&amp;intv_id=10575&amp;storeId=10500&amp;catalogId=20500&amp;langId=-1&amp;URL=http%3a%2f%2fwww.mtdparts.com%2fwebapp%2fwcs%2fstores%2fservlet%2fARIPartFinderView%3fstoreId%3d10101%26catalogId%3d19502%26langId%3d-1">
						<img src="/wcsstore/MTDProducts/Attachment/en_US/leftNav/parts-locator.png" alt="" border="0">       
					</a>
				</div>
				<!-- End - JSP File Name: eMarketingSpotDisplayGeneric.jsp -->
			</div>
		</div> 
		<div class="main col">
			<!-- Hero -->
			<!-- Start- JSP File Name: eMarketingSpotDisplayHero.jsp -->
 			<div id="product_hero" class="level2">
	 			<div id="hero_paging"></div>
	 			<ul id="hero_features">
					<li><img src="/wcsstore/MTDProducts/Attachment/en_US/category/lawnAndGarden/2.1.1_LawnRidingMowers_list.png" alt=""></li>
				</ul>
			</div>
			<!-- End - JSP File Name: eMarketingSpotDisplayHero.jsp -->
			<div class="compare">
	   		<p><strong>Compare</strong> up to 3 items</p>
	    	<!-- Compare 1 -->
	      <div id="comparebox_1" class="compare_item">
	      	&nbsp;
	      </div> 
        <!-- Compare 2 -->
	      <div id="comparebox_2" class="compare_item">
	        &nbsp;
	      </div> 
        <!-- Compare 3 -->
	      <div id="comparebox_3" class="compare_item">
	      	&nbsp;
	      </div> 
        <div class="compareBtn">
        	<a title="ProductCompareView?storeId=10500&amp;catalogId=20500&amp;langId=-1&amp;categoryId=1341913&amp;parent_category_rn=1341909&amp;top_category=1341879" class="button" id="compareButton">Compare</a>
        </div>
        <div id="compare-message" title="Compare">
					You may compare up to 3 items.
				</div>
		  </div>     
	    <div class="clear"><!-- --></div>
	    <div class="printPageLeft">
	    	<a href="PrintableCategoryDisplayView?storeId=10500&amp;catalogId=20500&amp;langId=-1&amp;categoryId=1341913&amp;parent_category_rn=1341909&amp;top_category=1341879&amp;pageView=1&amp;ppp=&amp;sortBy=&amp;filter=" title="Print" target="_blank"><img src="/wcpics/MTDProducts/en_US/images/print.gif" alt="Print">&nbsp;Print</a>
	    </div>
			<div class="product_view col">
				<!-- before userDataField -->
				<!-- userDataField.typedKey : 'buyableOnCub', value : 'false' -->
				<!-- userDataField.typedKey : 'modelNumber', value : 'Bolens 13W1762F065 Riding Mower' -->
				<!-- userDataField.typedKey : 'listPrice_USD', value : '949.0' -->
				<!-- userDataField.typedKey : 'specCount', value : '5' -->
				<!-- userDataField.typedKey : 'bazaarVoiceCount', value : '0' -->
				<!-- userDataField.typedKey : 'mfPartNumber', value : '13W1762F065' -->
				<!-- userDataField.typedKey : 'wheretobuyCountAll', value : '1' -->
				<!-- userDataField.typedKey : 'hidePrice', value : 'false' -->
				<!-- userDataField.typedKey : 'specs', value : 'Engine:::13.5 HP Briggs & Stratton&reg::::::@@@Transmission:::6 Speed::::::@@@Deck Width:::38"::::::@@@Fuel Tank Size:::1.36 gal::::::@@@Warranty:::2-Year Limited::::::' -->
				<!-- userDataField.typedKey : 'hideDealers', value : 'false' -->
				<!-- userDataField.typedKey : 'awardsCount', value : '0' -->
				<!-- userDataField.typedKey : 'freeShipping', value : '0' -->
				<!-- userDataField.typedKey : 'wheretobuyCount', value : '1' -->
				<!-- userDataField.typedKey : 'wheretobuys', value : 'lowes:::http://www.lowes.com/pd_317737-270-13WC762F065_0__?productId=3308176&Ntt=bolens&pl=1&currentURL=%2Fpl__0__s%3FNtt%3Dbolens' -->
				<!-- after userDataField -->
				<!-- Product Image -->
				<div class="highlights">
					<section>
						<div id="productImage1">
							<a class="thumb" rel="shadowbox;width=500;height=500" href="http://www.mtdproducts.com/equipment/mtdproducts/our-products/ProductDetailZoomView?storeId=10500&amp;catalogId=20500&amp;categoryId=1341913&amp;langId=-1&amp;productImagePath=%2fwcpics%2fMTDProducts%2fen_US%2fproducts%2f13W1762F065_prod_large.png" title="Bolens 13W1762F065 Riding Mower"><img src="/wcpics/MTDProducts/en_US/products/13W1762F065_product_listing.png" alt="Bolens 13W1762F065 Riding Mower" width="155" height="155"><img class="zoom" src="/wcpics/MTDProducts/en_US/images/magnify.gif" alt="zoom"></a> 
						</div>
						<div id="imgNotAvailable1" style="display:none;">
							<img src="/wcpics/MTDProducts/en_US/products/notavailable_product_listing.png" alt="Bolens 13W1762F065 Riding Mower" width="155" height="155">
						</div>
						<script>								
							checkImage('/wcpics/MTDProducts/en_US/products/13W1762F065_product_listing.png', '1');
						</script>
					</section>
				</div>
				<!-- Product Summary -->
				<div class="summary">
					<h1><a href="/our-products/detail" title="Bolens 13W1762F065 Riding Mower">Bolens 13W1762F065 Riding Mower</a></h1>
					<p></p>
					<ul>			
						<li><strong>Engine</strong> : 13.5 HP Briggs &amp; Stratton®</li>
						<li><strong>Transmission</strong> : 6 Speed</li>
						<li><strong>Deck Width</strong> : 38"</li>
						<li><strong>Fuel Tank Size</strong> : 1.36 gal</li>
						<li><strong>Warranty</strong> : 2-Year Limited</li>
					</ul>
					<input type="checkbox" name="compare" title="1558819" value="13W1762F065" id="compare_1" class="checkbox"><label for="compare_1">Compare</label>
				</div>
				<!-- Purchasing Info -->
				<div class="purchasing_info">
					<p></p>
					<div class="availability">
						<h4>Available at</h4>
						<ul>
							<li class="nonFloated">
								<a onclick="javascript:externalLink('WhereToBuy_lowes','WhereToBuy','http://www.lowes.com/pd_317737-270-13WC762F065_0__?productId=3308176&amp;Ntt=bolens&amp;pl=1&amp;currentURL=%2Fpl__0__s%3FNtt%3Dbolens','http://www.mtdproducts.com/webapp/wcs/stores/servlet/mtdproducts/our-products/lawn-and-garden/riding-lawn-mowers','lowes');" target="_blank" href="http://www.lowes.com/pd_317737-270-13WC762F065_0__?productId=3308176&amp;Ntt=bolens&amp;pl=1&amp;currentURL=%2Fpl__0__s%3FNtt%3Dbolens"><img src="/wcpics/MTDProducts/en_US/images/content/retailers/lowes.png" class="singleWTB"></a>
							</li>
						</ul>
						<div class="clear">&nbsp;</div>
					</div>
				</div>
			</div>
			<script>
				Shadowbox.clearCache(); // <= clear Shadowbox's cache
				Shadowbox.setup(); // <= set up all Shadowbox links 
			</script>
			<div class="product_view col">
				<!-- before userDataField -->
				<!-- userDataField.typedKey : 'buyableOnCub', value : 'false' -->
				<!-- userDataField.typedKey : 'modelNumber', value : 'Yard Machines 13AC762F000 Riding Mower' -->
				<!-- userDataField.typedKey : 'listPrice_USD', value : '999.0' -->
				<!-- userDataField.typedKey : 'specCount', value : '5' -->
				<!-- userDataField.typedKey : 'bazaarVoiceCount', value : '0' -->
				<!-- userDataField.typedKey : 'mfPartNumber', value : '13AC762F000' -->
				<!-- userDataField.typedKey : 'wheretobuyCountAll', value : '1' -->
				<!-- userDataField.typedKey : 'hidePrice', value : 'false' -->
				<!-- userDataField.typedKey : 'specs', value : 'Engine:::12.5 Single Briggs & Stratton® OHV::::::@@@Transmission:::6 Speed::::::@@@Deck Width:::38"::::::@@@Fuel Tank Size:::1.36 gal::::::@@@Warranty:::2-Year Limited::::::' -->
				<!-- userDataField.typedKey : 'hideDealers', value : 'false' -->
				<!-- userDataField.typedKey : 'awardsCount', value : '0' -->
				<!-- userDataField.typedKey : 'freeShipping', value : '0' -->
				<!-- userDataField.typedKey : 'wheretobuyCount', value : '1' -->
				<!-- userDataField.typedKey : 'wheretobuys', value : 'amazon:::http://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Daps&field-keywords=13AC762F000&rh=i%3Aaps%2Ck%3A13AC762F000' -->
				<!-- after userDataField -->
				<!-- Product Image -->
				<div class="highlights">
					<section>
						<div id="productImage2">
							<a class="thumb" rel="shadowbox;width=500;height=500" href="http://www.mtdproducts.com/equipment/mtdproducts/our-products/ProductDetailZoomView?storeId=10500&amp;catalogId=20500&amp;categoryId=1341913&amp;langId=-1&amp;productImagePath=%2fwcpics%2fMTDProducts%2fen_US%2fproducts%2f13AC762F000_prod_large.png" title="Yard Machines 13AC762F000 Riding Mower"><img src="/wcpics/MTDProducts/en_US/products/13AC762F000_product_listing.png" alt="Yard Machines 13AC762F000 Riding Mower" width="155" height="155"><img class="zoom" src="/wcpics/MTDProducts/en_US/images/magnify.gif" alt="zoom"></a> 
						</div>
						<div id="imgNotAvailable2" style="display:none;">
							<img src="/wcpics/MTDProducts/en_US/products/notavailable_product_listing.png" alt="Yard Machines 13AC762F000 Riding Mower" width="155" height="155">
						</div>
						<script>								
							checkImage('/wcpics/MTDProducts/en_US/products/13AC762F000_product_listing.png', '2');
						</script>
					</section>
				</div>
				<!-- Product Summary -->
				<div class="summary">
					<h1><a href="/our-products/detail" title="Yard Machines 13AC762F000 Riding Mower">Yard Machines 13AC762F000 Riding Mower</a></h1>
					<p></p>
					<ul>			
						<li><strong>Engine</strong> : 12.5 Single Briggs &amp; Stratton® OHV</li>
						<li><strong>Transmission</strong> : 6 Speed</li>
						<li><strong>Deck Width</strong> : 38"</li>
						<li><strong>Fuel Tank Size</strong> : 1.36 gal</li>
						<li><strong>Warranty</strong> : 2-Year Limited</li>
					</ul>
					<input type="checkbox" name="compare" title="1561617" value="13AC762F000" id="compare_2" class="checkbox"><label for="compare_2">Compare</label>
				</div>
				<!-- Purchasing Info -->
				<div class="purchasing_info">
					<p></p>
					<div class="availability">
						<h4>Available at</h4>
						<ul>
							<li class="nonFloated">
								<a onclick="javascript:externalLink('WhereToBuy_amazon','WhereToBuy','http://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Daps&amp;field-keywords=13AC762F000&amp;rh=i%3Aaps%2Ck%3A13AC762F000','http://www.mtdproducts.com/webapp/wcs/stores/servlet/mtdproducts/our-products/lawn-and-garden/riding-lawn-mowers','amazon');" target="_blank" href="http://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Daps&amp;field-keywords=13AC762F000&amp;rh=i%3Aaps%2Ck%3A13AC762F000"><img src="/wcpics/MTDProducts/en_US/images/content/retailers/amazon.png" class="singleWTB"></a>
							</li>
						</ul>
						<div class="clear">&nbsp;</div>
					</div>
				</div>
			</div>
			<script>
				Shadowbox.clearCache(); // <= clear Shadowbox's cache
				Shadowbox.setup(); // <= set up all Shadowbox links 
			</script>
			<div class="product_view col">
				<!-- before userDataField -->
				<!-- userDataField.typedKey : 'buyableOnCub', value : 'false' -->
				<!-- userDataField.typedKey : 'modelNumber', value : 'Yard Machines 13AM772S000 Riding Mower' -->
				<!-- userDataField.typedKey : 'listPrice_USD', value : '1049.0' -->
				<!-- userDataField.typedKey : 'specCount', value : '5' -->
				<!-- userDataField.typedKey : 'bazaarVoiceCount', value : '0' -->
				<!-- userDataField.typedKey : 'mfPartNumber', value : '13AM772S000' -->
				<!-- userDataField.typedKey : 'wheretobuyCountAll', value : '1' -->
				<!-- userDataField.typedKey : 'hidePrice', value : 'false' -->
				<!-- userDataField.typedKey : 'specs', value : 'Engine:::14.5 Single Briggs & Stratton® OHV::::::@@@Transmission:::7-Speed::::::@@@Deck Width:::42"::::::@@@Fuel Tank Size:::1.36 gal::::::@@@Warranty:::2-Year Limited::::::' -->
				<!-- userDataField.typedKey : 'hideDealers', value : 'false' -->
				<!-- userDataField.typedKey : 'awardsCount', value : '0' -->
				<!-- userDataField.typedKey : 'freeShipping', value : '0' -->
				<!-- userDataField.typedKey : 'wheretobuyCount', value : '1' -->
				<!-- userDataField.typedKey : 'wheretobuys', value : 'hank:::http://www.hardwarehank.com/Viewer/default.aspx?f=pd&id=545970' -->
				<!-- after userDataField -->
				<!-- Product Image -->
				<div class="highlights">
					<section>
						<div id="productImage3">
							<a class="thumb" rel="shadowbox;width=500;height=500" href="http://www.mtdproducts.com/equipment/mtdproducts/our-products/ProductDetailZoomView?storeId=10500&amp;catalogId=20500&amp;categoryId=1341913&amp;langId=-1&amp;productImagePath=%2fwcpics%2fMTDProducts%2fen_US%2fproducts%2f13AM772S000_prod_large.png" title="Yard Machines 13AM772S000 Riding Mower"><img src="/wcpics/MTDProducts/en_US/products/13AM772S000_product_listing.png" alt="Yard Machines 13AM772S000 Riding Mower" width="155" height="155"><img class="zoom" src="/wcpics/MTDProducts/en_US/images/magnify.gif" alt="zoom"></a> 
						</div>
						<div id="imgNotAvailable3" style="display:none;">
							<img src="/wcpics/MTDProducts/en_US/products/notavailable_product_listing.png" alt="Yard Machines 13AM772S000 Riding Mower" width="155" height="155">
						</div>
						<script>								
							checkImage('/wcpics/MTDProducts/en_US/products/13AM772S000_product_listing.png', '3');
						</script>
					</section>
				</div>
				<!-- Product Summary -->
				<div class="summary">
					<h1><a href="/our-products/detail" title="Yard Machines 13AM772S000 Riding Mower">Yard Machines 13AM772S000 Riding Mower</a></h1>
					<p></p>
					<ul>			
						<li><strong>Engine</strong> : 14.5 Single Briggs &amp; Stratton® OHV</li>
						<li><strong>Transmission</strong> : 7-Speed</li>
						<li><strong>Deck Width</strong> : 42"</li>
						<li><strong>Fuel Tank Size</strong> : 1.36 gal</li>
						<li><strong>Warranty</strong> : 2-Year Limited</li>
					</ul>
					<input type="checkbox" name="compare" title="1561619" value="13AM772S000" id="compare_3" class="checkbox"><label for="compare_3">Compare</label>
				</div>
				<!-- Purchasing Info -->
				<div class="purchasing_info">
					<p></p>
					<div class="availability">
						<h4>Available at</h4>
						<ul>
							<li class="nonFloated">
								<a onclick="javascript:externalLink('WhereToBuy_hank','WhereToBuy','http://www.hardwarehank.com/Viewer/default.aspx?f=pd&amp;id=545970','http://www.mtdproducts.com/webapp/wcs/stores/servlet/mtdproducts/our-products/lawn-and-garden/riding-lawn-mowers','hank');" target="_blank" href="http://www.hardwarehank.com/Viewer/default.aspx?f=pd&amp;id=545970"><img src="/wcpics/MTDProducts/en_US/images/content/retailers/hank.png" class="singleWTB"></a>
							</li>
						</ul>
						<div class="clear">&nbsp;</div>
					</div>
				</div>
			</div>
			<script>
				Shadowbox.clearCache(); // <= clear Shadowbox's cache
				Shadowbox.setup(); // <= set up all Shadowbox links 
			</script>
			<div class="product_view col">
				<!-- before userDataField -->
				<!-- userDataField.typedKey : 'buyableOnCub', value : 'false' -->
				<!-- userDataField.typedKey : 'modelNumber', value : 'Bolens 13W1762F265 Riding Mower - CARB Compliant' -->
				<!-- userDataField.typedKey : 'listPrice_USD', value : '1049.0' -->
				<!-- userDataField.typedKey : 'specCount', value : '5' -->
				<!-- userDataField.typedKey : 'bazaarVoiceCount', value : '0' -->
				<!-- userDataField.typedKey : 'mfPartNumber', value : '13W1762F265' -->
				<!-- userDataField.typedKey : 'wheretobuyCountAll', value : '1' -->	
				<!-- userDataField.typedKey : 'hidePrice', value : 'false' -->
				<!-- userDataField.typedKey : 'specs', value : 'Engine:::13.5 HP Briggs & Stratton&reg::::::@@@Transmission:::6-Speed::::::@@@Deck Width:::38"::::::@@@Fuel Tank Size:::1.36 gal::::::@@@Warranty:::2-Year Limited::::::' -->
				<!-- userDataField.typedKey : 'hideDealers', value : 'false' -->
				<!-- userDataField.typedKey : 'awardsCount', value : '0' -->
				<!-- userDataField.typedKey : 'freeShipping', value : '0' -->
				<!-- userDataField.typedKey : 'wheretobuyCount', value : '1' -->
				<!-- userDataField.typedKey : 'wheretobuys', value : 'lowes:::http://www.lowes.com/webapp/wcs/stores/servlet/ProductDisplay?langId=-1&storeId=10151&catalogId=10051&cId=SEARCH&productId=3306250&cm_mmc=SCE_gps-_-gps-_-gps-_-Bolens%2013.5-HP%20Manual%2038%22%20Riding%20Mower&CAWELAID=1024002470' -->
				<!-- after userDataField -->
				<!-- Product Image -->
				<div class="highlights">
					<section>
						<div id="productImage4">
							<a class="thumb" rel="shadowbox;width=500;height=500" href="http://www.mtdproducts.com/equipment/mtdproducts/our-products/ProductDetailZoomView?storeId=10500&amp;catalogId=20500&amp;categoryId=1341913&amp;langId=-1&amp;productImagePath=%2fwcpics%2fMTDProducts%2fen_US%2fproducts%2f13W1762F265_prod_large.png" title="Bolens 13W1762F265 Riding Mower - CARB Compliant"><img src="/wcpics/MTDProducts/en_US/products/13W1762F265_product_listing.png" alt="Bolens 13W1762F265 Riding Mower - CARB Compliant" width="155" height="155"><img class="zoom" src="/wcpics/MTDProducts/en_US/images/magnify.gif" alt="zoom"></a> 
						</div>
						<div id="imgNotAvailable4" style="display:none;">
							<img src="/wcpics/MTDProducts/en_US/products/notavailable_product_listing.png" alt="Bolens 13W1762F265 Riding Mower - CARB Compliant" width="155" height="155">
						</div>
						<script>								
							checkImage('/wcpics/MTDProducts/en_US/products/13W1762F265_product_listing.png', '4');
						</script>
					</section>
				</div>
				<!-- Product Summary -->
				<div class="summary">
					<h1><a href="/our-products/detail" title="Bolens 13W1762F265 Riding Mower - CARB Compliant">Bolens 13W1762F265 Riding Mower - CARB Compliant</a></h1>
					<p></p>
					<ul>			
						<li><strong>Engine</strong> : 13.5 HP Briggs &amp; Stratton®</li>
						<li><strong>Transmission</strong> : 6-Speed</li>
						<li><strong>Fuel Tank Size</strong> : 1.36 gal</li>
						<li><strong>Warranty</strong> : 2-Year Limited</li>
					</ul>
					<input type="checkbox" name="compare" title="1622759" value="13W1762F265" id="compare_4" class="checkbox"><label for="compare_4">Compare</label>
				</div>
				<!-- Purchasing Info -->
				<div class="purchasing_info">
					<p></p>
					<div class="availability">
						<h4>Available at</h4>
						<ul>
							<li class="nonFloated">
								<a onclick="javascript:externalLink('WhereToBuy_lowes','WhereToBuy','http://www.lowes.com/webapp/wcs/stores/servlet/ProductDisplay?langId=-1&amp;storeId=10151&amp;catalogId=10051&amp;cId=SEARCH&amp;productId=3306250&amp;cm_mmc=SCE_gps-_-gps-_-gps-_-Bolens%2013.5-HP%20Manual%2038%22%20Riding%20Mower&amp;CAWELAID=1024002470','http://www.mtdproducts.com/webapp/wcs/stores/servlet/mtdproducts/our-products/lawn-and-garden/riding-lawn-mowers','lowes');" target="_blank" href="http://www.lowes.com/webapp/wcs/stores/servlet/ProductDisplay?langId=-1&amp;storeId=10151&amp;catalogId=10051&amp;cId=SEARCH&amp;productId=3306250&amp;cm_mmc=SCE_gps-_-gps-_-gps-_-Bolens%2013.5-HP%20Manual%2038%22%20Riding%20Mower&amp;CAWELAID=1024002470"><img src="/wcpics/MTDProducts/en_US/images/content/retailers/lowes.png" class="singleWTB"></a>
							</li>
						</ul>
						<div class="clear">&nbsp;</div>
					</div>
				</div>
			</div>
			<script>
				Shadowbox.clearCache(); // <= clear Shadowbox's cache
				Shadowbox.setup(); // <= set up all Shadowbox links 
			</script>
			<div class="product_view col">
				<!-- before userDataField -->
				<!-- userDataField.typedKey : 'buyableOnCub', value : 'false' -->
				<!-- userDataField.typedKey : 'modelNumber', value : 'Yard Machines 13AN775S000 Riding Mower' -->
				<!-- userDataField.typedKey : 'listPrice_USD', value : '1099.0' -->
				<!-- userDataField.typedKey : 'specCount', value : '5' -->
				<!-- userDataField.typedKey : 'bazaarVoiceCount', value : '0' -->
				<!-- userDataField.typedKey : 'mfPartNumber', value : '13AN775S000' -->
				<!-- userDataField.typedKey : 'wheretobuyCountAll', value : '8' -->
				<!-- userDataField.typedKey : 'hidePrice', value : 'false' -->
				<!-- userDataField.typedKey : 'specs', value : 'Engine:::16.5 HP Briggs & Stratton&reg OHV::::::@@@Transmission:::7-Speed::::::@@@Deck Width:::42"::::::@@@Fuel Tank Size:::1.36 gal::::::@@@Warranty:::2-Year Limited::::::' -->
				<!-- userDataField.typedKey : 'hideDealers', value : 'false' -->
				<!-- userDataField.typedKey : 'awardsCount', value : '0' -->
				<!-- userDataField.typedKey : 'freeShipping', value : '0' -->
				<!-- userDataField.typedKey : 'wheretobuyCount', value : '8' -->
				<!-- userDataField.typedKey : 'wheretobuys', value : 'hank:::http://www.hardwarehank.com/Viewer/default.aspx?f=pd&id=148312@@@doitbest:::http://www.doitbest.com/Main.aspx?Ntt=yard+machines&Pageid=365&Ntk=Default&Ntx=mode+matchall&N=4294963378&Ne=2@@@mills:::http://www.fleetfarm.com/mff/detail/yard-machines-42-in-lawn-tractor-13an775s000/0000000077655@@@rural:::http://www.ruralking.com/catalogsearch/result/?q=Yard+Machines+@@@amazon:::http://www.amazon.com/Yard-Machines-13AN775S000-500cc-Riding/dp/B007ZX00IW/ref=sr_1_1?ie=UTF8&qid=1355348978&sr=8-1&keywords=13AN775S000@@@blains:::http://www.farmandfleet.com/s/-Yard-Machines/Tractors-Mowers/@@@atwoods:::http://atwoods.com/@@@runnings:::http://www.doitbest.com/Main.aspx?Ntt=lawn+tractor&Pageid=365&Ntk=Default&Ntx=mode+matchall&N=4294963378&Ne=2' -->
				<!-- after userDataField -->
				<!-- Product Image -->
				<div class="highlights">
					<section>
						<div id="productImage5">
							<a class="thumb" rel="shadowbox;width=500;height=500" href="http://www.mtdproducts.com/equipment/mtdproducts/our-products/ProductDetailZoomView?storeId=10500&amp;catalogId=20500&amp;categoryId=1341913&amp;langId=-1&amp;productImagePath=%2fwcpics%2fMTDProducts%2fen_US%2fproducts%2f13AN775S000_prod_large.png" title="Yard Machines 13AN775S000 Riding Mower"><img src="/wcpics/MTDProducts/en_US/products/13AN775S000_product_listing.png" alt="Yard Machines 13AN775S000 Riding Mower" width="155" height="155"><img class="zoom" src="/wcpics/MTDProducts/en_US/images/magnify.gif" alt="zoom"></a> 
						</div>
						<div id="imgNotAvailable5" style="display:none;">
							<img src="/wcpics/MTDProducts/en_US/products/notavailable_product_listing.png" alt="Yard Machines 13AN775S000 Riding Mower" width="155" height="155">
						</div>
						<script>								
							checkImage('/wcpics/MTDProducts/en_US/products/13AN775S000_product_listing.png', '5');
						</script>
					</section>
				</div>
				<!-- Product Summary -->
				<div class="summary">
					<h1><a href="/our-products/detail" title="Yard Machines 13AN775S000 Riding Mower">Yard Machines 13AN775S000 Riding Mower</a></h1>
					<p></p>
					<ul>			
						<li><strong>Engine</strong> : 16.5 HP Briggs &amp; Stratton® OHV</li>
						<li><strong>Transmission</strong> : 7-Speed</li>
						<li><strong>Deck Width</strong> : 42"</li>
						<li><strong>Fuel Tank Size</strong> : 1.36 gal</li>
						<li><strong>Warranty</strong> : 2-Year Limited</li>
					</ul>
					<input type="checkbox" name="compare" title="1622760" value="13AN775S000" id="compare_5" class="checkbox"><label for="compare_5">Compare</label>
				</div>
				<!-- Purchasing Info -->
				<div class="purchasing_info">
					<p></p>
					<div class="availability">
						<h4>Available at</h4>
							<ul>
								<li class="floated">
									<a onclick="javascript:externalLink('WhereToBuy_hank','WhereToBuy','http://www.hardwarehank.com/Viewer/default.aspx?f=pd&amp;id=148312','http://www.mtdproducts.com/webapp/wcs/stores/servlet/mtdproducts/our-products/lawn-and-garden/riding-lawn-mowers','hank');" target="_blank" href="http://www.hardwarehank.com/Viewer/default.aspx?f=pd&amp;id=148312"><img src="/wcpics/MTDProducts/en_US/images/content/retailers/hank.png"></a>
								</li>
								<li class="floated">
									<a onclick="javascript:externalLink('WhereToBuy_doitbest','WhereToBuy','http://www.doitbest.com/Main.aspx?Ntt=yard+machines&amp;Pageid=365&amp;Ntk=Default&amp;Ntx=mode+matchall&amp;N=4294963378&amp;Ne=2','http://www.mtdproducts.com/webapp/wcs/stores/servlet/mtdproducts/our-products/lawn-and-garden/riding-lawn-mowers','doitbest');" target="_blank" href="http://www.doitbest.com/Main.aspx?Ntt=yard+machines&amp;Pageid=365&amp;Ntk=Default&amp;Ntx=mode+matchall&amp;N=4294963378&amp;Ne=2"><img src="/wcpics/MTDProducts/en_US/images/content/retailers/doitbest.png"></a>
								</li>
								<li class="floated">
									<a onclick="javascript:externalLink('WhereToBuy_mills','WhereToBuy','http://www.fleetfarm.com/mff/detail/yard-machines-42-in-lawn-tractor-13an775s000/0000000077655','http://www.mtdproducts.com/webapp/wcs/stores/servlet/mtdproducts/our-products/lawn-and-garden/riding-lawn-mowers','mills');" target="_blank" href="http://www.fleetfarm.com/mff/detail/yard-machines-42-in-lawn-tractor-13an775s000/0000000077655"><img src="/wcpics/MTDProducts/en_US/images/content/retailers/mills.png"></a>
								</li>
								<li class="floated">
									<a onclick="javascript:externalLink('WhereToBuy_rural','WhereToBuy','http://www.ruralking.com/catalogsearch/result/?q=Yard+Machines+','http://www.mtdproducts.com/webapp/wcs/stores/servlet/mtdproducts/our-products/lawn-and-garden/riding-lawn-mowers','rural');" target="_blank" href="http://www.ruralking.com/catalogsearch/result/?q=Yard+Machines+"><img src="/wcpics/MTDProducts/en_US/images/content/retailers/rural.png"></a>
								</li>
								<li class="floated">
									<a onclick="javascript:externalLink('WhereToBuy_amazon','WhereToBuy','http://www.amazon.com/Yard-Machines-13AN775S000-500cc-Riding/dp/B007ZX00IW/ref=sr_1_1?ie=UTF8&amp;qid=1355348978&amp;sr=8-1&amp;keywords=13AN775S000','http://www.mtdproducts.com/webapp/wcs/stores/servlet/mtdproducts/our-products/lawn-and-garden/riding-lawn-mowers','amazon');" target="_blank" href="http://www.amazon.com/Yard-Machines-13AN775S000-500cc-Riding/dp/B007ZX00IW/ref=sr_1_1?ie=UTF8&amp;qid=1355348978&amp;sr=8-1&amp;keywords=13AN775S000"><img src="/wcpics/MTDProducts/en_US/images/content/retailers/amazon.png"></a>
								</li>
								<li class="floated">
									<a onclick="javascript:externalLink('WhereToBuy_blains','WhereToBuy','http://www.farmandfleet.com/s/-Yard-Machines/Tractors-Mowers/','http://www.mtdproducts.com/webapp/wcs/stores/servlet/mtdproducts/our-products/lawn-and-garden/riding-lawn-mowers','blains');" target="_blank" href="http://www.farmandfleet.com/s/-Yard-Machines/Tractors-Mowers/"><img src="/wcpics/MTDProducts/en_US/images/content/retailers/blains.png"></a>
								</li>
								<li class="floated">
									<a onclick="javascript:externalLink('WhereToBuy_atwoods','WhereToBuy','http://atwoods.com/','http://www.mtdproducts.com/webapp/wcs/stores/servlet/mtdproducts/our-products/lawn-and-garden/riding-lawn-mowers','atwoods');" target="_blank" href="http://atwoods.com/"><img src="/wcpics/MTDProducts/en_US/images/content/retailers/atwoods.png"></a>
								</li>
								<li class="floated">
									<a onclick="javascript:externalLink('WhereToBuy_runnings','WhereToBuy','http://www.doitbest.com/Main.aspx?Ntt=lawn+tractor&amp;Pageid=365&amp;Ntk=Default&amp;Ntx=mode+matchall&amp;N=4294963378&amp;Ne=2','http://www.mtdproducts.com/webapp/wcs/stores/servlet/mtdproducts/our-products/lawn-and-garden/riding-lawn-mowers','runnings');" target="_blank" href="http://www.doitbest.com/Main.aspx?Ntt=lawn+tractor&amp;Pageid=365&amp;Ntk=Default&amp;Ntx=mode+matchall&amp;N=4294963378&amp;Ne=2"><img src="/wcpics/MTDProducts/en_US/images/content/retailers/runnings.png"></a>
								</li>
							</ul>
							<div class="clear">&nbsp;</div>
						</div>
					</div>
				</div>
				<script>
					Shadowbox.clearCache(); // <= clear Shadowbox's cache
					Shadowbox.setup(); // <= set up all Shadowbox links 
				</script>
				<div class="product_view col">
					<!-- before userDataField -->
					<!-- userDataField.typedKey : 'buyableOnCub', value : 'false' -->
					<!-- userDataField.typedKey : 'modelNumber', value : 'Yard Machines 13AN775S200 Riding Mower' -->
					<!-- userDataField.typedKey : 'listPrice_USD', value : '1199.0' -->
					<!-- userDataField.typedKey : 'specCount', value : '5' -->
					<!-- userDataField.typedKey : 'bazaarVoiceCount', value : '0' -->
					<!-- userDataField.typedKey : 'mfPartNumber', value : '13AN775S200' -->
					<!-- userDataField.typedKey : 'wheretobuyCountAll', value : '2' -->
					<!-- userDataField.typedKey : 'hidePrice', value : 'false' -->
					<!-- userDataField.typedKey : 'specs', value : 'Engine:::16.5 HP Briggs & Stratton&reg OHV::::::@@@Transmission:::7-Speed::::::@@@Deck Width:::42"::::::@@@Fuel Tank Size:::1.36 gal::::::@@@Warranty:::2-Year Limited::::::' -->
					<!-- userDataField.typedKey : 'hideDealers', value : 'false' -->
					<!-- userDataField.typedKey : 'awardsCount', value : '0' -->
					<!-- userDataField.typedKey : 'freeShipping', value : '0' -->
					<!-- userDataField.typedKey : 'wheretobuyCount', value : '2' -->
					<!-- userDataField.typedKey : 'wheretobuys', value : 'rural:::http://www.ruralking.com/lawn-garden.html?cat=638@@@doitbest:::http://www.doitbest.com/Riding+mowers-M+T+D+Products-model-13AN775S200-doitbest-sku-700497.dib' -->
					<!-- after userDataField -->
					<!-- Product Image -->
					<div class="highlights">
						<section>
							<div id="productImage6">
								<a class="thumb" rel="shadowbox;width=500;height=500" href="http://www.mtdproducts.com/equipment/mtdproducts/our-products/ProductDetailZoomView?storeId=10500&amp;catalogId=20500&amp;categoryId=1341913&amp;langId=-1&amp;productImagePath=%2fwcpics%2fMTDProducts%2fen_US%2fproducts%2f13AN775S200_prod_large.png" title="Yard Machines 13AN775S200 Riding Mower"><img src="/wcpics/MTDProducts/en_US/products/13AN775S200_product_listing.png" alt="Yard Machines 13AN775S200 Riding Mower" width="155" height="155"><img class="zoom" src="/wcpics/MTDProducts/en_US/images/magnify.gif" alt="zoom"></a> 
							</div>
							<div id="imgNotAvailable6" style="display:none;">
								<img src="/wcpics/MTDProducts/en_US/products/notavailable_product_listing.png" alt="Yard Machines 13AN775S200 Riding Mower" width="155" height="155">
							</div>
							<script>								
								checkImage('/wcpics/MTDProducts/en_US/products/13AN775S200_product_listing.png', '6');
							</script>
						</section>
					</div>
					<!-- Product Summary -->
					<div class="summary">
						<h1><a href="/our-products/detail" title="Yard Machines 13AN775S200 Riding Mower">Yard Machines 13AN775S200 Riding Mower</a></h1>
						<p></p>
						<ul>			
							<li><strong>Engine</strong> : 16.5 HP Briggs &amp; Stratton® OHV</li>
							<li><strong>Transmission</strong> : 7-Speed</li>
							<li><strong>Deck Width</strong> : 42"</li>
							<li><strong>Fuel Tank Size</strong> : 1.36 gal</li>
							<li><strong>Warranty</strong> : 2-Year Limited</li>
						</ul>
						<input type="checkbox" name="compare" title="1708547" value="13AN775S200" id="compare_6" class="checkbox"><label for="compare_6">Compare</label>
					</div>
					<!-- Purchasing Info -->
					<div class="purchasing_info">
						<p></p>
						<div class="availability">
							<h4>Available at</h4>
							<ul>
								<li class="floated">
									<a onclick="javascript:externalLink('WhereToBuy_rural','WhereToBuy','http://www.ruralking.com/lawn-garden.html?cat=638','http://www.mtdproducts.com/webapp/wcs/stores/servlet/mtdproducts/our-products/lawn-and-garden/riding-lawn-mowers','rural');" target="_blank" href="http://www.ruralking.com/lawn-garden.html?cat=638"><img src="/wcpics/MTDProducts/en_US/images/content/retailers/rural.png"></a>
								</li>
								<li class="floated">
									<a onclick="javascript:externalLink('WhereToBuy_doitbest','WhereToBuy','http://www.doitbest.com/Riding+mowers-M+T+D+Products-model-13AN775S200-doitbest-sku-700497.dib','http://www.mtdproducts.com/webapp/wcs/stores/servlet/mtdproducts/our-products/lawn-and-garden/riding-lawn-mowers','doitbest');" target="_blank" href="http://www.doitbest.com/Riding+mowers-M+T+D+Products-model-13AN775S200-doitbest-sku-700497.dib"><img src="/wcpics/MTDProducts/en_US/images/content/retailers/doitbest.png"></a>
								</li>
							</ul>
							<div class="clear">&nbsp;</div>
						</div>
					</div>
				</div>
				<script>
					Shadowbox.clearCache(); // <= clear Shadowbox's cache
					Shadowbox.setup(); // <= set up all Shadowbox links 
				</script>
				<div class="product_view col">
					<!-- before userDataField -->
					<!-- userDataField.typedKey : 'buyableOnCub', value : 'false' -->
					<!-- userDataField.typedKey : 'modelNumber', value : 'MTD Gold 13AX795S004 Riding Mower' -->
					<!-- userDataField.typedKey : 'listPrice_USD', value : '1399.0' -->
					<!-- userDataField.typedKey : 'specCount', value : '5' -->
					<!-- userDataField.typedKey : 'bazaarVoiceCount', value : '0' -->
					<!-- userDataField.typedKey : 'mfPartNumber', value : '13AX795S004' -->
					<!-- userDataField.typedKey : 'wheretobuyCountAll', value : '4' -->
					<!-- userDataField.typedKey : 'hidePrice', value : 'false' -->
					<!-- userDataField.typedKey : 'specs', value : 'Engine:::20 HP Kohler&reg; Courage&reg; Single-Cylinder::::::@@@Transmission:::Hydrostatic, Hand::::::@@@Deck Width:::42"::::::@@@Fuel Tank Size:::1.36 gal::::::@@@Warranty:::2-Year Limited::::::' -->
					<!-- userDataField.typedKey : 'hideDealers', value : 'false' -->
					<!-- userDataField.typedKey : 'awardsCount', value : '0' -->
					<!-- userDataField.typedKey : 'freeShipping', value : '0' -->
					<!-- userDataField.typedKey : 'wheretobuyCount', value : '4' -->
					<!-- userDataField.typedKey : 'wheretobuys', value : 'doitbest:::http://www.doitbest.com/search-MTD+Gold+Riding+Mowers.dib@@@mills:::http://www.fleetfarm.com/mff/search/?q=MTD+Gold&searchSubmit.x=0&searchSubmit.y=0&searchSubmit=submit@@@hank:::http://www.hardwarehank.com/Viewer/default.aspx?f=pd&id=636498@@@rural:::http://www.ruralking.com/mtd-gold-mower-hydrostat-20hp-42-13ax795s004.html' -->
					<!-- after userDataField -->
					<!-- Product Image -->
					<div class="highlights">
						<section>
							<div id="productImage7">
								<a class="thumb" rel="shadowbox;width=500;height=500" href="http://www.mtdproducts.com/equipment/mtdproducts/our-products/ProductDetailZoomView?storeId=10500&amp;catalogId=20500&amp;categoryId=1341913&amp;langId=-1&amp;productImagePath=%2fwcpics%2fMTDProducts%2fen_US%2fproducts%2f13AX795S004_prod_large.png" title="MTD Gold 13AX795S004 Riding Mower"><img src="/wcpics/MTDProducts/en_US/products/13AX795S004_product_listing.png" alt="MTD Gold 13AX795S004 Riding Mower" width="155" height="155"><img class="zoom" src="/wcpics/MTDProducts/en_US/images/magnify.gif" alt="zoom"></a> 
							</div>
							<div id="imgNotAvailable7" style="display:none;">
								<img src="/wcpics/MTDProducts/en_US/products/notavailable_product_listing.png" alt="MTD Gold 13AX795S004 Riding Mower" width="155" height="155">
							</div>
							<script>								
								checkImage('/wcpics/MTDProducts/en_US/products/13AX795S004_product_listing.png', '7');
							</script>
						</section>
					</div>
					<!-- Product Summary -->
					<div class="summary">
						<h1><a href="/our-products/detail" title="MTD Gold 13AX795S004 Riding Mower">MTD Gold 13AX795S004 Riding Mower</a></h1>
						<p></p>
						<ul>			
							<li><strong>Engine</strong> : 20 HP Kohler® Courage® Single-Cylinder</li>
							<li><strong>Transmission</strong> : Hydrostatic, Hand</li>
							<li><strong>Deck Width</strong> : 42"</li>
							<li><strong>Fuel Tank Size</strong> : 1.36 gal</li>
							<li><strong>Warranty</strong> : 2-Year Limited</li>
						</ul>
						<input type="checkbox" name="compare" title="1561590" value="13AX795S004" id="compare_7" class="checkbox"><label for="compare_7">Compare</label>
					</div>
					<!-- Purchasing Info -->
					<div class="purchasing_info">
						<p></p>
						<div class="availability">
							<h4>Available at</h4>
							<ul>
								<li class="floated">
									<a onclick="javascript:externalLink('WhereToBuy_doitbest','WhereToBuy','http://www.doitbest.com/search-MTD+Gold+Riding+Mowers.dib','http://www.mtdproducts.com/webapp/wcs/stores/servlet/mtdproducts/our-products/lawn-and-garden/riding-lawn-mowers','doitbest');" target="_blank" href="http://www.doitbest.com/search-MTD+Gold+Riding+Mowers.dib"><img src="/wcpics/MTDProducts/en_US/images/content/retailers/doitbest.png"></a>
								</li>
								<li class="floated">
									<a onclick="javascript:externalLink('WhereToBuy_mills','WhereToBuy','http://www.fleetfarm.com/mff/search/?q=MTD+Gold&amp;searchSubmit.x=0&amp;searchSubmit.y=0&amp;searchSubmit=submit','http://www.mtdproducts.com/webapp/wcs/stores/servlet/mtdproducts/our-products/lawn-and-garden/riding-lawn-mowers','mills');" target="_blank" href="http://www.fleetfarm.com/mff/search/?q=MTD+Gold&amp;searchSubmit.x=0&amp;searchSubmit.y=0&amp;searchSubmit=submit"><img src="/wcpics/MTDProducts/en_US/images/content/retailers/mills.png"></a>
								</li>
								<li class="floated">
									<a onclick="javascript:externalLink('WhereToBuy_hank','WhereToBuy','http://www.hardwarehank.com/Viewer/default.aspx?f=pd&amp;id=636498','http://www.mtdproducts.com/webapp/wcs/stores/servlet/mtdproducts/our-products/lawn-and-garden/riding-lawn-mowers','hank');" target="_blank" href="http://www.hardwarehank.com/Viewer/default.aspx?f=pd&amp;id=636498"><img src="/wcpics/MTDProducts/en_US/images/content/retailers/hank.png"></a>
								</li>
								<li class="floated">
									<a onclick="javascript:externalLink('WhereToBuy_rural','WhereToBuy','http://www.ruralking.com/mtd-gold-mower-hydrostat-20hp-42-13ax795s004.html','http://www.mtdproducts.com/webapp/wcs/stores/servlet/mtdproducts/our-products/lawn-and-garden/riding-lawn-mowers','rural');" target="_blank" href="http://www.ruralking.com/mtd-gold-mower-hydrostat-20hp-42-13ax795s004.html"><img src="/wcpics/MTDProducts/en_US/images/content/retailers/rural.png"></a>
								</li>
							</ul>
							<div class="clear">&nbsp;</div>
						</div>
					</div>
				</div>
				<script>
					Shadowbox.clearCache(); // <= clear Shadowbox's cache
					Shadowbox.setup(); // <= set up all Shadowbox links 
				</script>
				<div class="product_view col">
					<!-- before userDataField -->
					<!-- userDataField.typedKey : 'buyableOnCub', value : 'false' -->
					<!-- userDataField.typedKey : 'modelNumber', value : 'MTD Gold 13AX795T004 Riding Mower' -->
					<!-- userDataField.typedKey : 'listPrice_USD', value : '1499.0' -->
					<!-- userDataField.typedKey : 'specCount', value : '5' -->
					<!-- userDataField.typedKey : 'bazaarVoiceCount', value : '0' -->
					<!-- userDataField.typedKey : 'mfPartNumber', value : '13AX795T004' -->
					<!-- userDataField.typedKey : 'wheretobuyCountAll', value : '1' -->
					<!-- userDataField.typedKey : 'hidePrice', value : 'false' -->
					<!-- userDataField.typedKey : 'specs', value : 'Engine:::20 HP Kohler&reg; Courage&reg; Single-Cylinder::::::@@@Transmission:::Hydrostatic, Hand::::::@@@Deck Width:::46"::::::@@@Fuel Tank Size:::1.36 gal::::::@@@Warranty:::2-Year Limited::::::' -->
					<!-- userDataField.typedKey : 'hideDealers', value : 'false' -->
					<!-- userDataField.typedKey : 'awardsCount', value : '0' -->
					<!-- userDataField.typedKey : 'freeShipping', value : '0' -->
					<!-- userDataField.typedKey : 'wheretobuyCount', value : '1' -->
					<!-- userDataField.typedKey : 'wheretobuys', value : 'hardware:::DisplayContentView?storeId=10500&catalogId=20500&langId=-1&pageName=en_US/general/hardware.html' -->
					<!-- after userDataField -->
					<!-- Product Image -->
					<div class="highlights">
						<section>
							<div id="productImage8">
								<a class="thumb" rel="shadowbox;width=500;height=500" href="http://www.mtdproducts.com/equipment/mtdproducts/our-products/ProductDetailZoomView?storeId=10500&amp;catalogId=20500&amp;categoryId=1341913&amp;langId=-1&amp;productImagePath=%2fwcpics%2fMTDProducts%2fen_US%2fproducts%2f13AX795T004_prod_large.png" title="MTD Gold 13AX795T004 Riding Mower"><img src="/wcpics/MTDProducts/en_US/products/13AX795T004_product_listing.png" alt="MTD Gold 13AX795T004 Riding Mower" width="155" height="155"><img class="zoom" src="/wcpics/MTDProducts/en_US/images/magnify.gif" alt="zoom"></a> 
							</div>
							<div id="imgNotAvailable8" style="display:none;">
								<img src="/wcpics/MTDProducts/en_US/products/notavailable_product_listing.png" alt="MTD Gold 13AX795T004 Riding Mower" width="155" height="155">
							</div>
							<script>								
								checkImage('/wcpics/MTDProducts/en_US/products/13AX795T004_product_listing.png', '8');
							</script>
						</section>
					</div>
					<!-- Product Summary -->
					<div class="summary">
						<h1><a href="http://www.mtdproducts.com/equipment/mtdproducts/our-products/ProductDetailZoomView?storeId=10500&amp;catalogId=20500&amp;categoryId=1341913&amp;langId=-1&amp;productImagePath=%2fwcpics%2fMTDProducts%2fen_US%2fproducts%2f13AX795T004_prod_large.png" rel="shadowbox;width=500;height=500" title="MTD Gold 13AX795T004 Riding Mower">MTD Gold 13AX795T004 Riding Mower</a></h1>
						<p></p>
						<ul>			
							<li><strong>Engine</strong> : 20 HP Kohler® Courage® Single-Cylinder</li>
							<li><strong>Transmission</strong> : Hydrostatic, Hand</li>
							<li><strong>Deck Width</strong> : 46"</li>
							<li><strong>Fuel Tank Size</strong> : 1.36 gal</li>
							<li><strong>Warranty</strong> : 2-Year Limited</li>
						</ul>
						<input type="checkbox" name="compare" title="1561592" value="13AX795T004" id="compare_8" class="checkbox"><label for="compare_8">Compare</label>
					</div>
					<!-- Purchasing Info -->
					<div class="purchasing_info">
						<p></p>
						<div class="availability">
							<h4>Available at</h4>
							<ul>
								<li class="nonFloated">
									<a onclick="javascript:externalLink('WhereToBuy_hardware','WhereToBuy','DisplayContentView?storeId=10500&amp;catalogId=20500&amp;langId=-1&amp;pageName=en_US/general/hardware.html','http://www.mtdproducts.com/webapp/wcs/stores/servlet/mtdproducts/our-products/lawn-and-garden/riding-lawn-mowers','hardware');" target="_blank" href="DisplayContentView?storeId=10500&amp;catalogId=20500&amp;langId=-1&amp;pageName=en_US/general/hardware.html"><img src="/wcpics/MTDProducts/en_US/images/content/retailers/hardware.png" class="singleWTB"></a>
								</li>
							</ul>
							<div class="clear">&nbsp;</div>
						</div>
					</div>
				</div>
				<script>
					Shadowbox.clearCache(); // <= clear Shadowbox's cache
					Shadowbox.setup(); // <= set up all Shadowbox links 
				</script>
				<div class="product_view col">
					<!-- before userDataField -->
					<!-- userDataField.typedKey : 'buyableOnCub', value : 'false' -->
					<!-- userDataField.typedKey : 'modelNumber', value : 'MTD Gold 13AX915T004 Riding Mower' -->
					<!-- userDataField.typedKey : 'listPrice_USD', value : '1599.0' -->
					<!-- userDataField.typedKey : 'specCount', value : '5' -->
					<!-- userDataField.typedKey : 'bazaarVoiceCount', value : '0' -->
					<!-- userDataField.typedKey : 'mfPartNumber', value : '13AX915T004' -->
					<!-- userDataField.typedKey : 'wheretobuyCountAll', value : '2' -->
					<!-- userDataField.typedKey : 'hidePrice', value : 'false' -->
					<!-- userDataField.typedKey : 'specs', value : 'Engine:::22 HP Kohler&reg; Courage&reg; Twin-Cylinder::::::@@@Transmission:::Hydrostatic, Foot::::::@@@Deck Width:::46"::::::@@@Fuel Tank Size:::1.82 gal::::::@@@Warranty:::2-Year Limited::::::' -->
					<!-- userDataField.typedKey : 'hideDealers', value : 'false' -->
					<!-- userDataField.typedKey : 'awardsCount', value : '0' -->
					<!-- userDataField.typedKey : 'freeShipping', value : '0' -->
					<!-- userDataField.typedKey : 'wheretobuyCount', value : '2' -->
					<!-- userDataField.typedKey : 'wheretobuys', value : 'doitbest:::http://www.doitbest.com/search-MTD+Gold.dib@@@mills:::http://www.fleetfarm.com/search/riding-mowers' -->
					<!-- after userDataField -->
					<!-- Product Image -->
					<div class="highlights">
						<section>
							<div id="productImage9">
								<a class="thumb" rel="shadowbox;width=500;height=500" href="http://www.mtdproducts.com/equipment/mtdproducts/our-products/ProductDetailZoomView?storeId=10500&amp;catalogId=20500&amp;categoryId=1341913&amp;langId=-1&amp;productImagePath=%2fwcpics%2fMTDProducts%2fen_US%2fproducts%2f13AX915T004_prod_large.png" title="MTD Gold 13AX915T004 Riding Mower"><img src="/wcpics/MTDProducts/en_US/products/13AX915T004_product_listing.png" alt="MTD Gold 13AX915T004 Riding Mower" width="155" height="155"><img class="zoom" src="/wcpics/MTDProducts/en_US/images/magnify.gif" alt="zoom"></a> 
							</div>
							<div id="imgNotAvailable9" style="display:none;">
								<img src="/wcpics/MTDProducts/en_US/products/notavailable_product_listing.png" alt="MTD Gold 13AX915T004 Riding Mower" width="155" height="155">
							</div>
							<script>								
								checkImage('/wcpics/MTDProducts/en_US/products/13AX915T004_product_listing.png', '9');
							</script>
						</section>
					</div>
					<!-- Product Summary -->
					<div class="summary">
						<h1><a href="http://www.mtdproducts.com/equipment/mtdproducts/our-products/ProductDetailZoomView?storeId=10500&amp;catalogId=20500&amp;categoryId=1341913&amp;langId=-1&amp;productImagePath=%2fwcpics%2fMTDProducts%2fen_US%2fproducts%2f13AX915T004_prod_large.png" rel="shadowbox;width=500;height=500" title="MTD Gold 13AX915T004 Riding Mower">MTD Gold 13AX915T004 Riding Mower</a></h1>
						<p></p>
						<ul>			
							<li><strong>Engine</strong> : 22 HP Kohler® Courage® Twin-Cylinder</li>
							<li><strong>Transmission</strong> : Hydrostatic, Foot</li>
							<li><strong>Deck Width</strong> : 46"</li>
							<li><strong>Fuel Tank Size</strong> : 1.82 gal</li>
							<li><strong>Warranty</strong> : 2-Year Limited</li>
						</ul>
						<input type="checkbox" name="compare" title="1561594" value="13AX915T004" id="compare_9" class="checkbox"><label for="compare_9">Compare</label>
					</div>
					<!-- Purchasing Info -->
					<div class="purchasing_info">
						<p></p>
						<div class="availability">
							<h4>Available at</h4>
							<ul>
								<li class="floated">
									<a onclick="javascript:externalLink('WhereToBuy_doitbest','WhereToBuy','http://www.doitbest.com/search-MTD+Gold.dib','http://www.mtdproducts.com/webapp/wcs/stores/servlet/mtdproducts/our-products/lawn-and-garden/riding-lawn-mowers','doitbest');" target="_blank" href="http://www.doitbest.com/search-MTD+Gold.dib"><img src="/wcpics/MTDProducts/en_US/images/content/retailers/doitbest.png"></a>
								</li>
								<li class="floated">
									<a onclick="javascript:externalLink('WhereToBuy_mills','WhereToBuy','http://www.fleetfarm.com/search/riding-mowers','http://www.mtdproducts.com/webapp/wcs/stores/servlet/mtdproducts/our-products/lawn-and-garden/riding-lawn-mowers','mills');" target="_blank" href="http://www.fleetfarm.com/search/riding-mowers"><img src="/wcpics/MTDProducts/en_US/images/content/retailers/mills.png"></a>
								</li>
							</ul>
							<div class="clear">&nbsp;</div>
						</div>
					</div>
				</div>
				<script>
					Shadowbox.clearCache(); // <= clear Shadowbox's cache
					Shadowbox.setup(); // <= set up all Shadowbox links 
				</script>
				<div class="product_view col">
					<!-- before userDataField -->
					<!-- userDataField.typedKey : 'buyableOnCub', value : 'false' -->
					<!-- userDataField.typedKey : 'modelNumber', value : 'MTD Gold 13AP925P004 Riding Mower' -->
					<!-- userDataField.typedKey : 'listPrice_USD', value : '1899.0' -->
					<!-- userDataField.typedKey : 'specCount', value : '5' -->
					<!-- userDataField.typedKey : 'bazaarVoiceCount', value : '0' -->
					<!-- userDataField.typedKey : 'mfPartNumber', value : '13AP925P004' -->
					<!-- userDataField.typedKey : 'wheretobuyCountAll', value : '3' -->
					<!-- userDataField.typedKey : 'hidePrice', value : 'false' -->
					<!-- userDataField.typedKey : 'specs', value : 'Engine:::23 HP Kohler&reg; Courage&reg; Twin-Cylinder::::::@@@Transmission:::SLT Hydrostatic::::::@@@Deck Width:::50"::::::@@@Fuel Tank Size:::1.82 gal::::::@@@Warranty:::2-Year Limited::::::' -->
					<!-- userDataField.typedKey : 'hideDealers', value : 'false' -->
					<!-- userDataField.typedKey : 'awardsCount', value : '0' -->
					<!-- userDataField.typedKey : 'freeShipping', value : '0' -->
					<!-- userDataField.typedKey : 'wheretobuyCount', value : '3' -->
					<!-- userDataField.typedKey : 'wheretobuys', value : 'doitbest:::http://www.doitbest.com/Main.aspx?Ntt=riding+mowers&Pageid=365&Ntk=Default&Ntx=mode+matchall&N=4294963378&Ne=2@@@hank:::http://www.hardwarehank.com/Viewer/default.aspx?f=pd&id=903963@@@rural:::http://www.ruralking.com/lawn-garden.html?cat=638&order=transactions&dir=asc&p=1' -->
					<!-- after userDataField -->
					<!-- Product Image -->
					<div class="highlights">
						<section>
							<div id="productImage10">
								<a class="thumb" rel="shadowbox;width=500;height=500" href="http://www.mtdproducts.com/equipment/mtdproducts/our-products/ProductDetailZoomView?storeId=10500&amp;catalogId=20500&amp;categoryId=1341913&amp;langId=-1&amp;productImagePath=%2fwcpics%2fMTDProducts%2fen_US%2fproducts%2f13AP925P004_prod_large.png" title="MTD Gold 13AP925P004 Riding Mower"><img src="/wcpics/MTDProducts/en_US/products/13AP925P004_product_listing.png" alt="MTD Gold 13AP925P004 Riding Mower" width="155" height="155"><img class="zoom" src="/wcpics/MTDProducts/en_US/images/magnify.gif" alt="zoom"></a> 
							</div>
							<div id="imgNotAvailable10" style="display:none;">
								<img src="/wcpics/MTDProducts/en_US/products/notavailable_product_listing.png" alt="MTD Gold 13AP925P004 Riding Mower" width="155" height="155">
							</div>
							<script>								
								checkImage('/wcpics/MTDProducts/en_US/products/13AP925P004_product_listing.png', '10');
							</script>
						</section>
					</div>
					<!-- Product Summary -->
					<div class="summary">
						<h1><a href="http://www.mtdproducts.com/equipment/mtdproducts/our-products/ProductDetailZoomView?storeId=10500&amp;catalogId=20500&amp;categoryId=1341913&amp;langId=-1&amp;productImagePath=%2fwcpics%2fMTDProducts%2fen_US%2fproducts%2f13AP925P004_prod_large.png" rel="shadowbox;width=500;height=500" title="MTD Gold 13AP925P004 Riding Mower">MTD Gold 13AP925P004 Riding Mower</a></h1>
						<p></p>
						<ul>			
							<li><strong>Engine</strong> : 23 HP Kohler® Courage® Twin-Cylinder</li>
							<li><strong>Transmission</strong> : SLT Hydrostatic</li>
							<li><strong>Deck Width</strong> : 50"</li>
							<li><strong>Fuel Tank Size</strong> : 1.82 gal</li>
							<li><strong>Warranty</strong> : 2-Year Limited</li>
						</ul>
						<input type="checkbox" name="compare" title="1561596" value="13AP925P004" id="compare_10" class="checkbox"><label for="compare_10">Compare</label>
					</div>
					<!-- Purchasing Info -->
					<div class="purchasing_info">
						<p></p>
						<div class="availability">
							<h4>Available at</h4>
							<ul>
								<li class="floated">
									<a onclick="javascript:externalLink('WhereToBuy_doitbest','WhereToBuy','http://www.doitbest.com/Main.aspx?Ntt=riding+mowers&amp;Pageid=365&amp;Ntk=Default&amp;Ntx=mode+matchall&amp;N=4294963378&amp;Ne=2','http://www.mtdproducts.com/webapp/wcs/stores/servlet/mtdproducts/our-products/lawn-and-garden/riding-lawn-mowers','doitbest');" target="_blank" href="http://www.doitbest.com/Main.aspx?Ntt=riding+mowers&amp;Pageid=365&amp;Ntk=Default&amp;Ntx=mode+matchall&amp;N=4294963378&amp;Ne=2"><img src="/wcpics/MTDProducts/en_US/images/content/retailers/doitbest.png"></a>
								</li>
								<li class="floated">
									<a onclick="javascript:externalLink('WhereToBuy_hank','WhereToBuy','http://www.hardwarehank.com/Viewer/default.aspx?f=pd&amp;id=903963','http://www.mtdproducts.com/webapp/wcs/stores/servlet/mtdproducts/our-products/lawn-and-garden/riding-lawn-mowers','hank');" target="_blank" href="http://www.hardwarehank.com/Viewer/default.aspx?f=pd&amp;id=903963"><img src="/wcpics/MTDProducts/en_US/images/content/retailers/hank.png"></a>
								</li>
								<li class="floated">
									<a onclick="javascript:externalLink('WhereToBuy_rural','WhereToBuy','http://www.ruralking.com/lawn-garden.html?cat=638&amp;order=transactions&amp;dir=asc&amp;p=1','http://www.mtdproducts.com/webapp/wcs/stores/servlet/mtdproducts/our-products/lawn-and-garden/riding-lawn-mowers','rural');" target="_blank" href="http://www.ruralking.com/lawn-garden.html?cat=638&amp;order=transactions&amp;dir=asc&amp;p=1"><img src="/wcpics/MTDProducts/en_US/images/content/retailers/rural.png"></a>
								</li>
							</ul>
							<div class="clear">&nbsp;</div>
						</div>
					</div>
				</div>
				<script>
					Shadowbox.clearCache(); // <= clear Shadowbox's cache
					Shadowbox.setup(); // <= set up all Shadowbox links 
				</script>
				<div class="clear"><!-- --></div>
			</div>        
			<div class="clear"><!-- --></div>
		<div id="product_disclaimer">
			<!-- Start- JSP File Name: ContentSpotDisplay.jsp -->
			Models and pricing may vary by retailer. Please check with your retailer for specific availability and pricing.
		</div>
	</div>
	<script>
		function displayPage(sortOrder) {
			var form = document.getElementById('displayPageForm');
			form.orderBy.value = sortOrder;
			form.submit();
		}
		function displaySelectedPage(pageNumber) {
			var form = document.getElementById('displayPageForm');
			form.beginIndex.value = (pageNumber-1) * 25;
			form.submit();
		}
		function displayAllPages(totalProducts) {
			var form = document.getElementById('displayPageForm');
			form.beginIndex.value = "0";
			form.pageSize.value = totalProducts;
			form.submit();
		}
	</script>
 </div>