<div id="content">
  <div class="breadcrumbs">
    <ul>
      <li><a href="topcategory_10500_20500_-1" title="Home">Home</a>&gt;</li> 
      <li><a href="OwnersCenterView?storeId=10500&amp;catalogId=20500&amp;langId=-1" title="Owners Center">Owners Center</a>&gt;</li> 
      <li>Product Registration</li>
    </ul>
  </div>
  <div class="content_wrap group">
    <div class="side_nav col">
      <div class="single sidebox">
        <h2>Owners Center</h2>
        <ul>
          <li><a href="OperatorManualView?storeId=10500&amp;catalogId=20500&amp;langId=-1" title="Operators Manual">Operators Manual</a></li>
          <li><strong>Product Registration</strong></li>
          <li><a href="http://www.mtdparts.com" title="Find Parts Accessories &amp; Attachments" target="_blank">Find Parts Accessories &amp; Attachments</a></li>
          <li><a href="ServiceLocator_10500_20500_-1" title="Find a Service Center">Find a Service Center</a></li>
          <li><a href="FAQLandingView?storeId=10500&amp;catalogId=20500&amp;langId=-1" title="FAQs">FAQs</a></li>
          <li><a href="KnowledgeCenterCategory_10500_20500_-1_TricksTips" title="Tips &amp; Tricks">Tips &amp; Tricks</a></li>
          <li><a href="DiagnoseTroubleshoot_10500_20500_-1" title="Diagnose &amp; Troubleshoot">Diagnose &amp; Troubleshoot</a></li>
          <li><a href="KnowledgeCenterCategory_10500_20500_-1_Maintenance" title="Maintenance">Maintenance</a></li>
          <li><a href="ContactUs_10500_20500_-1" title="Contact Us">Contact Us</a></li>
        </ul>
      </div>
      <div class="contact sidebox">
        <h2>Contact Us</h2>
        <p><span class="phone">1-800-269-6215</span><span class="hours">Mon. - Fri. 8AM - 8PM &amp;</span><span class="hours">Sat. 9AM - 5PM EST</span></p>
      </div>
      <script>
        function validatePartorModel(findBy, input)
        {
          var input = input.value;
          
          //alert(form + ", " + input);
          if(input == '' || input == 'Enter Part #' || input == 'Enter Model #')
          {
            //alert("Blank or unchanged response " + form + ", " + input);
          }
          else {
            if(findBy == 'part')
            {
              document.forms['findByPartNumberSidebar'].partNumber.value = input;
              document.forms['findByPartNumberSidebar'].submit();
            }
            else if(findBy == 'model')
            {
              document.forms['findByModelNumberSidebar'].arimn.value = input;
              document.forms['findByModelNumberSidebar'].submit();
            }
          }
        }
      </script>
      <div class="category sidebox single">
      <h2>Part Finder</h2>
        <ul class="findPart">
          <li class="partNo">
            Know your part number? <br>
            <form name="findByPartNumberSidebar" id="pNumber" action="http://www.mtdparts.com/webapp/wcs/stores/servlet/PartFinderView" target="_blank">
              <input type="hidden" name="storeId" value="10101">
              <input type="hidden" name="catalogId" value="19502">
              <input type="hidden" name="langId" value="-1">
              <input type="text" name="partNumber" value="Enter Part #" onfocus="this.value='';" onblur="if (this.value == '') { this.value = 'Enter Part #'; }">
              <input type="button" class="goBtn" value="Go!" alt="Go!" onclick="javascript:validatePartorModel('part', partNumber);">
            </form>
          </li> 
          <li class="partNo">
            Know your model number? <br>
            <form name="findByModelNumberSidebar" id="pNumber" action="http://www.mtdparts.com/webapp/wcs/stores/servlet/ARIPartFinderView" target="_blank">
              <input type="hidden" name="storeId" value="10101">
              <input type="hidden" name="catalogId" value="19502">
              <input type="hidden" name="langId" value="-1">
              <input type="text" name="arimn" value="Enter Model #" onfocus="this.value='';" onblur="if (this.value == '') { this.value = 'Enter Model #'; }">
              <input type="button" class="goBtn" value="Go!" alt="Go!" onclick="javascript:validatePartorModel('model', arimn);">
            </form>
          </li>
          <li style="padding-right: 15px;">
            Don't know your model number?<br>
            You can use the Part Finder to help find your model and the right part for your machine.<br>
            <a href="http://www.mtdparts.com/webapp/wcs/stores/servlet/ARIPartFinderView?storeId=10101&amp;catalogId=19502&amp;langId=-1" class="matchingBtn" target="_mtdparts">Matching Models</a>
          </li>
        </ul>
      </div>
      <div class="callouts">
        <!-- Start- JSP File Name: eMarketingSpotDisplayGeneric.jsp -->
        <div>
          <a href="ClickInfo?evtype=CpgnClick&amp;mpe_id=725627&amp;intv_id=10590&amp;storeId=10500&amp;catalogId=20500&amp;langId=-1&amp;URL=http%3a%2f%2fwww.mtdparts.com%2fwebapp%2fwcs%2fstores%2fservlet%2fARIPartFinderView%3fstoreId%3d10101%26catalogId%3d19502%26langId%3d-1">
            <img src="/wcsstore/MTDProducts/Attachment/en_US/leftNav/parts-locator.png" alt="" border="0">
          </a>
        </div>
        <!-- End - JSP File Name: eMarketingSpotDisplayGeneric.jsp -->
        <!-- Start- JSP File Name: eMarketingSpotDisplayGeneric.jsp -->
        <!-- End - JSP File Name: eMarketingSpotDisplayGeneric.jsp -->
      </div>
    </div>
  <div class="main col">
    <!-- Start- JSP File Name: eMarketingSpotDisplayClassNameAndId.jsp -->
    <!-- End - JSP File Name: eMarketingSpotDisplayClassNameAndId.jsp -->
    <div class="full_width col">
      <h3 class="req">* Required Information</h3>                   
        <form name="product_reg" method="post" action="ZProductRegistrationAdd" id="product_reg" onsubmit="return checkAllErrors('#doc-mtd',1)">
          <div class="please_read">
            <div class="important_info">
              <h3>Please Read</h3>
              <p>Failure to complete and return this registration does not diminish your Warranty rights. This information will be used for market research purposes and to help MTD deliver products to better serve our customers. Because we value your privacy, MTD will not provide customers specific personal information to third parties without customer consent, and will treat such information as confidential. MTD may disclose information to third party for analysis and marketing purposes, but only after the information has been aggregated so as to prevent identification of personal information relating to a particular customer.</p>
            </div>
          </div>
          <input type="hidden" name="storeId" value="10500" id="WC_ProductRegister_FormInput_storeId_In_ProductRegistrationForm_1">
          <input type="hidden" name="langId" value="-1" id="WC_ProductRegister_FormInput_langId_In_ProductRegistrationForm_1">
          <input type="hidden" name="catalogId" value="20500" id="WC_ProductRegister_FormInput_catalogId_In_ProductRegistrationForm_1">
          <input type="hidden" name="URL" value="ViewProductRegisterConfirm" id="WC_ProductRegister_FormInput_URL_In_ProductRegistrationForm_1">
          <input type="hidden" name="errorViewName" value="ViewProductRegister" id="WC_ProductRegister_FormInput_errorViewName_In_ProductRegistrationForm_1">
          <ul class="product_info first">
            <li>
              <fieldset><strong>*First Name:</strong></fieldset> 
              <input type="text" id="firstName" class="text" name="firstName" value="" errors="0" errpage="1">
            </li>
            <li>
              <fieldset><strong>*Last Name:</strong></fieldset> 
              <input type="text" id="lastName" class="text" name="lastName" value="" errors="0" errpage="1">
            </li>
            <li>
              <fieldset><strong>Company Name:</strong></fieldset> 
              <input type="text" id="companyName" class="text" name="companyName" value="">
            </li>
            <li>
              <fieldset><strong>*Street Address:</strong></fieldset> 
              <input type="text" id="address1" class="text" name="address1" value="" errors="0" errpage="1">
            </li>
            <li>
              <fieldset><strong>Address line 2:</strong></fieldset> 
              <input type="text" id="address2" class="text" name="address2" value="" errors="0" errpage="1">
            </li>
            <li>
              <fieldset><strong>*City:</strong></fieldset> 
              <input type="text" id="city" class="text" name="city" value="" errors="0" errpage="1">
            </li>
            <li>
              <fieldset><strong>*Province:</strong></fieldset> 
              <select name="province" class="province">
                <option value="#" selected="selected">Select One</option>
                <option value="#">Alberta</option>
                <option value="#">British Columbia</option>
                <option value="#">Manitoba</option>
                <option value="#">New Brunswick</option>
                <option value="#">Northwest Territories</option>
                <option value="#">Nova Scotia</option>
                <option value="#">Nunavut</option>
                <option value="#">Ontario</option>
                <option value="#">Prince Edward Island</option>
                <option value="#">Quebec</option>
                <option value="#">Saskatchewan</option>
                <option value="#">Yukon</option>
              </select>
          </li>
          <li>
            <fieldset><strong>*Postal Code:</strong></fieldset> 
            <input type="text" id="postalCode" class="text" name="postalCode" value="" maxlength="5">
          </li>
          <li>
            <input type="hidden" id="county" class="text" name="county" value="">
            <fieldset><strong>*Phone Number:</strong></fieldset> 
            <input type="hidden" id="phoneNumber" class="text" name="phoneNumber" value="" errors="0" errpage="1" ftype="phone">
            ( <input type="text" name="phoneNumber1" value="" size="5" maxlength="3" class="smallerTextField">) - <input type="text" name="phoneNumber2" value="" size="5" maxlength="3" class="smallerTextField"> - <input type="text" name="phoneNumber3" value="" size="8" maxlength="4" class="smallerTextField">
          </li>
          <li>
            <fieldset><strong>*Email Address:</strong></fieldset> 
            <input type="text" id="emailAddress" class="text" name="emailAddress" value="" errors="0,1" errpage="1">
            <br clear="all" />
          </li>  
        </ul>
        <div class="block">  
          <div class="label_image">
            <img src="/wcpics/BuyMTDOnlineUS/en_US/images/mtd_label.jpg" alt="Product label">
            <p>Refer to your Operator Manual for the location of this label</p>
          </div>
          <div class="label_image second">
            <div class="please_read">
              <div class="important_info">
                <h3>Please Read</h3>
                <p>
                  MTD Products Limited takes your privacy very seriously. We collect personal information to better serve our customers and to provide information about our products and services. By engaging in transactions with MTD Products Limited, completing on-line or other forms, or by entering contests, you consent to the collection, use, storage outside of Canada and the disclosure of your personal information in accordance with this Privacy Statement.
                </p>
              </div>
            </div>
          </div>
          <br clear="all" />
          <ul class="product_info pad-top">                        
            <li>
              <fieldset><strong>*Purchased From:</strong></fieldset> 
              <select name="purchased_from" class="purchased_from">
                <option value="#">Select One</option>
                <option value="#">Sears</option>
                <option value="#">Home Hardware</option>
                <option value="#">Rona</option>
                <option value="#">Reno Depot</option>
                <option value="#">TSC</option>
                <option value="#">Independent Dealer</option>
                <option value="#">Other</option>
              </select>
            </li> 
            <li>
              <fieldset><strong>*Date Purchased:</strong></fieldset>
              <input type="hidden" id="purchasedDate" class="text" name="purchasedDate" value="">                              
              <select name="purchasedDateMonth" class="smallerSelect">
                <option value="01">Jan</option>
                <option value="02">Feb</option>
                <option value="03">Mar</option>
                <option value="04">Apr</option>
                <option value="05">May</option>
                <option value="06">Jun</option>
                <option value="07">Jul</option>
                <option value="08">Aug</option>
                <option value="09">Sep</option>
                <option value="10">Oct</option>
                <option value="11">Nov</option>
                <option value="12">Dec</option>                               
              </select>
              <select name="purchasedDateDay" class="smallerSelect">
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
              </select>
              <select name="purchasedDateYear" id="purchasedDateYear" title="YEAR" size="1" class="smallerSelect">
                <option value="2013">2013</option>
                <option value="2012">2012</option>
                <option value="2011">2011</option>
                <option value="2010">2010</option>
                <option value="2009">2009</option>
                <option value="2008">2008</option>
                <option value="2007">2007</option>
                <option value="2006">2006</option>
                <option value="2005">2005</option>
                <option value="2004">2004</option>
                <option value="2003">2003</option>
                <option value="2002">2002</option>
                <option value="2001">2001</option>
                <option value="2000">2000</option>
                <option value="1999">1999</option>
                <option value="1998">1998</option>
                <option value="1997">1997</option>
                <option value="1996">1996</option>
                <option value="1995">1995</option>
                <option value="1994">1994</option>
                <option value="1993">1993</option>
                <option value="1992">1992</option>
                <option value="1991">1991</option>
                <option value="1990">1990</option>
                <option value="1989">1989</option>
                <option value="1988">1988</option>
                <option value="1987">1987</option>
                <option value="1986">1986</option>
                <option value="1985">1985</option>
                <option value="1984">1984</option>
                <option value="1983">1983</option>
                <option value="1982">1982</option>
                <option value="1981">1981</option>
                <option value="1979">1979</option>
                <option value="1978">1978</option>
                <option value="1977">1977</option>
                <option value="1976">1976</option>
                <option value="1975">1975</option>
                <option value="1974">1974</option>
                <option value="1973">1973</option>
                <option value="1972">1972</option>
                <option value="1971">1971</option>
                <option value="1970">1970</option>
                <option value="1969">1969</option>
                <option value="1968">1968</option>
                <option value="1967">1967</option>
                <option value="1966">1966</option>
                <option value="1965">1965</option>
                <option value="1964">1964</option>
                <option value="1963">1963</option>
              </select>
            </li>  
            <li>
              <fieldset><strong>*Type of Product:</strong></fieldset> 
              <select id="productType" class="type_of_product" name="productType" errors="0,3" errpage="1">
                <option value="">- Select One -</option>
                <option value="M1">Edger</option>
                <option value="M2">Handheld Product</option>
                <option value="M3">Lawn Tractor</option>
                <option value="M4">Log Splitter</option>
                <option value="M5">Push Mower</option>
                <option value="M6">Self-Propelled Mower</option>
                <option value="M7">Snow Thrower</option>
                <option value="M9">Tiller</option>
                <option value="T1">Wood Chipper, Shredder or Vacuum</option>
                <option value="T2">Zero Turn Rider</option>
              </select>
              <input type="hidden" id="modelNumber" name="modelNumber" value="">
              <input type="hidden" id="hasModelNumber" name="hasModelNumber" value="false">
            </li>  
            <li>
              <fieldset><strong>*Model Number:</strong></fieldset> 
              <input type="text" id="factoryNumber" class="text" name="factoryNumber" value="" errors="0" errpage="1">
              (ex: 13AH762F752)
            </li>  
            <li>
              <fieldset><strong>*Serial Number:</strong></fieldset> 
              <input type="text" id="serialNumber" class="text" name="serialNumber" value="" errors="0" errpage="1">
              (ex: 1K044B40006)
            </li>  
            <li>
              <fieldset><strong>*End Use:</strong></fieldset> 
              <select class="selected" id="endUse" name="endUse" errors="0,3" errpage="1">
                <option value="">- Select One -</option>
                <option value="R">Residential</option>
                <option value="C">Commercial</option>
              </select>
            </li>  
            <li class="check">
              <input type="checkbox" id="under14" name="under14" value="product_updates_yes" class="checkbox">
              <p><label for="under14">Check here if UNDER 14 years of age.</label></p>
              <br clear="all" />
              <span class="warning hide" id="under14_message">To register a product on <a href="http://mtdproducts.ca">mtdproducts.ca</a> you must be 14 years of age or older.</span>
            </li>
            <li class="check">
              <input type="checkbox" name="info_collection" value="info_collection_yes" id="info_collection" class="checkbox" checked> 
              <p>
                <label for="info_collection">Yes, you may collect my personal information to administer important transactions between us such as: (a) registering your products, maintaining our records to provide you with warranty or other customer service communications; (b) advising you of any product recalls or customer notifications with respect to your product; (c) providing you with services you request and to respond to your comments or requests for information; and, (d) meeting our legal obligations and other legitimate business interests.</label>
              </p>
              <br clear="all" />
              <span class="warning hide" id="info_collection_message">By unchecking this box, you acknowledge that MTD Products Limited will not be able to register your products after purchase or contact you directly in the unlikely event of product recall” since your personal contact information will not be stored.</span>
            </li>
            <li class="check">
              <input type="checkbox" name="marketing_list" value="marketing_list_yes" id="marketing_list" class="checkbox" checked> 
              <p>
                <label for="marketing_list">Yes, I would like to receive product information related to marketing initiatives and other special promotional offers that may be of interest to me.</label>
              </p>
              <br clear="all" />
            </li>
          </ul>   
        </div>
        <div class="block">
          <ul>
            <li>
              <p class="subhead error">
                <span id="pr_error"></span>
              </p>
              <input class="button reg_now" value="Register Now" alt="Register Now" onclick="prepareProductRegSubmit(document.product_reg)">
            </li>
          </ul>
        </div>
      </form> 
    </div>             
    <div class="clear"><!-- --></div>
  </div>
</div>