.disabled { visibility: hidden; display: none; }
	
.contact .phone {
padding-top:5px;
font-size:127.3%;
display:block;
}

.contact .hours {
display:block;
}

.contact {
	font-weight:bold;	
}

.contact p {
	padding: 5px;
}

.part_finder {
	display: none;
}

.video_info_container {
	margin-left: auto;
	margin-right: auto;
}

.video_info_container ul li{
	padding-top: 5px;
	list-style-type: none;

}

.video_info_container.bullet_tips ul li {
	list-style-type: square;
}

.video_info_container .share ul li {
	list-style-type: none;
}

.redtext {
	color: #ff0000;
}

.tips_browse .browse {	padding-top: 10px;	padding-left: 7px;}

.tips_browse .browse .frm_element {	margin-bottom: 15px; margin-top:10px;}


.current {
	font-weight:bold;
}


.loading  {
	background:url("/wcpics/MTDProducts/en_US/images/spinner3-black.gif") no-repeat scroll 40% 40% transparent;
	clear:both;
	height:200px;
}

.attention section span {
	padding-bottom: 10px;
	display: block;
}

.top_faqs h3 {
	padding: 10px;	
}

#feedFaqDivId {
padding: 10px;
}

.diagnose_row  {
margin-bottom:4px;
}

.diagnose_row .first {
margin:0;
}

.diagnose_row .yui-u {
background:none repeat scroll 0 0 #EFEDE7;
margin-left:3px;
width:32%;
float:left;
margin-bottom:5px;
margin-right:5px;
}

.diagnose_row .yui-u h3 a {
color:#333333;
margin:0;
float:left;
margin-right:7px;
line-height:1.629em;
text-decoration:none;
}

.diagnose_row a {
float:left;
margin-right:7px;
}

.diagnose_row h3 {
border:medium none;
color:#333333;
margin:26px 8px 0 0;
padding:0;
}

#equipment_type { font-size: 11px; }
#symptoms {font-size: 11px;}

#product_disclaimer { float: right; font-weight: bold; padding: 5px 0 5px 0; }

#no_results { margin-top: 20px; }

.error { color: #f00; }

.video { float: left; width: 440px; }

.tableStyle table {
	border-width: 1px;
	border-spacing: 2px;
	border-style: outset;
	margin-bottom: 10px;
}

.tableStyle tbody {
	border-collapse: separate;
	border-spacing: 5px;
	border-width: 1px;
}

.tableStyle td {
	padding: 5px;
}

.tip_contents {
	line-height: 20px;
}

.continentLayout {
	padding-top: 50px;
	list-style-type: none;
}

.continentLayout li {
	float: left;
	width: 25%;
    margin-bottom: 10px;
    margin-right: 25px;
}
						
.countryLayout {
	list-style-type: none;
}
						
.countryLayout li {
	float: left;
	width: 25%;
    margin-bottom: 50px;
	margin-right: 25px;
}

.sortField {
float: left; padding-top: 5px;
}

.print_friendly { background-color: #fff; background-image: none; }
#pheader { margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; width: 750px; }
#pcontent { position: relative; min-height: 300px; margin-bottom: 20px; z-index: 1; width: 750px; margin-top: 0px; margin-right: auto; margin-bottom: 10px; margin-left: auto;}
.printPageRight { float: right; margin-top: 10px; }
.printPageLeft { float: left; width: 120px; height: 45px; padding:14px 0 0 0; }
.comp td { border-right: 1px solid black; padding: 1px 3px; }
.comp .section { border: 1px solid red; font-weight: bold; font-size: 1.2em; background-color: #cc9; }
.comp .hd { font-weight: bold; }
.comp .line td { border-bottom: 1px solid black; }
#compare-message { background-color: white; display:none; }
.section { background-color: #000; }


