a.button.go_btn, a.button:visited.go_btn, a.button:active.go_btn, input.button.go_btn  { padding-top: 7px; }
input.button.go_btn { height: 19px; }

ul#hero_features { height:260px;  }
body#home ul#hero_features { height: 355px; }
body#home ul#hero_features li { height: 350px; }

form#find_manual input.manual,  .part_finder .button.go { padding-top: 7px; height: 19px; }
form#product_reg input.reg_now { height: 24px; padding-top: 2px;padding-bottom:0px; line-height:14px; }
span.stars { vertical-align: text-top; }

input.checkbox { border: none; background: none; }

#safety_tabs { display: inline; width: 740px; }

ul.service_center .button {
	padding-top: 5px;
}

input.button {
padding: 5px;
}