ul#topnav a.ourCompany, ul#topnav a.ourProducts, ul#topnav a.safety, ul#topnav a.ownersCenter, ul#topnav a.buyParts { background-image: url(/wcpics/MTDProducts/en_US/images/sprite-v3.png); }

ul#topnav a.ourCompany { background-position: -205px 0; width: 161px; } 
ul#topnav a.ourProducts { background-position: -366px 0; width: 164px; } 
ul#topnav a.safety { background-position: -530px 0; width: 134px; } 
ul#topnav a.ownersCenter { background-position: -664px 0; width: 183px; } 
ul#topnav a.buyParts{ background-position: -847px 0; width: 133px; } 

ul#topnav a.ourCompany:hover, body#company a.ourCompany, ul#topnav li.hovering a.ourCompany { background-position: -205px -52px; }
ul#topnav a.ourProducts:hover, body#products a.ourProducts, ul#topnav li.hovering a.ourProducts { background-position: -366px -52px; }
ul#topnav a.safety:hover, body#safety a.safety, ul#topnav li.hovering a.safety { background-position: -530px -52px; }
ul#topnav a.ownersCenter:hover, body#owners a.ownersCenter, ul#topnav li.hovering a.ownersCenter { background-position: -664px -52px; }
ul#topnav a.buyParts:hover, body#buy a.buyParts, ul#topnav li.hovering a.buyParts { background-position: -847px -52px; }

ul#topnav li.our_products .sub { margin-left: -161px; }
ul#topnav li.safe .sub { margin-left: -316px; }
ul#topnav li.owner .sub { margin-left: -459px; }
ul#topnav li.parts .sub { margin-left: -118px; }

