@charset "utf-8";
/* CSS Document */


#survey1 { display:none; z-index:1000; position:absolute; top:140px; width:400px; left:32%; background:#fff url(/wcpics/MTDProducts/en_US/images/survey_logo.jpg) top left no-repeat; border:10px solid #2a631f; height:335px; text-align:left; }
#survey1 a { position:relative; top:100px; left:20px; color:#fff; background:#0b3c00; border:3px solid #0b3c00; padding:8px 13px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:18px; text-decoration:none;}
#survey1 a.yes { padding:8px 43px; margin-right:18px;}
#survey1 a:hover { background:#2a631f;}
#survey1 p { position:relative; top:100px; left:20px; width:350px; font-size:14px; margin:0 0 10px 0;}
#survey1 p.title { font-size:18px; font-weight:900; color:#000;}
#survey1 p.bottom { margin:0 0 30px 0;}

#surveyBG { display:none; z-index:5; position:absolute; top:0px; left:0; width:100%; height:1500px; background:#000; opacity:0.8; filter:alpha(opacity=80);}