/**************************************************
  	COLOR PALETTE
	
	Text: 						#333
	Standard Links: 			#339933
	Standard Links (hover): 	#1e591e
	Utility Links: 				#666
	Utility Links (hover): 		#3c3c3c
	
**************************************************/

/**************************************************
  	SHELL
**************************************************/
body { background:#fff url(/wcpics/MTDProducts/en_US/images/bg_tile.jpg) repeat-x center top; font-size: 12px; font-family: Arial, sans-serif; color: #333; }

header, footer, #content { margin: 0px auto; width: 980px; }
	body#home #hero, body#home #brands, body#home .news { margin: 0px auto; width: 980px; }

#shell { margin: 0px auto; width: 100%; clear: both; background: url(/wcpics/MTDProducts/en_US/images/bg_body1.jpg) no-repeat center top;}
header { position: relative; height: 144px; z-index:2; }
#content { position: relative; min-height: 300px; margin-bottom: 20px; z-index:1; }

/**************************************************
  	LINKS
**************************************************/
a, a:visited, a:active { color: #339933; text-decoration: underline; outline:none;}
a:hover { color: #1e591e;  outline:none; }

.main a, .main a:visited, .main a:active {color:#006600; text-decoration:underline;}
.main a:hover {color:#006600; text-decoration:none;}

#utility a, #utility a:visited, #utility a:active { color: #666; text-decoration: none; }
#utility a:hover { color: #3c3c3c; text-decoration: underline; }

a.button, a.button:visited, a.button:active, input.button { 
	font-size: 12px; 
	text-align: center; 
	background: url(/wcpics/MTDProducts/en_US/images/bg_standard_button.png) repeat-x; 
	line-height: 14px; 
	padding-top: 6px; 
	height: 19px; 
	display: block; 
	width: 201px; 
	border-radius: 3px; 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
	color: #fff; 
	text-decoration: none; 
	text-shadow: 0 1px 0 #333; 
}
a.button:hover, input.button:hover { 
	background: url(/wcpics/MTDProducts/en_US/images/bg_standard_button_hover.png);
}
input.button { cursor: pointer; padding: 0; height:25px; font-family: Arial, sans-serif; border: none; }
a.button.tall, a.button.tall:visited, a.button.tall:active, input.button.tall {
	height: auto;
	padding: 6px 5px 5px 5px;
	background: #2f2f2f url(/wcpics/MTDProducts/en_US/images/bg_standard_button_t.png) center 45% repeat-x; 
}
a.button.tall:hover, input.button.tall:hover { 
	background-color: #606060;
	background-image: url(/wcpics/MTDProducts/en_US/images/bg_standard_button_hover_t.png);
}

/**************************************************
  	COMMON
**************************************************/
h1 { font-size:20px; color:#333; margin:5px 0 10px 0; font-weight:normal; }
h2 { font-size:14px; color:#333; margin:5px 0 10px 0; font-weight:bold; }
h3 { font-size:12px; color:#333; margin:5px 0 10px 0; font-weight:bold; }

p, ul, ol { line-height: 18px; margin-bottom: 20px; }
.main ul, .main ol {margin-left:18px;}

/**************************************************
  	FORMS
**************************************************/
input { padding: 3px 5px; color: #666; border-top: 1px solid #b4b4b4; border-left: 1px solid #dcdcdc; border-right: 1px solid #dcdcdc; border-bottom: 1px solid #efefef; background: #fff url(/wcpics/MTDProducts/en_US/images/bg_input.gif) repeat-x left top; }

/**************************************************
  	SPRITE
**************************************************/
#primary ul, #primary li#nav_company a, #primary li#nav_products a, #primary li#nav_safety a, #primary li#nav_owners a, #primary li#nav_buy a, #hero_paging a, #brands, .overview, #latest h3, #social h3, #social #twitter, #social #facebook, #social #youtube, ul#topnav .sub ul li a.regBtn, ul#topnav li.owner .sub ul li a.matchingBtn, ul#topnav li.owner .sub ul input.goBtn, .sidebox ul.findPart li a.matchingBtn, .sidebox ul input.goBtn, #utility ul.globe li a.map, .mapBg { background: url(/wcpics/MTDProducts/en_US/images/sprite.png) no-repeat 0 0; }

/**************************************************
  	LOGO
**************************************************/
#brand { margin-top: 12px; margin-left: 18px; width: 186px; height: 77px; display: block; float: left; }

/**************************************************
  	UTILITY
**************************************************/
#utility { position: absolute; top: 9px; left: 389px; height:35px; z-index:9999; }
	#utility ul li {display: inline; padding:0 6px 3px 6px; margin:0; line-height:90%;}
	#utility ul {float:left; width:400px; border-right: 1px dotted #666; padding-right: 12px; text-align:right;}
		#utility ul.globe {width:170px; border:none; text-align:right; padding:0; height:22px; margin:0; z-index:9999;}
		#utility ul.globe li {padding: 0px 6px 10px 8px;}
		#utility ul.globe li a.map {margin:0; padding:0; width:170px; height:32px; overflow:hidden; display:block; background-position: -18px -169px; text-decoration:none; outline:none; font-size:.01em; text-indent:-9999px;}
		#utility ul.globe li a:hover.map {background-position: -188px -169px;}
		

#utility ul .sub {width:130px;}
#utility ul .sub ul {width:130px; border-right:none; margin-bottom:0px;}

ul.globe li .sub {
	position: absolute;	
	top: 33px; left: 8px;
	background: #fff;
	padding: 15px 25px 10px 15px;
	float: left;
	border:none;
	display: none;
}
ul.globe li {float: left; width:100%; margin: 0; padding: 0; text-align:left; position: relative; background:none;}
ul.globe li a {float: none; background:none; display:block; text-align:left;}
ul.globe li:hover a, ul.globe li a:hover { background-position: left bottom; }
ul.globe li .sub ul {width:130px; color:#333;}		

/**************************************************
  	SEARCH
**************************************************/
#search { position: absolute; top: 52px; right: 6px; }
	#search input { width: 170px; }
	#search input.go { padding: 0; margin-left: 5px; width:auto; border:none; background:none; }
	
	
/**************************************************
  	MAIN NAVIGATION
**************************************************/
#primary { position:absolute; top:90px; right:0; z-index:999; height: 50px; }
ul#topnav {height:52px; width:775px; clear:both;  padding-left:205px; list-style: none; font-size: 1.1em;}
ul#topnav li {float: left; margin: 0; padding: 0; position: relative; background:none;}
ul#topnav li a {float: left; text-indent: -9999px; height: 48px; background:none;}
ul#topnav li:hover a, ul#topnav li a:hover { background-position: left bottom; }

/* pages */
ul#topnav a.ourCompany {width: 164px; background: url(/wcpics/MTDProducts/en_US/images/sprite.png) no-repeat 0 0; background-position: -205px 0; }
ul#topnav a:hover.ourCompany, body#company a.ourCompany, ul#topnav li.hovering a.ourCompany {background-position: -205px -52px;}

ul#topnav a.ourProducts {width: 172px; background: url(/wcpics/MTDProducts/en_US/images/sprite.png) no-repeat 0 0; background-position: -369px 0;}
ul#topnav a:hover.ourProducts, body#products a.ourProducts, ul#topnav li.hovering a.ourProducts {background-position: -369px -52px; }

ul#topnav a.safety {width: 113px; background: url(/wcpics/MTDProducts/en_US/images/sprite.png) no-repeat 0 0; background-position: -541px 0;}
ul#topnav a:hover.safety, body#safety a.safety, ul#topnav li.hovering a.safety {background-position: -541px -52px;}

ul#topnav a.ownersCenter {width: 190px; background: url(/wcpics/MTDProducts/en_US/images/sprite.png) no-repeat 0 0; background-position: -654px 0;}
ul#topnav a:hover.ownersCenter, body#owners a.ownersCenter, ul#topnav li.hovering a.ownersCenter {background-position: -654px -52px;}

ul#topnav a.buyParts {width: 136px;  background: url(/wcpics/MTDProducts/en_US/images/sprite.png) no-repeat 0 0; background-position: -844px 0;}
ul#topnav a:hover.buyParts, body#buy a.buyParts, ul#topnav li.hovering a.buyParts {background-position: -844px -52px;}
/* end pages */

/* page drop downs */
ul#topnav li .sub {
	position: absolute;	
	z-index: 99;
	top: 48px; left: 0;
	background: #fff;
	padding: 15px 20px 15px 20px;
	float: left;
	border:6px solid #004c29;
	-moz-border-radius-bottomright: 2px;
	-khtml-border-radius-bottomright: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-radius-bottomleft: 2px;
	-khtml-border-radius-bottomleft: 2px;
	-webkit-border-bottom-left-radius: 2px;
	display: none;
}
ul#topnav li.owner .sub ul {
	padding-bottom:20px;
	width:200px;
}


/* our products drop down */
ul#topnav li.our_products .sub { margin-left:-164px;}

/* safety drop down */
ul#topnav li.safe .sub { margin-left:-336px;}

/* owners drop down*/
ul#topnav li.owner .sub { margin-left:-449px; padding: 2px 2px 2px 20px; background:#fff url(/wcpics/MTDProducts/en_US/images/bg-nav-owners.gif) top right repeat-y;}
	ul#topnav li.owner .sub ul {background:#fff; width:180px;}
	
	/* column 1 */
	ul#topnav li.owner .sub ul.col1 {width:210px; background:none;}
	
	/* column 2 */
	ul#topnav li.owner .sub ul.findPart1 {width:210px; background:none;}
	ul#topnav li.owner .sub ul.findPart1 li {list-style-type:disc; padding:1px 0; margin-left:12px;}
	ul#topnav li.owner .sub ul.findPart1 li.first, ul#topnav li.owner .sub ul.findPart1 li.last {list-style-type:none; padding:0px; margin-left:0;}
	ul#topnav .sub ul li a.regBtn {margin:23px 0 0 0; padding:0; width:111px; height:25px; overflow:hidden; display:block; background-position: -466px -169px; text-decoration:none; outline:none; text-indent:-9999px;}
	ul#topnav .sub ul li a:hover.regBtn {background-position: -577px -169px;}

	/* column 3 */
	ul#topnav li.owner .sub ul.findPart {width:321px; background:none;}
	ul#topnav li.owner .sub ul.findPart li {margin:0 0 0 15px; width:290px;}
	ul#topnav li.owner .sub ul.findPart li.partNo a {display:inline;}
	ul#topnav li.owner .sub ul.findPart li.partNo {padding:4px 0 15px 0;}
	ul#topnav li.owner .sub ul.findPart form#pNumber {padding:5px 0 0 0;}
	a.howTo {font-size:10px;}
	ul#topnav li.owner .sub ul .registerBtn {margin:20px 0 0 0; width:100px; text-align:center; padding:7px; background:#141414; color:#fff;}
		/* go */
		ul#topnav li.owner .sub ul input.goBtn {margin:0 0 05px; padding:0; width:54px; height:25px; overflow:hidden; display:block; background-position: -358px -169px; text-decoration:none; outline:none; text-indent:-9999px; cursor:pointer; display:inline; border:0; margin-bottom:-2px;}
		ul#topnav li.owner .sub ul input.goBtn:hover {background-position: -412px -169px;}
		/* matching products */
		ul#topnav li.owner .sub ul li a.matchingBtn {margin:15px 0 0 0; padding:0; width:171px; height:25px; overflow:hidden; display:block; background-position: -688px -169px; text-decoration:none; outline:none; text-indent:-9999px;}
		ul#topnav li.owner .sub ul li a:hover.matchingBtn {background-position: -859px -169px;}
		input.button.go_btn { width: 54px; color: #fff; text-decoration: none; display: inline; }
		ul#topnav .sub ul li a.button.matching_models, ul#topnav .sub ul li a.button.register_btn { font-size: 12px; text-align: center; background: url(/wcpics/MTDProducts/en_US/images/bg_standard_button.png) repeat-x; line-height: 14px; padding:5px 0 0 0; height: 20px; display: block; width: 170px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; color: #fff; text-decoration: none; text-shadow:0 1px 0 #333; vertical-align:top; margin-top:10px; }
		ul#topnav .sub ul li a.button.register_btn {width:120px; margin-top:18px;}
		ul#topnav .sub ul li a.button.matching_models:hover, ul#topnav .sub ul li a.button.register_btn:hover { background: url(/wcpics/MTDProducts/en_US/images/bg_standard_button_hover.png);}

/* parts drop down */
ul#topnav li.parts .sub { margin-left:-505px;}
ul#topnav li.parts .sub a.button { font-size: 11px; color:#fff; text-align: center; background: url(/wcpics/MTDProducts/en_US/images/bg_standard_button.png) repeat-x; line-height: 14px; padding-top: 5px; padding-bottom: 5px; display: block; width: 90px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; color: #fff; text-decoration: none; text-shadow:0 1px 0 #333; text-indent:0; cursor:pointer;}
ul#topnav li.parts .sub a.button:hover { background: url(/wcpics/MTDProducts/en_US/images/bg_standard_button_hover.png); }

/* inherited styles */
ul#topnav li .row {clear: both; float: left; width: 100%; margin-bottom: 10px;}
ul#topnav li .sub ul{list-style: none; margin: 0; padding: 0; width: 199px; float: left; background:none;}
ul#topnav li .sub ul.wide {list-style: none; margin: 0; padding: 0; width: 270px; float: left; background:none;}
ul#topnav li .sub ul.wider {list-style: none; margin: 0; padding: 0; width: 390px; float: left; background:none;}

ul#topnav .sub ul li { width: 100%; color: #333;}
ul#topnav .sub ul li h2 {padding: 4px 0 0 0;  margin: 0; font-size: 16px; font-weight: bold;}
ul#topnav .sub ul li h2 a {padding: 5px 0; background-image: none; color: #333333;}
ul#topnav .sub ul li a {float: none; text-indent: 0; height: auto; padding: 5px 3px 2px 0; display: block; text-decoration: none; color: #006600;}
ul#topnav .sub ul li a:hover {color: #adaead; }

			
			
/**************************************************
  	HOME
**************************************************/
#hero { position: relative; height: 375px; background: url(/wcpics/MTDProducts/en_US/images/bg_hero_shadow.png) no-repeat left bottom; }
	#hero li { list-style-type: none; }
	#hero_features { margin-top: -7px; }
#hero_paging { position: absolute; bottom: 40px; left: 40px; z-index: 10; }
	#hero_paging a { margin-right: 3px; width: 14px; height: 14px; text-align: center; background-position: 0 -714px; display: block; float: left; text-indent: -9999px; }
	#hero_paging a.activeSlide { background-position: 0 -700px; }

#brands { height: 52px; position: relative; background-position: 0 -105px; margin-top: -7px; }
	#brands strong { position: absolute; top: 21px; left: 20px; font-size: 14px; }
	#brands .scrollable { margin-left: 100px; position: relative; overflow: hidden; width: 842px; height: 52px; }
	#brands .browse { width: 15px; position: absolute; cursor: pointer; height: 22px; text-indent: -9999px; }
		#brands .browse.prev { top: 18px; left: 80px; background: url(/wcpics/MTDProducts/en_US/images/brand_prev.png) no-repeat 0 0; }
		#brands .browse.next { top: 18px; right: 15px; background: url(/wcpics/MTDProducts/en_US/images/brand_next.png) no-repeat 0 0; }
		#brands .disabled { display: none; }
	#brands .items { clear: both; overflow: hidden; width: 20000em; position: absolute; }
	#brands .page { width: 842px; float: left; }
	#brands ul { clear: both; overflow: hidden; width: 842px; }
/*	#brands ul a { background: url(/wcpics/MTDProducts/en_US/images/brands.png) no-repeat 0 0; display: block; height: 52px; text-indent: -9999px; }*/
	#brands li { float: left; list-style-type: none; text-align: center; margin: 15px 4px 0px 0px;}
#brands li { float: left; list-style-type: none; text-align: center; }
	#b_mtd  { width: 90px; }
	#b_mtd_gold  { width: 122px; }
	#b_mtd_pro  { width: 153px; }
	#b_yard_man  { width: 115px; }
	#b_yard_machines  { width: 140px; }
	#b_bolens  { width: 110px; }
	#b_remington  { width: 112px; }
	#brands #b_mtd a  { background-position: 0 0; }
		#brands #b_mtd a:hover  { background-position: 0 -52px; }
	#brands #b_mtd_gold a  { background-position: -90px 0px; }
		#brands #b_mtd_gold a:hover  { background-position: -90px -52px; }
	#brands #b_mtd_pro a  { background-position: -212px 0; }
		#brands #b_mtd_pro a:hover  { background-position: -212px -52px; }
	#brands #b_yard_man a { background-position: -365px 0; }
		#brands #b_yard_man a:hover  { background-position: -365px -52px; }
	#brands #b_yard_machines a  { background-position: -480px 0; }
		#brands #b_yard_machines a:hover  { background-position: -480px -52px; }
	#brands #b_bolens a  { background-position: -620px 0; }
		#brands #b_bolens a:hover  { background-position: -620px -52px; }
	#brands #b_remington a  { background-position: -730px 0; }
		#brands #b_remington a:hover  { background-position: -730px -52px; }

.overview { margin-top: 10px; margin-bottom: 20px; background-position: 0 -246px; height: 305px; margin-left: -30px; }	
.overview #history { width: 53%; }
	.overview #history h2 { font-size: 36px; margin-top: 55px; margin-bottom: 25px; background: url(/wcpics/MTDProducts/en_US/images/since_1958.png) no-repeat 297px 5px; text-indent: -9999px; height: 110px; }
	.overview #history img { margin: 3px 10px 10px -7px; }
	.overview #history p { padding: 0 50px; font-size: 13px; line-height: 18px; }
.overview #actions { width: 45%; }
	.overview .subaction2 { padding-top: 45px; width: 431px; margin-right: 20px; margin-bottom: 10px; padding-left: 0px; }
.overview .subaction { width: 408px; background: url(/wcpics/MTDProducts/en_US/images/bg_subaction.png) no-repeat left top; margin-right: 20px; margin-bottom: 10px; padding-left: 23px; }
		.overview #find_equipment.subaction { background-position: left 55px; }
		.overview #retailers.subaction { height: 93px; }
	.overview #find_equipment a p { color: #333; }
	.overview #find_equipment h3 { padding-top: 65px; font-size: 22px; margin-bottom: 5px; background: url(/wcpics/MTDProducts/en_US/images/bg_find_equip.png) no-repeat left 70px; text-indent: -9999px; height: 50px; }
	.overview #find_equipment img { float: right; margin-right: 20px; }
	.overview #retailers { position: relative; }
	.overview #retailers h3 { font-size: 22px; background: url(/wcpics/MTDProducts/en_US/images/bg_retailers.png) no-repeat left 13px; text-indent: -9999px; height: 40px; }
	.overview #retailers li { float: left; list-style-type: none; padding: 0 7px; }
	.overview .scrollable { position: relative; overflow: hidden; width: 360px; height: 52px; margin-left: 20px; }
	.overview .items { clear: both; overflow: hidden; width: 20000em; position: absolute; }
	.overview .page { width: 360px; float: left; }
	.overview .browse, .horizontal_grid .browse { width: 21px; position: absolute; cursor: pointer; height: 31px; text-indent: -9999px; }
		.overview .browse.prev, .horizontal_grid .browse.prev { top: 40px; left: 15px; background: url(/wcpics/MTDProducts/en_US/images/retailers_prev.png) no-repeat 0 0; }
		.overview .browse.next, .horizontal_grid .browse.next { top: 40px; right: 15px; background: url(/wcpics/MTDProducts/en_US/images/retailers_next.png) no-repeat 0 0; }
				
#latest, #social { width: 42%; margin: 0 20px 20px; }
	#latest { margin-right: 40px; width: 45%; }
.news h3 { font-size: 22px; margin-bottom: 13px; border-bottom: 1px dotted #333; padding-bottom: 4px; }
.news li { list-style-type: none; }
#latest h3 { background-position: 0 -760px; text-indent: -9999px; height: 21px; }
#latest ul { margin-bottom: 15px; }
#latest li { margin-bottom: 7px; }
.more { font-weight: bold; }
#social h3 { background-position: 0 -732px; text-indent: -9999px; height: 21px; }
#social ul { margin-bottom: 15px; }
#social li a { display: block; width: 30px; height: 30px; float: left; margin-right: 5px; text-indent: -9999px; }
#social #twitter { background-position: -14px -700px; }
#social #facebook { background-position: -44px -700px; width: 31px; }
#social #youtube { background-position: -75px -700px; width: 31px; }
#social { line-height: 18px; }

/**************************************************
  	BREADCRUMBS
**************************************************/
.breadcrumbs ul { margin-bottom: 12px; }
.breadcrumbs li { list-style-type: none; display: inline;}
.breadcrumbs li a { padding-right: 3px; text-decoration: none; }

/**************************************************
  	SIDEBAR
**************************************************/
.sidebox { background:#f4f4f4; padding:9px 8px 9px 8px; width:204px; margin-bottom:20px; }
.sidebox ul {padding:8px 0 0 4px; margin:0 0 15px 0;}
	.sidebox ul.browsing { margin-bottom: 0; }
.sidebox ul li {list-style-type:none; padding:3px 0 5px 10px; margin:0;}
.sidebox ul li a, .sidebox ul li a:link, .sidebox ul li a:visited {color:#006600; text-decoration:none; display:block;}
.sidebox ul li a:hover {color:#006600; text-decoration:underline;}
.sidebox ul li.active {font-weight:bold;}
.sidebox h2 { 
	/*width:189px; height:21px;*/ 
	background: #dee0df url(/wcpics/MTDProducts/en_US/images/bg_side_heading_t.png) center center repeat-x; 
	color: #333; 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px; 
	font-weight:bold; 
	padding: 9px 15px;
	margin: 0;
}
.sidebox h3 {font-weight:bold; color:#333; font-size:12px; margin:0; padding:3px 0 3px 0; line-height:12px;}


/* side bar Part Finder */
.sidebox ul.findPart {width:212px; background:none;}
.sidebox ul.findPart li.partNo a {display:inline;}
.sidebox ul.findPart li.partNo {padding:4px 0 15px 0;}
.sidebox ul.findPart form#pNumber {padding:5px 0 0 0;}
.sidebox ul.findPart input.goBtn { padding:0; width:54px; height:25px; overflow:hidden; display:block; background-position: -358px -169px; text-decoration:none; outline:none; text-indent:-9999px; cursor:pointer; display:inline; border:0; }
.sidebox ul.findPart input.goBtn:hover {background-position: -412px -169px;}
.sidebox ul.findPart li a.matchingBtn {margin:15px 0 0 0; padding:0; width:171px; height:25px; overflow:hidden; display:block; background-position: -688px -169px; text-decoration:none; outline:none; text-indent:-9999px;}
.sidebox ul.findPart li a:hover.matchingBtn {background-position: -859px -169px;}


/**************************************************
  	PRODUCT -> CATEGORIES LEVEL 1
**************************************************/
.side_nav { width: 238px; }
.main { width: 740px; }
.browse .highlights { margin: 0 17px 20px 0; width: 235px; }
.browse .highlights ul { margin-bottom: 30px; margin-left:0; height: 40px;}
.browse .highlights.last { margin-right: 0; }
.browse .highlights h1 a, .browse .highlights h1 a:visited, .browse .highlights h1 a:active { color: #333; text-decoration: none; }
.browse .highlights a.thumb { position: relative; display: block; }
.browse .highlights a.thumb .brand { border: none; border-top: 1px solid green; border-bottom: 1px solid green; }
.browse .brand { display: none; position: absolute; top: 138px; left: 4px; background: #fff; background-color: rgba(255,255,255,.85); }
.browse a:hover .brand { display: block; }
.browse .highlights p { height: 60px }

/**************************************************
  	PRODUCT -> CATEGORIES LEVEL 2 & 3
**************************************************/
#hero.level2 { height: 285px; }	
.horizontal_grid { position: relative; padding: 18px 48px; background: #f4f4f4; }
.horizontal_grid .browse.prev, .horizontal_grid .browse.next { top: 108px; }
.product_scroll { width: 880px; overflow: hidden; position: relative; height: 550px; }
.product_scroll .product_items { width: 20000em; position: absolute; }
.product_scroll .page { float: left; }
.highlights { width: 200px; margin: 0 10px; }
.highlights a.thumb img { border: 4px solid #e7e9e9; }
.highlights a.thumb:hover img { border: 4px solid #c4c9c9; }
.highlights img { margin-bottom: 12px; }
.highlights h1 { font-size: 16px; font-weight: bold; margin-bottom: 10px; height: 25px; }
.highlights h1 a, .highlights h1 a:visited, .highlights h1 a:active { color: #006600; text-decoration: none; }
.highlights h1 a:hover { color: #339933; }
.highlights h2 { font-size: 14px; font-weight: bold; margin-bottom: 20px; }	
.highlights h3 { font-size: 12px; font-weight: bold; margin-bottom: 10px; }	
.highlights ul { margin-bottom: 30px; margin-left:0; height: 140px;}
.highlights li { list-style-type: none; }
.highlights ul.check li { padding-left: 14px; background: url(/wcpics/MTDProducts/en_US/images/check_green.png) no-repeat left 0.25em; }
.highlights a.button { margin-bottom: 15px; }

/**************************************************
  	PRODUCT LISTING PAGE
**************************************************/

/* content */
#product_hero { position: relative; height: 284px; background: url(/wcpics/MTDProducts/en_US/images/header_shadow.png) no-repeat left bottom;}
	#product_hero li { list-style-type: none; }
	#product_hero #hero_features { margin-top:0px; margin-left:0; overflow:hidden;}
#hero_paging { position: absolute; bottom: 40px; left: 40px; z-index: 10; }
	#hero_paging a { margin-right: 3px; width: 14px; height: 14px; text-align: center; background-position: 0 -714px; display: block; float: left; text-indent: -9999px; }
	#hero_paging a.activeSlide { background-position: 0 -700px; }		
.compare {width:715px; height:56px; background:#f4f4f4; padding:10px 5px 5px 20px; position:relative;}
	.compare p {width:140px; height:30px; padding:15px 0 0 0; float:left;} 
	.compare form {position:absolute; top:25px; left:510px;}
	.compare form fieldset {display:inline-block; padding:0 5px 0 0; }
	.compare form input, .compare form select {display:inline-block;}
	.compare_item {width:50px; height:50px; background:#fff; border:1px solid #ccc; float:left; margin-right:12px; position:relative;}
	.compare_item a.x {margin:-6px -6px 0 0; position:absolute; top:0; right:0; width:17px; height:16px; background:url(/wcpics/MTDProducts/en_US/images/sprite.png) no-repeat; background-position:0 -580px; display:block; text-indent:-9999px;}
.compare_item img { margin: -4px 0 0 0; padding: 0px; float: left; }
.compareBtn {width:150px; float:left; padding:12px 0 0 0;}
	.compare a.button { font-size: 11px; color:#fff; text-align: center; background: url(/wcpics/MTDProducts/en_US/images/bg_standard_button.png) repeat-x; line-height: 14px; padding-top: 5px; height: 20px; display: block; width: 70px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; color: #fff; text-decoration: none; text-shadow:0 1px 0 #333; text-indent:0; cursor:pointer;}
	.compare a.button:hover { background: url(/wcpics/MTDProducts/en_US/images/bg_standard_button_hover.png); }
.main .paging  {height:45px;}
	.main .paging p  {text-align:right; padding:14px 0 0 0;}
	.main .paging a, .product_display .paging a:link, .product_display .paging a:visited {color:#006600; text-decoration:none;}
	.main .paging a:hover {color:#006600; text-decoration:underline;}

/* The Product Listing */
.product_view {width:740px; border-top:1px solid #ccc; padding:20px 0 20px 0;}
.product_view .highlights {width:233px; margin:0px 25px 0px 0px; float:left;}
.product_view .summary {float:left; width:305px;}
.product_view .summary p {margin-bottom:10px;}
.product_view .summary h1 a, .product_view .summary h1 a:link, .product_view .summary h1 a:visited {color:#006600; font-weight:bold; text-decoration:none; font-size:16px;}
.product_view .summary h1 a:hover {color:#388e38; text-decoration:none font-weight:bold;}
.product_view .summary ul {margin-bottom:8px;margin-left:0;}
.product_view .summary ul li {list-style-type:none;}
.product_view .highlights a.thumb { position: relative; display: block; }
.product_view .highlights a.thumb .zoom { border: none;}
.product_view .highlights .zoom {display: none; position: absolute; top: 136px; left: 4px; background:url(/wcpics/MTDProducts/en_US/images/magnify.gif) no-repeat;}
.product_view .highlights a:hover .zoom { display: block; }
.purchasing_info {float:left; width:172px; position:relative; }
.purchasing_info p {font-size:16px; text-align:right; padding:8px 0 10px 0; margin:0;}
.purchasing_info a.button {float:right; font-size: 11px; color:#fff; text-align: center; background: url(/wcpics/MTDProducts/en_US/images/bg_standard_button.png) repeat-x; line-height: 14px; padding-top: 5px; height: 20px; display: block; width: 90px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; color: #fff; text-decoration: none; text-shadow:0 1px 0 #333; text-indent:0; cursor:pointer;}
.purchasing_info a.button:hover { background: url(/wcpics/MTDProducts/en_US/images/bg_standard_button_hover.png); }
.purchasing_info .availability { border: 1px solid #006600; margin-top: 20px; }
.purchasing_info .availability h4 {width:170px; height:15px; background:#006600; color:#fff; text-align:center; padding:5px 0 0 0; margin:0;}

.availability ul {padding: 8px 0 8px 0; margin:0; width: 170px; list-style-type: none; text-align: center; }
.availability ul li {display: inline; margin: 0 1px 0 0; padding: 5px; list-style-type:none; }



.top_rated {width:90px; height:32px; float:right; margin:0 0 10px 0; background:url(/wcpics/MTDProducts/en_US/images/top-rated.gif) no-repeat; text-indent:-9999px;}

span.stars {width:56px; height:11px; display:inline-block; background: url(/wcpics/MTDProducts/en_US/images/sprite.png) no-repeat 0 0; background-position:-18px -580px; }
span.stars p {margin-left:60px; display:inline-block;}

/* a.stars_02 {width:18px; height:11px; background: url(/wcpics/MTDProducts/en_US/images/sprite.png) no-repeat 0 0; background-position:-104px -580px; } */
a.stars {padding-left:0px;}

/**************************************************
  	CONTENT LAYOUTS
**************************************************/

/* content layout 1 */
.main_left {width:487px; float:left; padding:0 20px 0 0;}
.main_side {width:233px; float:left;}
.eSpot_wide1 {width:360px; height:140px; float:left; padding-right:20px;}
.eSpot_wide2 {width:360px; height:140px; float:left; padding-right:0;}

/* content layout 2 */
.eSpots {margin-top:5px;}
.eSpots .col1, .eSpots .col2, .eSpots .col3 {width:233px; float:left; margin-right:20px;}
.eSpots .col3 {margin-right:0;}
.eSpots h2 {margin-top:20px; font-size:16px;}

/* content layout 3 */
.eSpot_grid img {width:150px; height:150px; float:left; margin-right:15px; background:#eee;}
.eSpot_grid .col {width:360px; height:150px; float:left; margin:0 20px 20px 0;}
.eSpot_grid .last {margin-right:0;}

/**************************************************
  	SEARCH TEMPLATE
**************************************************/
.search_paging {width:100%; margin-top:15px; height:34px;}
.search_paging .pages {width:300px; float:left;}
.search_paging form fieldset {display:inline-block; padding:0 5px 0 0;}
.search_paging form {float:right; padding:0 10px 0 0;}
.search_paging form.sortBy {padding:0;}
.article_view .highlights a.thumb { position: relative; display: block; }
.article_view .highlights {width:125px; margin:0px 20px 0px 0px; float:left;}
.article_view .summary {float:left; width:590px;}
.article_view .summary p {margin-bottom:10px;}
.article_view .summary h1 a, .product_view .summary h1 a:link, .product_view .summary h1 a:visited {color:#006600; font-weight:bold; text-decoration:none; font-size:16px;}
.article_view .summary h1 a:hover {color:#388e38; text-decoration:none font-weight:bold;}
.article_view .summary h2 a, .product_view .summary h2 a:link, .product_view .summary h2 a:visited {color:#006600; font-weight:bold; text-decoration:none; font-size:16px;}
.article_view .summary h2 a:hover {color:#388e38; text-decoration: underline; font-weight:bold;}
.article_view .summary ul {margin-bottom:8px; margin-left:28px;}
.article_view .summary ul li {list-style-type:disc;}
.article_view h2 {display:block; background:#eee; padding:9px 0 10px 14px; margin:0 0 10px 0;}
.paging_bottom {width:100%; border-top:1px solid #ccc; padding:15px 0 0 0;}
.paging_bottom .paging {float:left; width:300px;}
.paging_bottom form fieldset {display:inline-block;
line-height:8px;
padding:0 5px 0 0;}
.paging_bottom form {float:right;
line-height:8px;
padding:0 10px 0 0;}
.paging_bottom form.sortBy {padding:0;}
.main .paging_bottom .paging p {text-align:left; padding:0;}

/**************************************************
  	OWNER'S CENTER
**************************************************/
.main.oc h1 { margin-bottom: 20px; }
.sidebox.single ul, .sidebox.contact ul { margin-bottom: 5px; }
.sidebox.contact li { padding-bottom: 2px; }
.sidebox ul li a.button.email { width: 78px; color: #fff; text-decoration: none; display: block; }
.grid { margin-bottom: 20px; }
.attention { width: 330px; height: 134px; padding: 15px; background: #f4f4f4;}
.attention.first { margin-right: 20px; }
.attention h3 { font-size: 14px; font-weight: bold; color: #006600; padding-bottom: 8px; border-bottom: 1px solid #ccc; margin-bottom: 18px; }
.attention.call h2 { font-size: 20px; margin-bottom: 14px; }
.attention p span { display: block; }
.attention.top_faqs { width: auto; height: auto; background: #fff; border: 4px solid #e7e9e9; padding: 11px; }
	.top_faqs ol { margin-bottom: 0;}
	.top_faqs li { color: #006600; line-height: 18px; margin-bottom: 12px; }
	.top_faqs li.trigger { margin-bottom: 2px; }
.faq .attention.top_faqs { padding: 0; margin-bottom: 20px; }
.faq_cats { width: 226px; min-height: 520px; padding: 2px; margin-right: 20px; background: #f4f4f4; }
	.main .faq_cats ul { margin-left: 0; }
	.main .faq_cats li { list-style-type: none; }
	.faq_cats a.button { width: auto; height: 22px; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; text-align: left; color: #fff; padding-left: 10px; font-size: 14px; font-weight: bold; background: url(/wcpics/MTDProducts/en_US/images/bg_faq_button.png) repeat-x 0 0; padding-top: 8px; color: #333; text-shadow: none; text-decoration:none;}
	.faq_cats a.button:hover { background-position: 0px -30px; color: #f4f4f4; text-shadow: 0 1px 0 #000; }
	.faq_cats a.button.active { background-position: 0px -60px; color: #f4f4f4; text-shadow: 0 1px 0 #333; text-decoration:none;}
	.hidden { display: none; }
	.faq_cats .tab_content { padding: 10px 10px 0 10px; color: #333; }
	.faq_cats .tab_content h2 { font-size: 12px; }
	.faq_cats .tab_content p { margin-bottom: 10px; }
.questions { width: 430px; padding: 20px 15px 20px 0; }

/**************************************************
  	TIMELINE
**************************************************/
.year .scrollable { height: 320px; margin-left: 33px; overflow: hidden; position: relative; width: 671px; }
.year .items { clear: both; overflow: hidden; position: absolute; width: 20000em; }
.year {background:#f2f2f2 url(/wcpics/MTDProducts/en_US/images/timeline-bottom.jpg) bottom center no-repeat; width:100%; height:460px; margin-top:-8px; padding-top:20px;}
.year .arrow_left {width:35px; height:300px; float:left;}
.year .arrow_right {width:35px; height:300px; float:left;}
.tl_details {width:670px; height:423px; float:left;}
.tl_description {width:660px; height:302px; border:5px solid #d2d2d2; background:#fff;}
.tl_description .img {width:356px; height:299px; padding:2px 10px 2px 2px; float:left;}
.tl_description .img img {width:355px; height:266px;}
.tl_description .img h3 {background:#006600; color:#fff; width:356px; height:15px; padding:8px 0 7px 0; text-align:center; margin:0;}
.tl_description .text {width:282px; height:292px; float:left; padding:5px 10px 5px 0; overflow:auto;}
.tl_thumbs {margin:15px 30px 0 30px; }
.tl_thumbs a.thumb {width:75px; float:left; margin:0 10px 0 0; text-align:center;}
.tl_thumbs a.thumb, .tl_thumbs a.thumb:hover, .tl_thumbs a.thumb:visited {text-decoration:none;}
.tl_thumbs a.thumb.last {margin:0;}
.tl_thumbs img {width:67px; height:67px;}
.tl_thumbs.highlights {width:680px;}
.tl_thumbs.highlights a.thumb img { border: 4px solid #d2d2d2; background-color: #fff; }
.tl_thumbs.highlights a.thumb.active img, .tl_thumbs.highlights a.thumb.active:hover img, .tl_thumbs.highlights a.visited img { border: 4px solid #006600; }
.tl_thumbs.highlights a.thumb:hover img { border: 4px solid #b7b7b7; }
.tl_thumbs.highlights img { margin-bottom: 4px; }

/* timeline arrows */
.year .browse.prev, .year .browse.next { top: 180px; }
.overview .browse, .year .browse { width: 21px; position: absolute; cursor: pointer; height: 31px; text-indent: -9999px; }
.year .browse.prev {background: url(/wcpics/MTDProducts/en_US/images/retailers_prev.png) no-repeat 0 0; /*margin-left:6px;*/ left: 5px; }
.year .browse.next {background: url(/wcpics/MTDProducts/en_US/images/retailers_next.png) no-repeat 0 0; /*margin-left:4px;*/ right: 5px; top: 186px; }

.tl_thumbs .large_photo, .tl_description .large_photo { display: none; }

/**************************************************
  	SAFETY
**************************************************/
.part_finder input.text {width:105px; margin-right:2px; padding:4px 5px; }

.part_finder ul {width:200px; background:none;}
	.part_finder ul li {margin:0 0 0 10px; width:180px;}
	.part_finder ul li {padding:4px 0 15px 0;}
	.part_finder ul form#pNumber {padding:5px 0 0 0;}
	a.howTo {font-size:10px;}
	.part_finder li ul .registerBtn {margin:20px 0 0 0; width:100px; text-align:center; padding:7px; background:#141414; color:#fff;}
		.part_finder .button.go { width: 40px; float: right; margin:-2px 15px 0 0; }
		.part_finder ul li a.button.models {margin:15px 0 0 0; width:171px; color: #fff; font-size:12px;padding-top:6px;height:19px;}
		.part_finder ul li a.button.models:hover { text-decoration:none; }
		
.two_col {background:url(/wcpics/MTDProducts/en_US/images/2col-bg.gif) repeat-y;}
.two_col h2 {border-bottom:1px solid #ccc; font-size:14px; font-weight:bold; margin:0 0 15px 0; padding:0 0 6px 0; color:#006600;}
.two_col ul {margin-top:-8px; padding-top:0;}
.sm_col1 {width:330px; float:left; margin-right:20px; padding:15px;}
.sm_col2 {width:330px; float:left; margin-right:0; padding:15px;}
.sm_col3 {width:360px; float:left; margin-right:0; padding:0;}

/* eSpot */
.eSpot740 {width:740px; height:120px; background:#f4f4f4; float:left; margin-top:20px;}




/**************************************************
  	SNOW THROWER SAFETY
**************************************************/

.quiz {width:161px; height:330px; margin-left:20px; margin-top:20px;}
.two_col .top {border-bottom:20px solid #fff; padding:15px;}
.two_col .bottom {border:none; padding:15px;}
#safety_tabs {margin:20px 0 0 0; float:left;}
#safety_tabs .content {width:740px; height:370px; margin-top:20px;}
#safety_tabs .content .video {width:450px; height:370px; float:left; margin-right:20px; background:#333;}
#safety_tabs .content .info {width:270px; height:370px; float:left;}
#safety_tabs .content .info h4 {padding-right:20px; margin-top:6px; margin-bottom:10px;font-size:14px;}
#safety_tabs .content .info p {padding-right:20px;}
#safety_tabs .content .info .test {padding:0; height:150px; width:270px; background:#f4f4f4;}
#safety_tabs .content .info .test h5 {padding:8px; background:#006600; color:#fff;}
#safety_tabs .content .info .test h5 span.page {float:right; font-weight:normal;}
#safety_tabs .content .info .test p {padding:12px 10px 0 10px; margin:0 0 8px 0;}



#remember {float:left; width:740px;}
#remember h1 {font-size:16px; font-weight:bold; height:25px; padding:7px 0 0 38px; margin:25px 0 0 0; background:url(/wcpics/MTDProducts/en_US/images/exclamation.png) no-repeat 7px 5px;}
#remember ul {margin:3px 0 0 0; padding:0;}
#remember ul li {background:#f4f4f4 url(/wcpics/MTDProducts/en_US/images/check.png) no-repeat 10px 8px; list-style-type:none; padding:7px 0 7px 38px; margin:0 0 4px 0;}

p.answer {float:right; text-align:right;}
p.answer a {text-decoration:underline;}

/**************************************************
  	DIAGNOSE & TROUBLESHOOT
**************************************************/
ul.machine_types { margin-left:0; }
ul.machine_types li { width: 233px; list-style-type: none; height: 74px; background: #f4f4f4; margin-right: 20px; margin-bottom: 20px; font-size: 13px; font-weight: bold; }
ul.machine_types li.last { margin-right: 0; }
ul.machine_types li a, ul.machine_types li a:visited { text-decoration: none; color: #333; display: block; position: relative; }
ul.machine_types li a:hover { color: #006600; }
ul.machine_types img { border-right: 1px solid #fff; }
ul.machine_types span { position: absolute; top: 15px; left: 84px; }
.list { margin-bottom: 20px; }
ul.symptoms { margin-left: 15px; clear: both; }
ul.symptoms li { width: 25%; margin-bottom: 10px; margin-right: 25px;}
ul.symptoms li.active a { font-weight: bold; }
.service_locator ul { margin-bottom: 10px; }
.service_locator label { width: 60px; float: left; display: block; }
.service_locator li input { width: 110px; }
.service_locator li select { width: 120px; }
.service_locator .button { width: 150px; border: none; }
.attention.troubleshoot { width: auto; height: auto; background: #fff; border: 4px solid #e7e9e9; padding: 0;}
.main .troubleshoot h1 { padding: 10px; margin: 0; }
.troubleshoot td { padding: 15px 10px; }
.troubleshoot th { font-size: 14px; font-weight: normal; line-height: 30px; height: 30px; padding-left: 10px; color: #fff; text-align: left; background: url(/wcpics/MTDProducts/en_US/images/bg_green_30.png) repeat-x left top; }
#.troubleshoot thead td { font-size: 14px; font-weight: normal; line-height: 30px; height: 30px; padding-left: 10px; padding-top:0px; padding-bottom:5px; color: #fff; text-align: left; background: url(/wcpics/MTDProducts/en_US/images/bg_green_30.png) repeat-x left top; }
#.troubleshoot thead td .middle {background-image:none; }
#.troubleshoot thead td h3 { margin-bottom: 5px; color:#fff; }
.troubleshoot th.first { border-right: 2px solid #fff; }
#.troubleshoot td { border-top: 2px solid #f4f4f4; border-bottom: 2px solid #f4f4f4; }
#.troubleshoot td.cause { font-weight: bold; font-size: 14px; background: #f4f4f4; border-top: 2px solid #fff; border-bottom: 2px solid #fff; }
#.troubleshoot td.cause h3 { font-weight: bold; font-size: 14px; background: #f4f4f4; border-top: 2px solid #fff; border-bottom: 2px solid #fff; }
#.troubleshoot td.cause h3 span { font-weight: bold; font-size: 14px; background: #f4f4f4; border-top: 2px solid #fff; border-bottom: 2px solid #fff;  }
.troubleshoot td.cause span { color: #006600; font-size: 18px; padding-right: 5px; }

.troubleshoot td { border-top: 2px solid #f4f4f4; border-bottom: 2px solid #fff; }
.troubleshoot td.corrections{ border-bottom: 2px solid #f4f4f4; border-bottom: 2px solid #f4f4f4; }
.troubleshoot td.cause { font-weight: bold; font-size: 14px; background: #f4f4f4;}
.troubleshoot td.cause h3 { font-weight: bold; font-size: 14px; background: #f4f4f4; border:none; }
.troubleshoot td.cause h3 span { font-weight: bold; font-size: 14px; background: #f4f4f4;  display: inline;}
.troubleshoot td.cause h3 span.list_num {font-size:166.7%; padding-right:10px; }

/**************************************************
  	OWNER'S CENTER LANDING PAGE
**************************************************/
.landing .attention { width: 200px; height: auto; }
.landing .attention.last { margin-left: 20px; }
.landing .diagnose ul, .landing .manuals ul { margin-left: 0; }
.landing .diagnose li, .landing .manuals li { list-style-type: none; margin-bottom: 10px; }
.landing .diagnose label, .landing .manuals label { display: block; margin-bottom: 3px; font-weight: bold; }
.landing .diagnose .button { width: 117px; }
.landing .manuals .button { width: 125px; }
.landing .manuals .related .button { width: 180px; }
.landing .manuals input.text { width: 120px; margin-right: 5px; }
.landing .manuals form { margin-bottom: 20px; }
p.related { margin-bottom: 10px; }
.landing .registration { height: 340px; }
.landing .registration .button { width: 105px; }
.landing .registration a:visited { color: #fff; text-decoration: none;}
.landing .manuals .button:hover, .landing .registration .button:hover { color: #fff; }
.landing .manuals a:visited { color: #fff; text-decoration: none;}

/**************************************************
  	MANUAL FINDER
**************************************************/
.manual .attention { height: 250px; }
form#find_manual input { width:200px; margin:0px 5px 10px 0; }
form#find_manual input.manual { width:140px; }
a.button.locate { width:180px; margin-top: 65px; font-size:12px; }
a.button.locate:hover { color: #fff; }
.manual .attention a { color: #fff; text-decoration:none;}

/**************************************************
  	PRODUCT REGISTRATION
**************************************************/
.full_width {width:710px; background:#f4f4f4; padding:15px; position:relative; }
form#product_reg ul li {list-style-type:none; padding:5px 0 5px 0;}
form#product_reg fieldset {display:inline-block; width:120px; padding:0 8px 0 0; text-align:right; vertical-align: middle;}
form#product_reg input {width:200px;}
form#product_reg select {width:212px;}
.block { position: relative; }

h3.req {text-align:right;}
.label_image.second { top: 295px; background: transparent; border: none; height: auto; right: 7px; }
.second .please_read { float: none; }
.please_read {width:220px; float: right; padding:15px; background:#fff; border:4px solid #e7e9e9;}
.please_read p {margin-bottom:5px;}
.please_read h3 {color:#006600; font-size:14px; font-weight:bold; margin:0; padding:0 0 10px 0;}
ul.product_info {border-bottom:1px solid #ccc; overflow: hidden; margin-left:0; padding-left:0; padding-bottom: 15px; position:relative;}
ul.product_info.first {border-bottom:0; }
ul.product_info.pad-top { border-top:1px solid #ccc; padding-top: 15px; }
form#product_reg ul li {list-style-type:none; padding:5px 0 5px 0; width:400px;}
form#product_reg fieldset {display:inline-block; width:120px; padding:0 8px 0 0; text-align:right;}
form#product_reg input {width:256px;}
form#product_reg input.checkbox {width:20px; float:left;}
form#product_reg select {width:268px;}
form#product_reg ul li.check {padding:5px 0 0 120px;}

form#product_reg select.smallerSelect { width: 80px; }
form#product_reg input.smallerTextField { width: 50px; }

li.check p {width:240px; float:left; margin-bottom: 5px;}
.label_image {width:250px; height:160px; position:absolute; top:35px; right:0px; padding:0px; background:#fff; border:4px solid #fff;}
p.label_location {width:250px; position:absolute; top:160px; right:0;}
form#product_reg input.reg_now {width:120px; margin-left:132px;}
li.field-info { margin: -10px 0 0 0; padding: 0; }
li.field-info .please_read { position: absolute; right: 0px; top: 280px; }

.benefits {width:220px; position:absolute; top:6px; right:0px; padding:15px; background:#fff; border:4px solid #e7e9e9;}
.benefits h3 {color:#006600; font-size:14px; font-weight:bold; margin:0; padding:0 0 8px 0;}
.benefits ul {padding:0; margin:0 0 0 15px;}
form#product_reg .benefits ul li {list-style-type:disc; padding:1px 0 1px 0; margin:0; width:200px;}

.full_width ul li h3 {color:#006600; font-size:14px; font-weight:bold; margin:0; padding:0 0 10px 0;}
.full_width ul.last {border-bottom:none; height:200px;}

.group { overflow: hidden; clear: both; }
.col { float: left; }
.col.with-gutter { padding-right: 2%; }
.one-third.with-gutter { width: 31%; padding-right: 2%; }
.two-third.with-gutter { width: 62%; padding-right: 2%; }
.one-fourth.with-gutter { width: 23%; padding-right: 2%; }
#product-registration-survey h3 {color:#006600; font-size:14px; font-weight:bold; margin:0; padding:0 0 10px 0;}
#product-registration-survey p.submit { margin-top: 20px; }
#product-registration-survey .block { border-bottom:1px solid #ccc; padding: 20px 0 15px 0; }
#product-registration-survey .block.last { border-bottom: 0; padding-bottom: 0; }
#product-registration-survey .group { margin-bottom: 5px; }
#product-registration-survey .text-input { width: 300px; }

/**************************************************
  	TIPS & TRICKS
**************************************************/
.tips_list { margin-bottom: 20px; }
.tips_list .search_paging { border-bottom: 1px solid #e7e9e9; margin-bottom: 20px; }
.tips_list .paging_bottom { margin-top: 10px; }
.tips_browse select { width: 180px; }
.tips_browse.sidebox ul { margin-bottom: 0; }
.tips_browse.sidebox li { padding-bottom: 0; margin-bottom: 7px; }
.tips_browse h4 { font-size: 14px; font-weight: bold; margin-bottom: 4px; }
.tips_browse.part_finder .button.go { width: 48px; margin-right: 5px; }
.tip_top { margin-bottom: 20px; }
.tip_top .asset { margin-right: 20px; }
.tip_top .detail { width: 320px; }
.tip_top h1 { line-height: 28px; }
a.button.share { width: 78px; }
.instructions h3 { font-size: 14px; font-weight: bold; background: #f4f4f4; color: #006600; padding: 10px 10px; }
.instructions p { padding: 0 10px; }

/**************************************************
  	STORE LOCATOR
**************************************************/
/**** based on eSpots layout (line 415), the difference is the image sizing (espots is not setup to use a border) ****/
.four_column .col {width:360px; height:150px; float:left; margin:0 20px 20px 0;}
.four_column .last {margin-right:0;}
.four_column img {width:142px; height:142px; float:left; margin-right:15px;}
.four_column h2 {margin:0 0 4px 0;}
.four_column ul li {list-style-type:none; padding:1px 0 2px 0;}


/* product highlights */
.highlights_150 a.thumb img { border: 4px solid #e7e9e9; }
.highlights_150 a.thumb:hover img { border: 4px solid #c4c9c9; }
.highlights_150 img { margin-bottom: 12px; }

/*------------------------- Form Validation ----------------------*/
input.frm_error, select.frm_error, textarea.frm_error {border-color: #9d0202;}
input[type="hidden"]{display:none !important;}

.form_notif {position: absolute; }
.form_notif .arrow {float: left; position: relative; overflow: hidden; top: 6px; width: 9px; height: 14px; background: url(/wcpics/BuyMTDOnlineUS/en_US/images/form_validation/error_arrow.png) 0 0 no-repeat; }
.form_notif .message {margin-left: 9px; background: #9d0202; padding: 5px 10px; color: #fff; text-align: left;}

.form_notif_nojs {position: static !important;}
/*----------------------- END Form Validation --------------------*/

/**************************************************
  	FIND A SERVICE CENTER
**************************************************/

.full_width h4 {border-bottom:1px solid #ccc; font-size:14px; font-weight:bold; margin:0 0 15px 0; padding:0 0 6px 0; color:#006600;}
ul.service_center {padding:0; margin:0;}
ul.service_center li {padding:3px 0; margin:0; list-style-type:none;}
ul.service_center .button { border:none; width:150px; margin-top: 10px; }
h2.results {font-size:16px; font-weight:normal; margin:0 0 20px 0;}

.search_results {padding:0; margin:0 0 20px 0; position:relative;}
.search_results h3 {padding:10px; background:#f4f4f4; display:block; color:#006600; font-size:14px; font-weight:bold;}
.search_results h3 span {float:right; font-size:12px; font-weight:normal; color:#333;}
.search_results p {width:500px; padding:0 0 0 10px;}
.search_results a.button.directions {margin:2px 0 0 0; width:90px; color:#fff; font-size:12px;padding-top:6px;height:19px; position:absolute; top:42px; right:0;}
.search_results a.button.directions:hover { text-decoration:none; }

/**************************************************
      CAREERS
**************************************************/
.sidebox ul li input.button.log_in { width: 80px; color: #fff; text-decoration: none; display: block; }
#hiring {background:#f4f4f4; padding:8px; margin-bottom:15px;}
.open_positions2 {background:none repeat scroll 0 0 #FFFFFF; float:left; height:43px; padding:15px 200px 0 200px; width:320px; }
.open_positions2 a.button { width: 160px; color: #fff; text-decoration: none; display: block; float:left; }
.open_positions2 h2 {display:block; float:left; width:150px; font-size:18px; font-weight:bold; color:#006600;}


.open_positions {background:none repeat scroll 0 0 #FFFFFF; float:left; height:43px; padding:15px 0 0 20px; width:332px;}
.open_positions a.button { width: 160px; color: #fff; text-decoration: none; display: block; float:left; }
.open_positions h2 {display:block; float:left; width:150px; font-size:18px; font-weight:bold; color:#006600;}
.search_positions {float:left;height:43px;padding:15px 0 0 20px;width:352px;}
.search_positions ul {margin:0; padding:0;}
.search_positions ul li {list-style-type:none; display:inline;}
.search_positions input {display: block; float:left; margin:3px 12px 0 0; width:156px;}
.search_positions input.button { width: 160px; color: #fff; text-decoration: none; margin:0; }


/**************************************************
  	FOOTER
**************************************************/
footer { border-top: 1px solid #ccc; position: relative; height: 50px; }
footer a, footer a:active, footer a:visited { color: #999; text-decoration: none; }
footer a:hover { text-decoration: underline; }
footer nav { margin-left: 22px; padding-top: 20px; }
footer li { display: inline; padding-right: 20px; }
footer a#small_brand { position: absolute; top: 5px; right: 8px; width: 88px; height: 37px; display: block; }

/*
	Operator Manual Search Form CSS Adjustments/Additions
*/
.manual .attention { min-height: 320px; }
a.button.locate { margin-top: 0; margin-bottom: 20px; }
.manual #model_brand { margin-bottom: 10px; }

/*
	Operator Manual Search Results CSS Additions
*/
p.phone-help strong { font-size: 14px; }
.manual-results table { width: 100%; border: none; padding: 0; }
.manual-results td, .manual-results th { padding: 10px; }
.manual-results th { text-align: left; background: url("http://mtdproducts.com/wcpics/MTDProducts/en_US/images/bg_side_heading.gif") repeat-x scroll center bottom #DEE0DF; font-size: 1.08333333em; }
.manual-results tr.manual-group td { background: #F4F4F4; }
.manual-results tr.manual-group td.serial, .manual-results tr.manual-group td.product { font-weight: bold; }
.manual-results th.heading-img { width: 72px; }
.manual-results a.image { background: url(/wcpics/MTDProducts/en_US/icon-camera.png) no-repeat 0 0; height: 18px; width: 25px; margin-left: 18px; display: block; text-indent: -9999px; text-align: center; position: relative; }
.manual-results a.image:hover { background-position: 0 -18px; }
.manual-results tr.last td { border-bottom: 1px solid #cccccc; padding-bottom: 14px; }
.manual-results .preview_img { padding: 10px; background: #fff; border: 1px solid #ccc; width: 200px; height: 200px; position: absolute; z-index: 999; display: none; margin: 7px 14px; -moz-box-shadow: 0 0 5px 5px rgba(0,0,0,0.15); -webkit-box-shadow: 0 0 5px 5px rgba(0,0,0,0.15); box-shadow: 0 0 5px 5px rgba(0,0,0,0.10); }

/*
	Operator Manual Disclaimer
*/
.manual-disclaimer { height: 320px; overflow: scroll; margin-bottom: 15px; }
p.manual-btns { text-align: right; }
p.manual-btns input.button { margin-left: 15px; width: 120px; display: inline; }
p.manual-btns input.button.btn-accept { background-image: url(/wcpics/BuyMTDOnlineUS/en_US/images/bg-btn-disc.png); background-position: 0 0 ; }
p.manual-btns input.button.btn-accept:hover { background-position: 0 -25px; }

/*
	Part Finder Sidebar Fix: Go buttons were displaying below input fields
*/
.sidebox ul.findPart input[type="text"] { width: 125px; }

/*
	Owner's Center Landing Page: Diagnose & Troubleshoot: What type of equipment select element width fix
*/
#equipment_type { max-width: 200px; }

/*
	Owner's Center Landing Page: Operator's Manuals Additions
*/
.attention.manuals select { margin-bottom: 7px; }
.sample-tag img { max-width: 100%; }
.landing .attention { height: 485px; }

/*MapQuest styling   */
.mapquest .mqTable { border: 1px solid;}
.mapquest .mqTable .mqHline  {background-color: #000; height: 1px;}
.mapquest .mqTable { border: 1px solid;}
 #mapPoi           { width:600px ;height:600px;}
.mapquest #map    { width:300px; height:300px; float: right;}
.mapquest #routeMap    	{ width:600px; height:600px; float: right;}
.mapquest #routeLegs    { width:600px;float: right;}


/**************************************************
  	CANADA
**************************************************/
/*
	Canada: Layout
*/
html.canada #utility ul { width: 480px; }
html.canada #utility ul.language { 
	width: 90px;
  border: none;
  text-align: right;
  padding: 0;
  height: 22px;
  margin: 0; 
}
html.canada ul#topnav li.owner .sub { margin-left: -350px; }
html.canada ul#topnav li.owner .sub ul.col1 { width: 250px; background: #ededed; }
html.canada ul#topnav li.owner .sub ul.findPart1 { width: 250px; background: #ededed; }

/*
	Canada: Parts Landing Page
*/
html.canada .landing.parts .attention { height: 350px; }
html.canada .landing .manuals input.text { width: 190px; }

/*
	Canada: Parts Dropdown
*/
html.canada .parts img { margin-bottom: 10px; }

/*
	Canada: Product Detail
*/
html.canada .product-detail-view .highlights { margin-left: 0; margin-bottom: 8px; width: auto; }
html.canada .product-detail-view .highlights img { margin-bottom: 0; }
html.canada .product-detail-view .highlights a.thumb { display: block; position: relative; }
html.canada .product-detail-view .highlights a.thumb .zoom { border: none; }
html.canada .product-detail-view .highlights .zoom {
  display: none;
  position: absolute;
  bottom: 6px;
  left: 4px;
  background: url(/wcpics/MTDProducts/en_US/images/magnify.gif) no-repeat; 
}
html.canada .product-detail-view .highlights a:hover .zoom { display: block; }
html.canada .product-detail-view .small-thumbs { margin-top: 0; list-style: none; }
html.canada .product-detail-view .small-thumbs li { list-style: none; margin-right: 7px; }
html.canada .product-detail-view .small-thumbs a img { display: inline-block; border: 4px solid #e7e9e9; }
html.canada .product-detail-view .small-thumbs a:hover img { border: 4px solid #c4c9c9; }
html.canada .product-detail-view .product-image { width: 408px; }
html.canada .product-detail-view .product-description { width: 370px; }
html.canada .product-detail-view .product-description h1 { font-size: 16px; color: #006600; }
html.canada .product-detail-view .product-description ul { margin-left: 16px; }
html.canada .product-detail-view .purchasing_info { float: right; }
html.canada .product-detail-view .purchasing_info p { padding: 5px 0 20px 0; }
html.canada .stars {
  background: url(/wcpics/MTDProducts/en_US/images/stars.png) 0 0 no-repeat;
  display: inline-block;
  height: 11px;
  vertical-align: middle;
  width: 56px; 
}
html.canada .stars.large { background: url(/wcpics/MTDProducts/en_US/images/stars-large.png) 0 0 no-repeat; height: 15px; width: 79px; }
html.canada .stars.large em { background: url(/wcpics/MTDProducts/en_US/images/stars-large.png) 0 -15px no-repeat; height: 15px; width: 79px; }
html.canada .stars em {
  background: url(/wcpics/MTDProducts/en_US/images/stars.png) 0 -11px no-repeat;
  display: block;
  height: 11px;
  overflow: hidden;
  text-indent: -1000000px;
  vertical-align: middle;
  width: 56px; 
}
html.canada .tab-content { padding: 12px 0 12px 12px; }
html.canada .tab-content a { text-decoration: underline; }
html.canada .tab-content a:hover { text-decoration: none; }
html.canada .tab-content h1 { font-size: 16px; font-weight: bold; }
html.canada .tab-content h1 img { display: inline-block; margin-right: 12px; vertical-align: middle; }
html.canada .tab-content ul { padding-left: 16px; }
html.canada .tab-content ul ul { padding-top: 6px; }
html.canada .tab-content .attention { height: auto; }
html.canada .tab-content .search_paging {
  border-bottom: 1px solid #e7e9e9;
  border-top: 1px solid #e7e9e9;
  padding: 18px 0 0 0;
  margin-bottom: 16px; 
}
html.canada .tab-content .search_paging form { margin-top: -4px; }
html.canada .tab-content .search_paging .contentPages .current, html.canada .tab-content .search_paging .contentPages a { display: inline-block; padding-left: 6px; text-decoration: none; }
html.canada .tab-content .search_paging .contentPages .current u, html.canada .tab-content .search_paging .contentPages a u { text-decoration: none; }
html.canada .tab-content h3 {
	font-size: 13px;
}
html.canada dl.specifications {
	width: 920px;
	border-bottom: 2px solid #ccc;
	margin: 0;
	padding: 0;
	clear: both;
}
html.canada dl.specifications dt, html.canada dl.specifications dd {
	float: left;
	border-top: 1px solid #ccc;	
	padding: 7px 0;
	margin: 0;
}
html.canada dl.specifications dt {
	font-weight: bold;
	width: 200px;
}
html.canada dl.specifications dd {
	width: 720px;
}
html.canada .tab-content .attention.col { margin-right: 10px; }
html.canada .tab-content .attention.col.last { margin-right: 0; margin-left: 0; }
html.canada .tab-content form ul { padding-left: 0px; }
html.canada .tab-content .attention a.button { text-decoration: none; }
html.canada .tab-content .service_center .button { margin-top: -10px; }
html.canada #accessories { padding: 10px; }
html.canada .accessories a { display: block; }
html.canada .accessories .product { border-bottom: 1px solid #ccc; padding: 20px 0; margin-bottom: 0px; width: 640px; }
html.canada .accessories .product.first { border-top: 1px solid #ccc; }
html.canada .accessories .photo { width: 140px; margin-right: 20px; }
html.canada .accessories .photo img { margin-left: 10px; }
html.canada .accessories .desc { width: 440px; }
html.canada .accessories .product h3 { font-size: 14px; }
html.canada .accessories .product h4 { margin-bottom: 7px; }
html.canada .accessories .product p { margin-bottom: 0px;  }

/*
	Canada: FAQs
*/
html.canada .main #feedFaqDivId a.active { display: block; font-weight: bold; text-decoration: none; }
html.canada #feedFaqDivId a.active .answer.hidden { display: block; font-weight: normal; margin-top: 12px; }
html.canada #feedFaqDivId .answer.hidden { display: none; }

/*
	Canada: FAQ Detail
*/
html.canada .faq-detail iframe { margin-bottom: 1.5em; }

/*
	Canada: Product Registration
*/
html.canada .check .warning.hide { 
	display: none;
}
html.canada .check .warning {
  color: red;
  margin: 5px 0 10px 25px;
  display: block;
  width: 280px;
}

/*
	Canada: French Translation Styles
*/
html.canada body.french ul#topnav a.ourCompany, html.canada body.french ul#topnav a.ourProducts, html.canada body.french ul#topnav a.safety, html.canada body.french ul#topnav a.ownersCenter, html.canada body.french ul#topnav a.buyParts { background-image: url(/wcpics/MTDProducts/en_US/images/sprite-fr.png); }
html.canada body.french ul#topnav a.ourCompany { background-position: -205px 0; width: 171px; }
html.canada body.french ul#topnav a.ourProducts { background-position: -376px 0; width: 131px; }
html.canada body.french ul#topnav a.safety { background-position: -507px 0; width: 179px; }
html.canada body.french ul#topnav a.ownersCenter { background-position: -686px 0; width: 218px; }
html.canada body.french ul#topnav a.buyParts { background-position: -904px 0; width: 76px; }
html.canada body.french ul#topnav a.ourCompany:hover, html.canada body.french#company a.ourCompany, html.canada body.french ul#topnav li.hovering a.ourCompany { background-position: -205px -52px; }
html.canada body.french ul#topnav a.ourProducts:hover, html.canada body.french#products a.ourProducts, html.canada body.french ul#topnav li.hovering a.ourProducts { background-position: -376px -52px; }
html.canada body.french ul#topnav a.safety:hover, html.canada body.french#safety a.safety, html.canada body.french ul#topnav li.hovering a.safety { background-position: -507px -52px; }
html.canada body.french ul#topnav a.ownersCenter:hover, html.canada body.french#owners a.ownersCenter, html.canada body.french ul#topnav li.hovering a.ownersCenter { background-position: -686px -52px; }
html.canada body.french ul#topnav a.buyParts:hover, html.canada body.french#buy a.buyParts, html.canada body.french ul#topnav li.hovering a.buyParts { background-position: -904px -52px; }
html.canada body.french ul#topnav li.our_products .sub { margin-left: -171px; }
html.canada body.french ul#topnav li.safe .sub { margin-left: -271px; }
html.canada body.french ul#topnav li.owner .sub { margin-left: -316px; }
html.canada body.french ul#topnav li.parts .sub { margin-left: -175px; }

/*
	Canada: Helpers
*/
html.canada .float-right { float: right; }
html.canada img.float-right { display: block; margin-bottom: 15px; margin-left: 15px; }
