#sb-title-inner,#sb-info-inner,#sb-loading-inner,div.sb-message{font-family:"HelveticaNeue-Light","Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:200;color:#fff;}
#sb-container{position:fixed;margin:0;padding:0;top:0;left:0;z-index:999;text-align:left;visibility:hidden;display:none;}
#sb-overlay{position:relative;height:100%;width:100%;}
#sb-wrapper{position:absolute;visibility:hidden;width:100px;}
#sb-wrapper-inner{position:relative;border:8px solid #004c29;overflow:hidden;height:100px; background:#fff; color:#333;}
#sb-body{position:relative;height:100%;}
#sb-body-inner{position:absolute;height:100%;width:100%;}
#sb-player.html{height:100%;overflow:auto;}
#sb-body img{border:none;}
#sb-loading{position:relative;height:100%;}
#sb-loading-inner{position:absolute;font-size:14px;line-height:24px;height:24px;top:50%;margin-top:-12px;width:100%;text-align:center;}
#sb-loading-inner span{background:;padding-left:34px;display:inline-block;}
#sb-body,#sb-loading{background-color:#fff;}
#sb-title,#sb-info{position:relative;margin:0;padding:0;overflow:hidden;}
#sb-title,#sb-title-inner{height:36px;line-height:36px; margin-bottom:-36px; z-index:999;}
#sb-title-inner{font-size:16px;}
#sb-info,#sb-info-inner{height:20px;line-height:20px;}
#sb-info-inner{font-size:12px;}
#sb-nav{float:right;height:16px;padding:15px 0;width:45%;}
#sb-nav a{display:block;float:right;height:16px;width:16px;margin-left:3px;cursor:pointer;background-repeat:no-repeat;}

#sb-nav-close{background-image:url(close01.gif) top left no-repeat;}
#sb-nav a#sb-nav-close {display:block;float:right;height:15px;width:65px;margin-left:3px;cursor:pointer; background:url(close01.gif) top left no-repeat;}

#sb-nav-next{background-image:url(next.png);}
#sb-nav-previous{background-image:url(previous.png);}
#sb-nav-play{background-image:url(play.png);}
#sb-nav-pause{background-image:url(pause.png);}
#sb-counter{float:left;width:45%;}
#sb-counter a{padding:0 4px 0 0;text-decoration:none;cursor:pointer;color:#fff;}
#sb-counter a.sb-counter-current{text-decoration:underline;}
div.sb-message{font-size:12px;padding:10px;text-align:center;}
div.sb-message a:link,div.sb-message a:visited{color:#fff;text-decoration:underline;}



/**************************************************
  	GLOBAL MODAL WINDOW
**************************************************/
body {font-size: 12px; font-family: Arial, sans-serif; color: #333; }


#sb-title-inner{display:none;}

.clear {clear:both;}
#map_overlay h1 {font-size:16px; color:#333; padding:5px 0 10px 0; margin-bottom:3px; font-weight:normal;}
#map_overlay p {color:#333; line-height: 18px; padding-bottom: 15px;}

/* map */
#map_overlay {padding:15px; font-size:12px;}
#map_bg {margin-top:30px; padding-right:50px; float:left; width:202px; height:104px; overflow:hidden; background: url(/wcpics/MTDProducts/en_US/images/sprite.png) no-repeat 0 0; background-position:0 -596px;} 
#map_locations {float:left; width:300px; margin-top:20px; height:350px; overflow:auto;}
#map_results {height:300px; width:300px; overflow:auto;}
.globalMapMenu {margin-bottom:10px;}

#the_map {
margin-top:30px; margin-right:40px; float:left; width:202px; height:104px; overflow:hidden; background: url(/wcpics/MTDProducts/en_US/images/sprite.png) no-repeat 0 0; background-position:0 -596px; position:relative;}
#the_map li {margin: 0; padding: 0; list-style: none; display: block; position: absolute;}
#the_map a {display: block; text-indent: -9999px; text-decoration: none; outline:none; cursor:pointer;}

#africa {left: 91px; top: 42px; width: 39px; height: 47px; z-index: 40;}
#asia {left: 125px; top: 25px; width: 58px; height: 51px;}
#australia {left: 157px; top: 73px; width: 22px; height: 24px;}
#europe {left: 94px; top: 13px; width: 23px; height: 32px;}
#northAmerica {left: 6px; top: 0px; width: 88px; height: 62px;}
#southAmerica {left: 58px; top: 58px; width: 25px; height: 46px;}

#africa a {height: 47px;}
#asia a {height: 51px;}
#australia a {height: 24px;}
#europe a {height: 32px;}
#northAmerica a {height: 62px;}
#southAmerica a {height: 46px;}


#africa a:hover, #africa a.active {background: url(/wcpics/MTDProducts/en_US/images/sprite.png) no-repeat 0 0; background-position:-242px -663px;}
#asia a:hover, #asia a.active {background: url(/wcpics/MTDProducts/en_US/images/sprite.png) no-repeat 0 0; background-position:-283px -662px;}
#australia a:hover, #australia a.active {background: url(/wcpics/MTDProducts/en_US/images/sprite.png) no-repeat 0 0; background-position:-307px -634px;}
#europe a:hover, #europe a.active {background: url(/wcpics/MTDProducts/en_US/images/sprite.png) no-repeat 0 0; background-position:-304px -596px;}
#northAmerica a:hover, #northAmerica a.active {background: url(/wcpics/MTDProducts/en_US/images/sprite.png) no-repeat 0 0; background-position:-207px -596px;}
#southAmerica a:hover, #southAmerica a.active {background: url(/wcpics/MTDProducts/en_US/images/sprite.png) no-repeat 0 0; background-position:-210px -663px;}